<link rel="stylesheet" href="/bootstrap/mevnah/css/bootstrap.css">
<link rel="stylesheet" href="/css/mevnah/animate.css">
<link rel="stylesheet" href="/fonts/mevnah/ionicons/css/ionicons.min.css">

<link rel="stylesheet" href="/css/mevnah/slick.css">
<link rel="stylesheet" href="/css/mevnah/slick-theme.css">

<link rel="stylesheet" href="/css/mevnah/helpers.css">
<link rel="stylesheet" href="/css/mevnah/style.css">
<!-- Bootstrap core CSS -->
<link href="/bootstrap/mevnah/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Font Awesome CSS -->
<!-- <link href="/fonts/mevnah/font-awesome/css/font-awesome.css" rel="stylesheet"> -->

<!-- Plugins -->
<link href="/css/mevnah/animations.css" rel="stylesheet">

<!-- Worthy core CSS file -->
<!-- <link href="/css/mevnah/style.css" rel="stylesheet"> -->

<link rel="stylesheet" href="/fonts/mevnah/font-awesome/css/font-awesome.min.css">

<!-- Custom css -->
<link href="/css/mevnah/custom.css" rel="stylesheet">