<script src="/js/mevnah/jquery.min.js"></script>

<script src="/js/mevnah/popper.min.js"></script>
<script src="/js/mevnah/bootstrap.min.js"></script>
<script src="/js/mevnah/slick.min.js"></script>
<script src="/js/mevnah/jquery.mb.YTPlayer.min.js"></script>

<script src="/js/mevnah/jquery.waypoints.min.js"></script>
<script src="/js/mevnah/jquery.easing.1.3.js"></script>

<script src="/js/mevnah/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js/CustomGoogleMapMarker.js"></script>

<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="/plugins/mevnah/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/mevnah/js/bootstrap.min.js"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="/plugins/mevnah/modernizr.js"></script>

<!-- Isotope javascript -->
<script type="text/javascript" src="/plugins/mevnah/isotope/isotope.pkgd.min.js"></script>

<!-- Backstretch javascript -->
<script type="text/javascript" src="/plugins/mevnah/jquery.backstretch.min.js"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="/plugins/mevnah/jquery.appear.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="/js/mevnah/template.js"></script>

<!-- Custom Scripts -->
<script type="text/javascript" src="/js/mevnah/custom.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123669535-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123669535-1');
</script>
