<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

         

            <div class="row">
              <!-- start phản hồi mới nhất -->
              <div class="col-lg-6">
               <div class="row">
                  <div class="col-md-6">
                      <div class="card p-30">
                        <div class="media">
                          <div class="media-left meida media-middle">
                            <span>
                              <i class="fa fa-location-arrow f-s-40 color-primary"></i>
                            </span>
                          </div>
                          <div class="media-body media-text-right">
                            <h2><%- totalMevnah ? totalMevnah : 0 %></h2>
                            <p class="m-b-0">Tổng số thông tin BMPT</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-6">
                      <div class="card p-30">
                        <div class="media">
                          <div class="media-left meida media-middle">
                            <span>
                              <i class="fa fa-unlock-alt f-s-40 color-success"></i>
                            </span>
                          </div>
                          <div class="media-body media-text-right">
                            <h2><%- reportRespond.totals[0] ? reportRespond.totals[0].values[0] : 0 %></h2>
                            <p class="m-b-0">Số lượt truy cập</p>
                          </div>
                        </div>
                      </div>
                    </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                      <div class="card p-30">
                        <div class="media">
                          <div class="media-left meida media-middle">
                            <span>
                              <i class="fa fa-reply f-s-40 color-warning"></i>
                            </span>
                          </div>
                          <div class="media-body media-text-right">
                            <h2><%- totalReply ? totalReply : 0 %></h2>
                            <p class="m-b-0">Tổng số phản hồi</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-6">
                      <div class="card p-30">
                        <div class="media">
                          <div class="media-left meida media-middle">
                            <span>
                              <i class="fa fa-user f-s-40 color-danger"></i>
                            </span>
                          </div>
                          <div class="media-body media-text-right">
                            <h2><%- reportRespond.totals[0] ? reportRespond.totals[0].values[1] : 0 %></h2>
                            <p class="m-b-0">Số lượt truy cập mới</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <!-- end phản hồi mới nhất -->
              <!-- start phản hồi mới nhất -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-title">
                      <h4>Số lượng các ba má phong trào</h4>
                  </div>
                  <div class="card-content">
                      <div id="statusOfHealth" style="height: 370px"></div>
                  </div>
                </div>
              </div>
              <!-- end phản hồi mới nhất -->
            </div>

            <!-- start biểu đồ và lịch -->
            <div class="row">
              <div class="col-lg-12">
                <div class="card">

                  <div class="card-title">
                    <div class="d-flex">
                      <div class="mr-auto p-2">
                        <h4 id="connectTitle">Thống kê truy cập tháng này</h4>
                      </div>
                      <div class="p-2">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary" id="connectChartDate">Theo ngày</button>
                        </div>
                      </div>
                      <div class="p-2">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary" id="connectChartMonth">Theo tháng</button>
                        </div>
                      </div>
                      
                    </div>

                  </div>

                  <div class="card-body">
                    <div id="connectChart"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">

              </div>
            </div>
            <!-- end biểu đồ và lịch -->
            
          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <%- include ../partials/footer %>
          <!-- End footer -->
  </div>
  <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <!-- Amchart -->
    <script src="/js/admindashboard/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/admindashboard/lib/morris-chart/morris.js"></script>
    <script src="/js/admindashboard/lib/echart/echarts.js"></script>
    <script>
      $.ajax({
        url: '/admin/statusOfHealth',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
          console.log('data', data)
          var dom = document.getElementById("statusOfHealth");
          var dnutChart = echarts.init(dom);
    
          var app = {};
          option = null;
          option = {
              color: ['#4aa9e9', '#ff6c60','#eac459'],
              tooltip : {
                  trigger: 'item',
                  formatter: '{a} <br/>{b} : {c} ({d}%)'
              },
              legend: {
                  orient : 'vertical',
                  x : 'left',
                  data:['Sức khỏe tốt','Đã mất','Sức khoẻ yếu']
              },
              calculable : true,
              series : [
                  {
                      name:'Source',
                      type:'pie',
                      radius : '55%',
                      center: ['50%', '60%'],
                      data:[
                          {value:`${data.good}`, name:'Sức khỏe tốt'},
                          {value:`${data.death}`, name:'Đã mất'},
                          {value:`${data.weak}`, name:'Sức khoẻ yếu'},
                      ]
                  }
              ]
          };
    
          if (option && typeof option === "object") {
              dnutChart.setOption(option, false);
          }
        }
      })

    </script>

    <script>
      function addDatatoChart(data, lables) {
        "use strict";
        Morris.Area({
          element: 'connectChart',
          data: data,
          lineColors: [ '#26DAD2', '#fc6180', '#62d1f3', '#ffb64d', '#4680ff' ],
          xkey: 'period',
          ykeys: lables,
          labels: lables,
          pointSize: 0,
          lineWidth: 0,
          resize: true,
          fillOpacity: 0.8,
          behaveLikeLine: true,
          gridLineColor: '#e0e0e0',
          hideHover: 'auto'

        });

      }
    </script>

    <script>

      $.ajax({
        url: '/admin/connectChart/date',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
          $('#connectChart').empty();
          addDatatoChart(data.data, data.lables)
        }
      })

      $('#connectChartMonth').on('click', function() {
        $.ajax({
          url: '/admin/connectChart/month',
          method: 'GET',
          dataType: 'json',
          success: function(data) {
            $('#connectChart').empty();
            addDatatoChart(data.data, data.lables)
          }
        })
      })

      $('#connectChartDate').on('click', function() {
        $.ajax({
          url: '/admin/connectChart/date',
          method: 'GET',
          dataType: 'json',
          success: function(data) {
            $('#connectChart').empty();
            addDatatoChart(data.data, data.lables)
          }
        })
      })
      
    </script>

</body>

</html>