<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <!-- <link rel="stylesheet" href="/css/admindashboard/lib/data-table/jquery.dataTable.css" type="text/css"> -->
    <link rel="stylesheet" href="/css/admindashboard/lib/html5-editor/bootstrap-wysihtml5.css" />
    <!-- start custom css -->
    <style>
      div.modal {
        width: 90%;
        height: 90%;
        margin: auto;
      }

      div.modal-dialog {
        max-width: 100%;
        margin: auto;
      }

      .ui.dimmer {
        line-height: 1.4;
        text-align: left
      }

      .table-hover tr {
        cursor: pointer;
      }
    </style>
    <!-- end custom css -->
</head>

<body class="fix-header fix-sidebar wysihtml5-supported">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/report">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <!-- start nav bar -->
            <div class="card">
              <div class="card-body p-b-0">
                <ul class="nav nav-tabs customtab" role="tablist">
                  <li class="nav-item">
                    <a href="#not-read" class="nav-link active" data-toggle="tab" role="tab">
                      <span class="hidden-sm-up">
                        <i class="ti-home"></i>
                      </span>
                      <span class="hidden-xs-down">Góp ý chưa trả lời</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#read" class="nav-link" data-toggle="tab" role="tab">
                      <span class="hidden-sm-up">
                        <i class="ti-home"></i>
                      </span>
                      <span class="hidden-xs-down">Góp ý đã trả lời</span>
                    </a>
                  </li>
                </ul>
              </div>

              <!-- end nav bar -->
              <!-- start content on tab -->
              <div class="tab-content">
                <div class="tab-pane active" id="not-read" role="tabpanel">
                  <div class="p-20">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table-data table table-hover table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Tiêu đề</th>
                                <th>Nội dung góp ý</th>
                                <th>Bài viết</th>
                                <th>Email</th>
                                <th>Hình ảnh</th>
                                <th>Thời gian</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% replyListFalse.map((item, index) => { %>
                                <tr data-toggle="modal" data-target="#readReplyFalse-<%- index %>">
                                    <th><%- item.name %></th>
                                    <th><%- item.email %></th>
                                    <% if(item.type == 'diachido') { %>
                                      <th>Địa chỉ đỏ - <%- item.refDiachido ? item.refDiachido.name : null %></th>
                                    <% } else { %>
                                      <th>Mẹ VNAH - <%- item.refMevnah ? item.refMevnah.name : null %></th>
                                    <% } %>
                                    <th><%- item.title %></th>
                                    <% let time = new Date (item.createdDate) %>
                                    <th><%- time.toLocaleString() %></th>
                                  
                                </tr>
                                <!-- start view modal -->
                                <div id="readReplyFalse-<%- index %>" class="modal" role="dialog">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h3>Xem chi tiết | <%- item.title %></h3>
                                          <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <!-- start body view -->
                                          <!-- start view thông tin người gửi -->
                                          <form method="POST" action="/admin/reply/<%- item._id %>">
                                          <div >
                                            <div class="d-flex flex-row">
                                              <div class="col">
                                                <div class="p-2 d-flex flex-row">
                                                  <h5 class="p-1">Tiêu đề</h5>
                                                  <p class="p-1">thanh</p>
                                                </div>
                                              </div>
                                              <div class="col">
                                                <div class="p-2 d-flex flex-row">
                                                  <h5 class="p-1">Nội dung góp ý</h5>
                                                  <p class="p-1">nội dung</p>
                                                </div>
                                              </div>
                                              <div class="col">
                                                <div class="p-2 d-flex flex-row">
                                                  <h5 class="p-1">Bài viết </h5>
                                                  <p class="p-1">bai viết</p>
                                                </div>
                                              </div>
                                              <div class="col">
                                                  <div class="p-2 d-flex flex-row">
                                                    <h5 class="p-1">Email </h5>
                                                    <p class="p-1">email/p>
                                                  </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-2 d-flex flex-row">
                                                      <h5 class="p-1">Hình ảnh </h5>
                                                      <p class="p-1">hinh anh</p>
                                                    </div>
                                                  </div>
                                                  <div class="col">
                                                      <div class="p-2 d-flex flex-row">
                                                        <h5 class="p-1">Thời gian</h5>
                                                        <p class="p-1">time</p>
                                                      </div>
                                                    </div>
                                            </div>
                                            <div class="d-flex flex-row">
                                              <div class="col-8">
                                                <div class="p-2 d-flex flex-row">
                                                  <h5 class="p-1">Đối tượng: </h5>
                                                  <% if(item.type == 'diachido') { %>
                                                    <a href="#" class="p-1">Địa chỉ đỏ - <%- item.refDiachido ? item.refDiachido.name : null %></a>
                                                  <% } else { %>
                                                    <a href="#" class="p-1">Mẹ VNAH - <%- item.refMevnah ? item.refMevnah.name : null %></a>
                                                  <% } %>
                                                </div>
                                              </div>
                                              <div class="col-4">
                                                <div class="p-2 d-flex flex-row">
                                                  <h5 class="p-1">Vị trí:</h5>
                                                  <% if(item.type == 'diachido') { %>
                                                    <a href="#" class="p-1"><%- item.refDiachido.wardsID ? item.refDiachido.wardsID.districtsID.districtName : null %> / <%- item.refDiachido.wardsID ? item.refDiachido.wardsID.wardName : null %></a>
                                                  <% } else { %>
                                                    <a href="#" class="p-1"><%- item.refMevnah.wardsID ? item.refMevnah.wardsID.districtsID.districtName : null %> / <%- item.refMevnah.wardsID ? item.refMevnah.wardsID.wardName : null %></a>
                                                  <% } %>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end thông tin người gửi -->
                                          <!-- start noi dung  -->
                                          <div class="row">
                                            <div class="col">
                                              <div class="highlight">
                                                <div class="d-flex flex-row">
                                                  <div class="w-90 d-flex flex-column">                                                  
                                                    <h5 class="text-blue">Tiêu đề: <%- item.title %></h5>
                                                    <h5>Nội dung:</h5>
                                                    <p><%- item.content %></p>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                  <label for="replyUser">Nội dung phản hồi lại</label>
                                                  <textarea class="form-control" name="replyUser" id="replyUser"rows="5" required></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="submit" class="btn btn-primary" value="<%- item._id %>" id="submit">Phản hồi</button>
                                                </div>
                                              </form>
                                            </div>

                                          </div>
                                          
                                          <!-- end noi dung -->
                                          <!-- end view body -->
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <!-- end view modal -->
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="read" role="tabpanel">
                    <div class="p-20">
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table-data table table-hover table-striped table-bordered">
                              <thead>
                                <tr>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung góp ý</th>
                                    <th>Bài viết</th>
                                    <th>Email</th>
                                    <th>Hình ảnh</th>
                                    <th>Thời gian</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% replyListTrue.map((item, index) => { %>
                                    <tr data-toggle="modal" data-target="#readReplyTrue-<%- index %>">
                                      <th><%- item.name %></th>
                                      <th><%- item.email %></th>
                                      <% if(item.type == 'diachido') { %>
                                        <th>Địa chỉ đỏ - <%- item.refDiachido.name %></th>
                                      <% } else { %>
                                        <th>Mẹ VNAH - <%- item.refMevnah.name %></th>
                                      <% } %>
                                      <th><%- item.title %></th>
                                      <th><%- item.title %></th>
                                      <% let time = new Date (item.createdDate) %>
                                      <th><%- time.toLocaleString() %></th>
                                    </tr>
                                  <!-- start view modal -->
                                  <div id="readReplyTrue-<%- index %>" class="modal" role="dialog">
                                      <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h3>Xem chi tiết | <%- item.title %></h3>
                                              <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <!-- start body view -->
                                              <!-- start view thông tin người gửi -->
                                              <form method="POST" action="/admin/reply/<%- item._id %>">
                                              <div >
                                                <div class="d-flex flex-row">
                                                  <div class="col">
                                                    <div class="p-2 d-flex flex-row">
                                                      <h5 class="p-1">Tiêu đề: </h5>
                                                      <p class="p-1"><%- item.name %></p>
                                                    </div>
                                                  </div>
                                                  <div class="col">
                                                    <div class="p-2 d-flex flex-row">
                                                      <h5 class="p-1">email:</h5>
                                                      <p class="p-1"><%- item.email %></p>
                                                    </div>
                                                  </div>
                                                  <div class="col">
                                                      <div class="p-2 d-flex flex-row">
                                                        <h5 class="p-1">Bài viết:</h5>
                                                        <p class="p-1"><%- item.email %></p>
                                                      </div>
                                                    </div>

                                                </div>
                                                <div class="d-flex flex-row">
                                                  <div class="col-4">
                                                    <div class="p-2 d-flex flex-row">
                                                      <h5 class="p-1">Đối tượng: </h5>
                                                      <% if(item.type == 'diachido') { %>
                                                        <a href="#" class="p-1">Địa chỉ đỏ - <%- item.refDiachido ? item.refDiachido.name : null %></a>
                                                      <% } else { %>
                                                        <a href="#" class="p-1">Mẹ VNAH - <%- item.refMevnah ? item.refMevnah.name : null %></a>
                                                      <% } %>
                                                    </div>
                                                  </div>
                                                  <div class="col-4">
                                                      <div class="p-2 d-flex flex-row">
                                                          <h5 class="p-1">Bài viết:</h5>
                                                          <p class="p-1"><%- item.email %></p>
                                                        </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="p-2 d-flex flex-row">
                                                        <h5 class="p-1">Thời gian: </h5>
                                                        <p class="p-1"><%- time.toLocaleString() %></p>
                                                      </div>
                                              </div>
                                              </div>
                                              <!-- end thông tin người gửi -->
                                              <!-- start noi dung  -->
                                              <div class="row">
                                                <div class="col">
                                                  <div class="highlight">
                                                    <div class="d-flex flex-row">
                                                      <div class="w-90 d-flex flex-column">                                                  
                                                        <h5 class="text-blue">Tiêu đề: <%- item.title %></h5>
                                                        <h5>Nội dung:</h5>
                                                        <p><%- item.content %></p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                      <label for="replyUser">Nội dung phản hồi lại</label>
                                                      <textarea class="form-control" name="replyUser" id="replyUser"rows="5" required></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button type="submit" class="btn btn-primary" value="<%- item._id %>" id="submit">Phản hồi</button>
                                                    </div>
                                                  </form>
                                                </div>
    
                                              </div>
                                              
                                              <!-- end noi dung -->
                                              <!-- end view body -->
                                            </div>
                                  </div>
                                  <!-- end view modal -->
                                <% }) %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
              </div>
            </div>
            <!-- end content on tab -->
            <!-- start modal -->

            

            <!-- end modal -->


            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>
    <script src="/js/admindashboard/lib/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="/js/admindashboard/lib/html5-editor/bootstrap-wysihtml5.js"></script>
    <script src="/js/admindashboard/lib/html5-editor/wysihtml5-init.js"></script>
</body>

</html>