<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Google analytic loading -->

  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
  <link rel="stylesheet" href="/css/admindashboard/lib/sweetalert/sweetalert.css">
  <link rel="stylesheet" href="/css/admindashboard/lib/magnific/magnific-popup.css">

    <style>
    .stt {
      max-width: 70px;
    }

    .ten {
      max-width: 180px;
    }

    .diachi {
      max-width: 300px;
    }

    .phuong {
      max-width: 100px;
    }

    .mfp-img {
      min-height: 500px;
    }

    .qrcode img {
      max-width: 60px;
    }

    .top-buffer {
      margin-top: 10px;
    }

    .left-buffer{
      margin-left: 20px;
    }

    .right-buffer {
      margin-right: 30px;
    }

    .btn-fill {
      width: 100%;
      height: 100%;
    }

    .col-centered {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    #copyLink {
      display: none;
    }
    .isLockedstyle th{
      color: red;
    }
    </style>
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
    <!-- End header header -->

    <!-- Left Sidebar  -->
    <%- include ../partials/left-sidebar %>
    <!-- End Left Sidebar  -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Bread crumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-primary">
            <%- directory %>
          </h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/admin/objects">
                <%- parent_directory %>
              </a>
            </li>
            <li class="breadcrumb-item active">
              <%- directory %>
            </li>
          </ol>
        </div>
      </div>
      <!-- End Bread crumb -->

      <!-- Container fluid  -->
      <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body p-b-0">
                  <h4 class="card-title">Danh sách tất cả mã QR Code</h4>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs customtab" role="tablist">

                    <!-- <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#diachido" role="tab">
                        <span class="hidden-sm-up">
                          <i class="ti-home"></i>
                        </span>
                        <span class="hidden-xs-down">Địa chỉ đỏ</span>
                      </a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#mevnah" role="tab">
                        <span class="hidden-sm-up">
                          <i class="ti-user"></i>
                        </span>
                        <span class="hidden-xs-down">Ba má phong trào</span>
                      </a>
                    </li>
                  </ul>
                  <!-- Tab panes -->

                  <!-- <div class="tab-content">
                    <div class="tab-pane active" id="diachido" role="tabpanel">
                      <div class="p-20">
                        <table class="table-data table table-striped table-bordered">
                          <thead>
                            <tr id="row-0">
                              <th>Trực thuộc</th>
                              <th>Tên địa chỉ đỏ</th>
                              <th>Mã QR</th>
                              <th>Trạng thái</th>
                              <th class="text-center">Hành động</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% diachidoList ? diachidoList.map((item, index) => { %>
                              <tr id="<%- item._id %>">
                                <th>
                                  <%- item.wardsID ? item.wardsID.wardName : null %>
                                </th>
                                <th>
                                  <%- item.name %>
                                </th>
                                <th>
                                  <img src='<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>'>
                                </th>
                                <% if( item.qrCodeID ? item.qrCodeID.isBanned : false == true) { %>
                                  <th>Đã bị khoá</th>
                                <% } else { %>
                                  <th>Đang hoạt động</th>
                                <% } %>
                                <th>
                                  <ul class="list-inline text-center">
                                    <li class="list-inline-item">
                                      <a title="Xem chi tiết" class="touch-link" href="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a title="Chia sẻ" class="touch-link" data-toggle="modal" data-target="#editModal-<%- item._id %>">
                                          <i class="fa fa-share"></i>
                                        </a>
                                      </li>
                                    <li class="list-inline-item">
                                      <a title="Chỉnh sửa trạng thái" class="touch-link" data-toggle="modal" data-target="#shareModal-<%- item._id %>">
                                        <i class="fa fa-edit"></i>
                                      </a>
                                    </li>
                                  </ul>
                                </th>
                              </tr>

                              <div id="editModal-<%- item._id %>" class="modal" role="dialog" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h3>Chỉnh sửa</h3>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p id="modal-test-edit-content"></p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div id="shareModal-<%- item._id %>" class="modal" role="dialog" tabindex="-1" aria-labelledby="shareModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h3>Chia sẻ</h3>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p id="modal-test-share-content"></p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% }) : null %>
                          </tbody>
                        </table>
                      </div>
                    </div> -->


                    <div class="tab-pane " id="mevnah" role="tabpanel">
                      <div class="p-20">
                        <table class="table-data table table-striped table-bordered">
                          <thead>
                            <tr id="row-0">
                              <th class="stt">STT</th>
                              <th>Trực thuộc</th>
                              <th class="ten">Tên ba má</th>
                              <th class="qrCode">Mã QR</th>
                              <th>Trạng thái</th>
                              <th>Số lượt truy cập tháng này</th>
                              <th class="text-left action">Hành động</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%meVNAHList.map((item, index) => { %>

                              <tr id="<%- item._id %>" <% if(item.isBanned == true){%>
                                class="isLockedstyle"
                              <%} %> >
                                <th>
                                  <%- index + 1 %>
                                </th>
                                <th>
                                  <%- item.districtsID ? item.districtsID.districtName : null %> / <%- item.wardsID ? item.wardsID.wardName : null %>
                                </th>
                                <th>
                                  <%- item.name %>
                                </th>
                                <th class="qrcode">
                                      <a class="img-item" href="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" title="qr code">
                                        <img class="image" src="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" />
                                      </a>
                                </th>
                                <th id="state_text-<%- item._id%>">
                                  <% if(item.qrCodeID ? item.qrCodeID.isBanned : false == true) { %>
                                    Đã bị khoá
                                  <% } else { %>
                                    Đang hoạt động
                                  <% } %>
                                </th>
                                <th class="qrCodeID" id="<%- item.qrCodeID ? item.qrCodeID._id : null %>">0</th>
                                <th>
                                  <ul class="list-inline text-center">
                                    <li class="list-inline-item">
                                      <a title="Xem chi tiết" class="touch-link" href="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>">
                                        <i class="fa fa-eye"></i>
                                      </a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="#shareModal" title="Chia sẻ" class="touch-link" data-toggle="modal"
                                      data-image="<%- item.qrCodeID.imageQRLink %>"
                                      data-direct="<%- item.qrCodeID.directTo %>" >
                                          <i class="fa fa-share"></i>
                                      </a>
                                      </li>
                                      <%  if (item.isBanned == false) {%>
                                        <li class="list-inline-item">
                                          <a href="#" id="change_state_btn-<%-item._id%>" class="btnLock" title="Khóa">
                                            <i id="change_state_icon-<%-item._id%>" class="fa fa-lock"></i>
                                          </a>
                                        </li>
                                        <%  } else { %>
                                          <li class="list-inline-item">
                                            <a href="#" id="change_state_btn-<%-item._id%>" class="btnUnlock" title="Mở khóa">
                                              <i id="change_state_icon-<%-item._id%>" class="fa fa-key"></i>
                                            </a>
                                          </li>
                                          <% } %>
                                  </ul>
                                </th>
                              </tr>

                              <!-- start share modal -->
                              <div id="shareModal" class="modal" role="dialog">
                                <div class="modal-dialog border rounded border-primary" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header bg-light ">
                                      <h2 class="m-auto text-primary">Chia sẻ</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="row">
                                              <div class="col-md-12 top-buffer col-centered" >
                                                  <img id="share-img" src="#" width="100%" aria-hidden="true" alt="qrcode" title="qrcode">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="row col-centered">
                                              <div class="col-md-10 top-buffer px-0" style="background: #516eab;">
                                                <a id="share-fb" target="_blank" class="btn btn-default px-0  btn-fill" style="color: #fff;" href="#" title="Chia sẻ qua facebook">
                                                  <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                                </a>
                                              </div>
                                            </div>
                                            <div class="row col-centered">
                                              <div class="col-md-10 top-buffer px-0 " style="background:  #eb4026;">
                                                <a id="share-mail" class="btn btn-default px-0 btn-fill" style="color: #fff;" href="#" title="Chia sẻ qua email">
                                                  <i class="fa fa-envelope-square" aria-hidden="true"></i> Mail
                                                </a>
                                              </div>
                                            </div>
                                            <div class="row col-centered">
                                              <div class="col-md-10 top-buffer px-0 " style="background: #a5a291;">
                                                <a id="share-link" class="btn btn-default px-0 btn-fill copy-btn" style=" color: #fff;" title="Copy đường Link" data-clipboard-text="#">
                                                    <i class="fa fa-link" aria-hidden="true"></i> Copy Link
                                                </a>
                                              </div>
                                            </div>
                                            <div class="row col-centered">
                                              <div class="col-md-10 top-buffer  px-0 " style="background: #29c5f6;">
                                                  <a id="share-twitter" class="btn btn-default px-0  btn-fill " style=" color: #fff;" href="#" title="Chia sẻ qua Twitter">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                                                  </a>
                                              </div>
                                            </div>
                                            <div class="row col-centered">
                                              <div class="col-md-10 top-buffer  px-0" style="background: #68be5b;">
                                                <a id="share-download" class="btn btn-default px-0  btn-fill " style="color: #fff;" href="#" target="_blank" download>
                                                  <i class="fa fa-download" aria-hidden="true"></i> Tải QrCode
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Đóng</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end share modal -->
                              <% });%>
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->

      <!-- footer -->
      <%- include ../partials/footer %>
      <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->


  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>
    <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script type="text/javascript">
    var clipboard = new ClipboardJS('.copy-btn');

      $(document).on('click', '.btnUnlock', function (e) {
        // ******************************************************************************
        // sweetalert forms
        var swal_Confirm_Unlock_form = {
            title: "Bạn có muốn mở khóa địa chỉ này ?",
            text: "Tất cả thông tin về địa chỉ này sẽ được hiện lại",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Chắc chắn !!",
            closeOnConfirm: false
          };
        var swal_Unlock_Success_form ={
          title: "Đã mở khóa !!",
          text: "Bạn đã mở khóa địa chỉ thành công",
          type: "success",
        };


        // ******************************************************************************

        let target_id = $(this).closest('tr').attr('id');

        swal(swal_Confirm_Unlock_form, function(e){
            $.ajax({
              url: `/admin/mevnah/${target_id}/active`,
              type: 'put',
              success: swal_Unlock_Success()
            });
          });


          function swal_Unlock_Success(){
            swal(swal_Unlock_Success_form, function(e){
              change_item_to_unlocked();
            });
          };

          function change_item_to_unlocked(){
            document.getElementById(`state_text-${target_id}`).innerHTML = "Đang hoạt động";
            document.getElementById(`change_state_btn-${target_id}`).classList.add('btnLock');
            document.getElementById(`change_state_btn-${target_id}`).classList.remove('btnUnlock');
            document.getElementById(`change_state_icon-${target_id}`).classList.add('fa-lock');
            document.getElementById(`change_state_icon-${target_id}`).classList.remove('fa-key');
            document.getElementById(`${target_id}`).classList.remove('isLockedstyle');
          };

      });


      // ******************************************************************************
      $(document).on('click', '.btnLock', function (e) {
        var swal_Confirm_Lock_form = {
            title: "Bạn có muốn khóa địa chỉ này ?",
            text: "Tất cả thông tin về địa chỉ này sẽ bị ẩn đi",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Chắc chắn !!",
            closeOnConfirm: false
          };
        var swal_Lock_Success_form ={
          title: "Đã khóa !!",
          text: "Bạn đã khóa địa chỉ thành công",
          type: "success",
        };

        let target_id = $(this).closest('tr').attr('id');
        swal(swal_Confirm_Lock_form, function(e){
            $.ajax({
              url: `/admin/mevnah/${target_id}`,
              type: 'delete',
              success: swal_Lock_Success()
            });
          });


          function swal_Lock_Success(){
            swal(swal_Lock_Success_form, function(e){
              change_item_to_locked();
            });
          };

          function change_item_to_locked(){
            document.getElementById(`state_text-${target_id}`).innerHTML = "Đã bị khóa";
            document.getElementById(`change_state_btn-${target_id}`).classList.add('btnUnlock');
            document.getElementById(`change_state_btn-${target_id}`).classList.remove('btnLock');
            document.getElementById(`change_state_icon-${target_id}`).classList.add('fa-key');
            document.getElementById(`change_state_icon-${target_id}`).classList.remove('fa-lock');
            document.getElementById(`${target_id}`).classList.add('isLockedstyle');
          };
      });


      // *******************************************************************************
      $('.qrcode').magnificPopup({
        delegate: 'a',
        type: 'image',
        mainClass: 'mfp-with-zoom',
        zoom: {
          enabled: true,
          duration: 400,
          easing: 'ease-in-out',
        }
      });
    </script>

    <script>
      if($(".qrCodeID")[0]) {
        $(".qrCodeID").each(function(index, value) {
          $.ajax({
            url: `/api/qrcode/count/${$(this).attr('id')}`,
            method: "POST",
            dataType: "json",
            data: {
              startDate: `<%- startOfMonth %>`
            },
            success: function(data) {
              if (data) {
                document.getElementById(`${data._id}`).innerHTML = data.data;
              }
            }
          })
        })
      }
      })
// ***************************************************************************************
  $('#shareModal').on('show.bs.modal', function(event){

    var button = $(event.relatedTarget);
    var directTo = button.data('direct');
    var imageLink = button.data('image');
    var modal= $(this);


    modal.find('.modal-body #share-img').attr("src", `${imageLink}`);
    modal.find('.modal-body #share-fb').attr("href", `https://www.facebook.com/sharer/sharer.php?u=${directTo}%2F&amp;src=sdkpreparse`);
    modal.find('.modal-body #share-mail').attr("href", `mailto:?subject=Link trang mẹ Việt Nam Anh Hùng&amp;body=Xem thử trang nè ${directTo}`);
    modal.find('.modal-body #share-link').attr("data-clipboard-text", `${directTo}`);
    modal.find('.modal-body #share-twitter').attr("href", `http://twitter.com/share?text=Trang mẹ Việt Nam anh hùng&url=${directTo}&hashtags=MHXUIT2018,WEBDEV`);
    modal.find('.modal-body #share-download').attr("href", `${imageLink}`);

  })
    </script>
</body>

</html>
