.header-item {
    margin-left: 20px;
}
.header-model {
    padding:10px;
    text-align:center;
}
.header-model h6 {
    border-bottom:1px solid #dee0e5;
    padding-bottom:10px;
}
.body-model strong {
    padding:5px;
    margin:5px;
}
#carouselExampleFade {
    margin:15px;
}