<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include admindashboard/partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- Container fluid  -->
    <div class="container-fluid">
      <!-- Start Page Content -->
      <div class="error-page" id="wrapper">
        <div class="error-box">
          <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Trang không tồn tại</h3>
            <p class="text-muted m-t-30 m-b-30">Vui lòng kiểm tra và thử lại sau</p>
            <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="/">Trang chủ</a>
          </div>
          <footer class="footer text-center">&copy; diachido.info</footer>
        </div>
      </div>
      <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <!-- End footer -->

    <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include admindashboard/partials/scripts %>

</body>

</html>