<!-- <form id="form" enctype="multipart/form-data" action="/api/upload/image" method="post">
  <label>Logo</label>
  <input type="file" placeholder="image" name="image" id="image" class="form-control">

  <button id="addform" type="submit" class="btn btn-primary">Add Profile</button>


</form> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include admindashboard/partials/css %>
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">
</head>

<body>
  <div>
    <form action='/api/form/mevnah/5b47166a17f1fd2dd89df86b' method="POST">
      <div class="fallback">
        <input name="email" type="email"/>
        <input name="name" type="name"/>
        <input name="title" type="title"/>
        <input name="content" type="content"/>
      </div>
      <button id="btn-submit" type="submit">submit</button>
    </form>
    <%- table %>
  </div>
  
</body>

</html>