<!DOCTYPE html>
<html lang="en">

<head>
		<% include ../../gtag %>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles/mainpage/bootstrap4/bootstrap.min.css">
	<link href="/plugins/mainpage/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/plugins/mainpage/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/plugins/mainpage/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="/plugins/mainpage/OwlCarousel2-2.2.1/animate.css">
	<link rel="stylesheet" type="text/css" href="/styles/mainpage/about_styles.css">
	<link rel="stylesheet" type="text/css" href="/styles/mainpage/about_responsive.css">
</head>

<body>

	<div class="super_container">

		<!-- Header -->

		<header class="header">

			<!-- Top Bar -->

			<!-- <div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="phone">+45 345 3324 56789</div>
						<div class="social">
							<ul class="social_list">
								<li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="user_box ml-auto">
							<div class="user_box_login user_box_link"><a href="#">login</a></div>
							<div class="user_box_register user_box_link"><a href="#">register</a></div>
						</div>
					</div>
				</div>
			</div>		
		</div> -->

			<!-- Main Navigation -->

			<nav class="main_nav">
				<div class="container">
					<div class="row">
						<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<div class="logo">
									<a href="#">
										<img src="images/logo.png" style="width: 50px;" alt="">Địa chỉ đỏ</a>
								</div>
							</div>
							<div class="main_nav_container ml-auto">
								<ul class="main_nav_list">
									<li class="main_nav_item">
										<a href="/">home</a>
									</li>
									<li class="main_nav_item">
										<a href="#">about us</a>
									</li>
									<li class="main_nav_item">
										<a href="search">offers</a>
									</li>
									<li class="main_nav_item">
										<a href="blog.html">news</a>
									</li>
									<li class="main_nav_item">
										<a href="contact.html">contact</a>
									</li>
								</ul>
							</div>
							<div class="content_search ml-lg-0 ml-auto">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
									<g>
										<g>
											<g>
												<path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
											s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
											C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
											M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
											c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z" />
											</g>
										</g>
										<g>
											<g>
												<path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
											c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
											C-2.019,484.77-2.019,497.865,6.057,505.942z" />
											</g>
										</g>
									</g>
								</svg>
							</div>

							<form id="search_form" class="search_form bez_1">
								<input type="search" class="search_content_input bez_1">
							</form>

							<div class="hamburger">
								<i class="fa fa-bars trans_200"></i>
							</div>
						</div>
					</div>
				</div>
			</nav>

		</header>

		<div class="menu trans_500">
			<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
				<div class="menu_close_container">
					<div class="menu_close"></div>
				</div>
				<div class="logo menu_logo">
					<a href="#">
						<img src="images/logo.png" alt="">
					</a>
				</div>
				<ul>
					<li class="menu_item">
						<a href="index.html">home</a>
					</li>
					<li class="menu_item">
						<a href="#">about us</a>
					</li>
					<li class="menu_item">
						<a href="offers.html">offers</a>
					</li>
					<li class="menu_item">
						<a href="blog.html">news</a>
					</li>
					<li class="menu_item">
						<a href="contact.html">contact</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/backgroundDiachido.info.jpg"></div>
			<div class="home_content">
				<div class="home_title">
					<p style="font-size: 30px">CÔNG TRÌNH THANH NIÊN</p>
					<p>Đại học công nghệ thông tin</p>
				</div>
			</div>
		</div>

		<!-- Intro -->

		<div class="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="intro_image">
							<img src="images/mainpage/intro.png" alt="">
						</div>
					</div>
					<div class="col-lg-5">
						<div class="intro_content">
							<div class="intro_title">we have the best tours</div>
							<p class="intro_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vulputate eros, iaculis consequat nisl. Nunc
								et suscipit urna. Integer elementum orci eu vehicula pretium. Donec bibendum tristique condimentum. Aenean in lacus
								ligula. Phasellus euismod gravida eros. Aenean nec ipsum aliquet, pharetra magna id, interdum sapien. Etiam id lorem
								eu nisl pellentesque semper. Nullam tincidunt metus placerat, suscipit leo ut, tempus nulla. Fusce at eleifend tellus.
								Ut eleifend dui nunc, non fermentum quam placerat non. Etiam venenatis nibh augue, sed eleifend justo tristique eu</p>
							<div class="button intro_button">
								<div class="button_bcg"></div>
								<a href="#">explore now
									<span></span>
									<span></span>
									<span></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="intro_content">
							<div class="intro_title">we have the best tours</div>
							<p class="intro_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vulputate eros, iaculis consequat nisl. Nunc
								et suscipit urna. Integer elementum orci eu vehicula pretium. Donec bibendum tristique condimentum. Aenean in lacus
								ligula. Phasellus euismod gravida eros. Aenean nec ipsum aliquet, pharetra magna id, interdum sapien. Etiam id lorem
								eu nisl pellentesque semper. Nullam tincidunt metus placerat, suscipit leo ut, tempus nulla. Fusce at eleifend tellus.
								Ut eleifend dui nunc, non fermentum quam placerat non. Etiam venenatis nibh augue, sed eleifend justo tristique eu</p>
							<div class="button intro_button">
								<div class="button_bcg"></div>
								<a href="#">explore now
									<span></span>
									<span></span>
									<span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="intro_image">
							<img src="images/mainpage/intro.png" alt="">
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Stats -->




		<!-- Add -->

		<div class="add">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="add_container">
							<div class="add_background" style="background-image:url(images/mainpage/add.jpg)"></div>
							<div class="add_content">
								<h1 class="add_title">thailand</h1>
								<div class="add_subtitle">From
									<span>$999</span>
								</div>
								<div class="button add_button">
									<div class="button_bcg"></div>
									<a href="#">explore now
										<span></span>
										<span></span>
										<span></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Milestones -->

		<div class="milestones">
			<div class="container">
				<div class="row">

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon">
								<img src="images/mainpage/milestone_1.png" alt="">
							</div>
							<div class="milestone_counter" data-end-value="255">0</div>
							<div class="milestone_text">Clients</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon">
								<img src="images/mainpage/milestone_2.png" alt="">
							</div>
							<div class="milestone_counter" data-end-value="1176">0</div>
							<div class="milestone_text">Projects</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon">
								<img src="images/mainpage/milestone_3.png" alt="">
							</div>
							<div class="milestone_counter" data-end-value="39">0</div>
							<div class="milestone_text">Countries</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon">
								<img src="images/mainpage/milestone_4.png" alt="">
							</div>
							<div class="milestone_counter" data-end-value="127">0</div>
							<div class="milestone_text">Coffees</div>
						</div>
					</div>

				</div>
			</div>
    </div>
    

    <!-- gioi thieu doi hinh -->
    <div class="offers">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h2 class="section_title">the best offers with rooms</h2>
            </div>
          </div>
          <div class="row offers_items">
    
            <!-- Offers Item -->
            <div class="col-lg-6 offers_col">
              <div class="offers_item">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="offers_image_container">
                      <!-- Image by https://unsplash.com/@kensuarez -->
                      <div class="offers_image_background" style="background-image:url(images/mainpage/offer_1.jpg)"></div>
                      <div class="offer_name"><a href="#">grand castle</a></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="offers_content">
                      <div class="offers_price">$70<span>per night</span></div>
                      <div class="rating_r rating_r_4 offers_rating">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                      </div>
                      <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                      <div class="offers_icons">
                        <ul class="offers_icons_list">
                          <li class="offers_icons_item"><img src="images/post.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
                        </ul>
                      </div>
                      <div class="offers_link"><a href="offers.html">read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Offers Item -->
            <div class="col-lg-6 offers_col">
              <div class="offers_item">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="offers_image_container">
                      <!-- Image by Egzon Bytyqi -->
                      <div class="offers_image_background" style="background-image:url(images/mainpage/offer_2.jpg)"></div>
                      <div class="offer_name"><a href="#">turkey hills</a></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="offers_content">
                      <div class="offers_price">$50<span>per night</span></div>
                      <div class="rating_r rating_r_4 offers_rating">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                      </div>
                      <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                      <div class="offers_icons">
                        <ul class="offers_icons_list">
                          <li class="offers_icons_item"><img src="images/post.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
                        </ul>
                      </div>
                      <div class="offers_link"><a href="offers.html">read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Offers Item -->
            <div class="col-lg-6 offers_col">
              <div class="offers_item">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="offers_image_container">
                      <!-- Image by https://unsplash.com/@nevenkrcmarek -->
                      <div class="offers_image_background" style="background-image:url(images/mainpage/offer_3.jpg)"></div>
                      <div class="offer_name"><a href="#">island dream</a></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="offers_content">
                      <div class="offers_price">$90<span>per night</span></div>
                      <div class="rating_r rating_r_4 offers_rating">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                      </div>
                      <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                      <div class="offers_icons">
                        <ul class="offers_icons_list">
                          <li class="offers_icons_item"><img src="images/post.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
                        </ul>
                      </div>
                      <div class="offers_link"><a href="offers.html">read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Offers Item -->
            <div class="col-lg-6 offers_col">
              <div class="offers_item">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="offers_image_container">
                      <!-- Image by https://unsplash.com/@mantashesthaven -->
                      <div class="offers_image_background" style="background-image:url(images/mainpage/offer_4.jpg)"></div>
                      <div class="offer_name"><a href="#">travel light</a></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="offers_content">
                      <div class="offers_price">$30<span>per night</span></div>
                      <div class="rating_r rating_r_4 offers_rating">
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                      </div>
                      <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                      <div class="offers_icons">
                        <ul class="offers_icons_list">
                          <li class="offers_icons_item"><img src="images/post.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
                          <li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
                        </ul>
                      </div>
                      <div class="offers_link"><a href="offers.html">read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>

    <!-- end gt -->

		<!-- Footer -->

		<footer class="footer">
			<div class="container">
				<div class="row">

					<!-- Footer Column -->
					<div class="col-lg-3 footer_column">
						<div class="footer_col">
							<div class="footer_content footer_about">
								<div class="logo_container footer_logo">
									<div class="logo">
										<a href="#">
											<img src="images/logo.png" alt="">travelix</a>
									</div>
								</div>
								<p class="footer_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vu lputate eros, iaculis consequat nisl. Nunc
									et suscipit urna. Integer eleme ntum orci eu vehicula pretium.</p>
								<ul class="footer_social_list">
									<li class="footer_social_item">
										<a href="#">
											<i class="fa fa-pinterest"></i>
										</a>
									</li>
									<li class="footer_social_item">
										<a href="#">
											<i class="fa fa-facebook-f"></i>
										</a>
									</li>
									<li class="footer_social_item">
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li class="footer_social_item">
										<a href="#">
											<i class="fa fa-dribbble"></i>
										</a>
									</li>
									<li class="footer_social_item">
										<a href="#">
											<i class="fa fa-behance"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_column">
						<div class="footer_col">
							<div class="footer_title">blog posts</div>
							<div class="footer_content footer_blog">

								<!-- Footer blog item -->
								<div class="footer_blog_item clearfix">
									<div class="footer_blog_image">
										<img src="images/footer_blog_1.jpg" alt="https://unsplash.com/@avidenov">
									</div>
									<div class="footer_blog_content">
										<div class="footer_blog_title">
											<a href="blog.html">Travel with us this year</a>
										</div>
										<div class="footer_blog_date">Nov 29, 2017</div>
									</div>
								</div>

								<!-- Footer blog item -->
								<div class="footer_blog_item clearfix">
									<div class="footer_blog_image">
										<img src="images/footer_blog_2.jpg" alt="https://unsplash.com/@deannaritchie">
									</div>
									<div class="footer_blog_content">
										<div class="footer_blog_title">
											<a href="blog.html">New destinations for you</a>
										</div>
										<div class="footer_blog_date">Nov 29, 2017</div>
									</div>
								</div>

								<!-- Footer blog item -->
								<div class="footer_blog_item clearfix">
									<div class="footer_blog_image">
										<img src="images/footer_blog_3.jpg" alt="https://unsplash.com/@bergeryap87">
									</div>
									<div class="footer_blog_content">
										<div class="footer_blog_title">
											<a href="blog.html">Travel with us this year</a>
										</div>
										<div class="footer_blog_date">Nov 29, 2017</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_column">
						<div class="footer_col">
							<div class="footer_title">tags</div>
							<div class="footer_content footer_tags">
								<ul class="tags_list clearfix">
									<li class="tag_item">
										<a href="#">design</a>
									</li>
									<li class="tag_item">
										<a href="#">fashion</a>
									</li>
									<li class="tag_item">
										<a href="#">music</a>
									</li>
									<li class="tag_item">
										<a href="#">video</a>
									</li>
									<li class="tag_item">
										<a href="#">party</a>
									</li>
									<li class="tag_item">
										<a href="#">photography</a>
									</li>
									<li class="tag_item">
										<a href="#">adventure</a>
									</li>
									<li class="tag_item">
										<a href="#">travel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="col-lg-3 footer_column">
						<div class="footer_col">
							<div class="footer_title">contact info</div>
							<div class="footer_content footer_contact">
								<ul class="contact_info_list">
									<li class="contact_info_item d-flex flex-row">
										<div>
											<div class="contact_info_icon">
												<img src="images/placeholder.svg" alt="">
											</div>
										</div>
										<div class="contact_info_text">4127 Raoul Wallenber 45b-c Gibraltar</div>
									</li>
									<li class="contact_info_item d-flex flex-row">
										<div>
											<div class="contact_info_icon">
												<img src="images/phone-call.svg" alt="">
											</div>
										</div>
										<div class="contact_info_text">2556-808-8613</div>
									</li>
									<li class="contact_info_item d-flex flex-row">
										<div>
											<div class="contact_info_icon">
												<img src="images/message.svg" alt="">
											</div>
										</div>
										<div class="contact_info_text">
											<a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a>
										</div>
									</li>
									<li class="contact_info_item d-flex flex-row">
										<div>
											<div class="contact_info_icon">
												<img src="images/planet-earth.svg" alt="">
											</div>
										</div>
										<div class="contact_info_text">
											<a href="https://colorlib.com">www.colorlib.com</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</footer>

		<!-- Copyright -->

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 order-lg-1 order-2  ">
						<div class="copyright_content d-flex flex-row align-items-center">
							<div>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
								<i class="fa fa-heart-o" aria-hidden="true"></i> by
								<a href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</div>
						</div>
					</div>
					<div class="col-lg-9 order-lg-2 order-1">
						<div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
							<div class="footer_nav">
								<ul class="footer_nav_list">
									<li class="footer_nav_item">
										<a href="index.html">home</a>
									</li>
									<li class="footer_nav_item">
										<a href="#">about us</a>
									</li>
									<li class="footer_nav_item">
										<a href="offers.html">offers</a>
									</li>
									<li class="footer_nav_item">
										<a href="blog.html">news</a>
									</li>
									<li class="footer_nav_item">
										<a href="contact.html">contact</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="/js/mainpage/jquery-3.2.1.min.js"></script>
	<script src="/styles/mainpage/bootstrap4/popper.js"></script>
	<script src="/styles/mainpage/bootstrap4/bootstrap.min.js"></script>
	<script src="/plugins/mainpage/greensock/TweenMax.min.js"></script>
	<script src="/plugins/mainpage/greensock/TimelineMax.min.js"></script>
	<script src="/plugins/mainpage/scrollmagic/ScrollMagic.min.js"></script>
	<script src="/plugins/mainpage/greensock/animation.gsap.min.js"></script>
	<script src="/plugins/mainpage/greensock/ScrollToPlugin.min.js"></script>
	<script src="/plugins/mainpage/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="/plugins/mainpage/easing/easing.js"></script>
	<script src="/plugins/mainpage/parallax-js-master/parallax.min.js"></script>
	<script src="/js/mainpage/about_custom.js"></script>

</body>

</html>