<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="">
              <!-- start show địa chỉ đỏ -->
              <div class="card">
                <div class="card-title">
                  <h4>Danh sách các tài khoản</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-data">
                      <thead class="">
                        <tr>
                          <th>Stt</th>
                          <th>Địa phương</th>
                          <th>Tên người dùng</th>
                          <th>Email</th>
                          <th class="text-left">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% userList.map((user, item) => { %>
                          <tr>
                            <th><%- item + 1 %></th>
                            <% if(level == 1) { %>
                              <th><%- user.districtsID ? user.districtsID.districtName : null %></th>
                            <% } else { %>
                              <th><%- user.wardsID ? user.wardsID.wardName : null %></th>
                            <% } %>
                            <th><%- user.name %></th>
                            <th><%- user.email %></th>
                            <th>
                              <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                  <a title="Khôi phục mật khẩu" class="chi-tiet touch-link" data-toggle="modal" data-target="#reset-password-<%- user._id %>">
                                    <i class="fa fa-unlock"></i>
                                  </a>
                                </li>
                                <!-- <li class="list-inline-item">
                                  <a title="Xoá người dùng" class="chinh-sua touch-link" data-toggle="modal" data-target="#remove-user-<%- user._id %>">
                                    <i class="fa fa-remove"></i>
                                  </a>
                                </li> -->
                              </ul> 
                            </th>
                          </tr>
                          <!-- Reset password Begin -->
                          <div id="reset-password-<%- user._id %>" class="modal" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h3>Khôi phục mật khẩu cho người dùng <%- item.name %></h3>
                                    <button type="button" class="close" data-dismiss="modal">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <p id="modal-test-view-content"></p>
                                    <form method="POST" action="/admin/resetPassword/<%- user._id %>">
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Khôi phục mật khẩu</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Reset password End -->
                          
                          <!-- Remove User Begin -->
                          <div id="remove-user-<%- user._id %>" class="modal" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3>Xoá tài khoản người dùng <%- item.name %></h3>
                                  <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p id="modal-test-view-content"></p>
                                  <form method="POST" action="/admin/removeUsers/<%- user._id %>">
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Xoá tài khoản người dùng</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Remove User End -->
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end show địa chỉ đỏ -->
            </div>

            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <!-- scripit init-->
    <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>
    <!-- scripit init-->
    <script src="/js/admindashboard/lib/sweetalert/sweetalert.init.js"></script>
    <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>

</body>

</html>