<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <div class="unix-change-password">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="change-password-form">
                <h4>Đổi mật khẩu</h4>
                <form method="POST" action="/admin/change-password">
                  <div class="form-group">
                    <label>Mật khẩu cũ</label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ" name="oldPassword">
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" name="newPassword">
                  </div>
                  <div class="form-group">
                    <label>Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" name="reTypePassword">
                  </div>
                  <a href="/admin" class="btn btn-primary btn-flat m-b-30 m-t-30">Quay lại</a>
                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Đổi mật khẩu</button>
                </form>
                <% if(mess != '') { %>
                  <div class="alert alert-danger">
                    <%- mess %>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- End Wrapper -->

    <%- include ../partials/scripts %>

</body>

</html>

  