<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <div class="unix-forget-password">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="forget-password-form">
                <center><h4>QUÊN MẬT KHẨU</h4></center>
                <form method="POST" action="/admin/forget-password">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" name="email">
                  </div>
                  <a href="/admin" class="btn btn-primary btn-flat m-b-30 m-t-30">Quay lại</a>
                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Xác nhận</button>
                </form>
                <% if (mess != '') { %>
                  <% if (mess == 'Email bạn nhập không tồn tại trong hệ thống') { %>
                    <div class="alert alert-danger alert-dismissible error" id="error">
                      <%- mess %>
                    </div>
                    
                  <% } %>
                  <% if (mess == 'Hãy kiểm tra email để tạo lại mật khẩu mới') { %>
                    <div class="alert alert-success alert-dismissible success" id="success">
                      <%- mess %>
                    </div>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
  
</body>

</html>