<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <div class="unix-login">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="login-form">
                <h4>Đăng nhập</h4>
                <form method="POST" action="/admin/login">
                  <div class="form-group">
                    <label>Địa chỉ email</label>
                    <input type="email" class="form-control" placeholder="Email" name="username">
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                  </div>
                  <% if(mess != '') { %>
                    <div class="alert alert-danger">
                      <%- mess %>
                    </div>
                  <% } %>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="remember"> Ghi nhớ đăng nhập
                    </label>
                    <label class="pull-right">
                      <a href="/admin/forget-password">Quên mật khẩu?</a>
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Đăng nhập</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- End Wrapper -->

    <%- include ../partials/scripts %>

</body>

</html>

  

  