<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <div class="unix-login">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="login-form">
                <h4>TẠO TÀI KHOẢN MỚI</h4>
                <form method="POST" action="<%- postTo %>">
                  <div class="form-group">
                    <label>Họ và tên người dùng</label>
                    <input type="text" class="form-control" placeholder="Nguyễn Văn A" name="fullname" required>
                  </div>
                  <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><%- prepend %></div>
                      </div>
                      <input type="text" class="form-control"  placeholder="Username" name="username" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Địa chỉ email</label>
                    <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
                  </div>
                  <div class="form-group">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"><%- levelNextName %></label>
                    <select class="custom-select mr-sm-2" id="<%- prepend %>" name="<%- prepend %>" required>
                      <% if (prepend === "district_") { %>
                        <% levelList.map(item => { %>
                          <option value="<%- item._id %>"><%- item.districtName %></option>
                        <% }) %>
                      <% } else { %>
                        <% levelList.map(item => { %>
                          <option value="<%- item._id %>"><%- item.wardName %></option>
                        <% }) %>
                      <% } %>
                    </select>
                  </div>
                  <% if(isDeveloper) { %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="on" name="isDeveloper">
                      <label class="form-check-label" for="defaultCheck1">
                        Là lập trình viên
                      </label>
                    </div>
                  <% } %>
                  <% if(isDeveloper) { %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="on" name="isAdmin">
                      <label class="form-check-label" for="defaultCheck1">
                        Là quản trị viên
                      </label>
                    </div>
                  <% } %>
                  <!-- <div class="checkbox">
                    <label>
                      <input type="checkbox"> Đồng ý với
                      <a href="#">điều khoản sử dụng</a>
                    </label>
                  </div> -->
                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Đăng ký</button>
                  <div class="register-link m-t-15 text-center">
                    <p>Đã có tài khoản?
                      <a href="/login"> Đăng nhập</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
  <script>
    $("#email").blur(function() {
      var email = $(this).val();
      $.ajax({
        url: '/api/checkemail',
        type: 'POST',
        data: {
          'email': email,
        },
        success: function(res) {
          if (res == false) {
            alert('Email đã tồn tại trong hệ thống');
            $("#email").val('');
          }
        }
      })
    })
  </script>

</body>

</html>