<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link rel="stylesheet" href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css">

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/report">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <!-- start request report -->
            <div class="card">
              <form action="" class="container w-100">
                <div class="row">
                  <div class="col-lg-3 m-auto">
                    <div class="form-group w-100">
                      <select name="" id="" class="w-100">
                        <option value="">-- Phường --</option>
                        <option value="">Linh Trung</option>
                        <option value="">Linh Tinh</option>
                        <option value="">Linh Tinh</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 m-auto">
                    <div class="form-group w-100">
                      <input type="radio" name="time-request">
                      <input type="month" placeholder="Tháng">
                    </div>
                    <div class="form-group w-100">
                      <input type="radio" name="time-request">
                      <input type="month" placeholder="Quý">
                    </div>
                    <div class="form-group w-100">
                      <input type="radio" name="time-request">
                      <input type="month" placeholder="Năm">
                    </div>
                  </div>
                  <div class="form-action col-lg-3 m-auto pull-left">
                    <button class="btn btn-primary" type="submit">
                      Xem
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- end request report -->
            <!-- start show report -->
            <div class="card">
              <div class="card-title">
                <h4>Báo cáo</h4>
                <hr>
              </div>
              <div class="card-body">
                <div>
                  <h4>Cập nhật</h4>
                  <ul>
                    <li>Tạo mới 2 địa chỉ đỏ</li>
                    <li>Thêm 3 thông báo</li>
                    <li>Tạo mới 3 user</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end show report -->
            <!-- start show statistic -->
            <div class="card">
              <div class="card-title">
                <h4>Thống kê truy cập</h4>
                <hr>
              </div>
              <div class="card-body row">
                <div class="col-md-6">
                  <canvas id="columnChartTruyCap"></canvas>
                </div>
                <div class="col-md-6">
                  <canvas id="pieChartTruyCap"></canvas>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-title">
                <h4>Thống kê phản hồi</h4>
                <hr>
              </div>
              <div class="card-body row">
                <div class="col-md-6">
                  <canvas id="columnChartPhanHoi"></canvas>
                </div>
                <div class="col-md-6">
                  <canvas id="pieChartPhanHoi"></canvas>
                </div>
              </div>
            </div>
            <!-- end show statistic -->
            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/chart-js/Chart.bundle.js"></script>
    <script>
      // column chart truy cập
      var ctx1 = document.getElementById("columnChartTruyCap");
      ctx1.height = 150;
      var columnChartTruyCap = new Chart(ctx1, {
        type: 'bar',
        data: {
          labels: [
            "Nghĩa trang liệt sĩ",
            "Trường ĐH CNTT",
            "Trường ĐHBK",
            "Trường ĐH KHXH&NV"
          ],
          datasets: [
            {
              label: "Số lượt truy cập",
              data: [40, 55, 75, 81],
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "#ddd"
            }
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

      // pie chart truy cập
      var ctx2 = document.getElementById("pieChartTruyCap");
      ctx2.height = 130;
      var pieChartTruyCap = new Chart(ctx2, {
        type: 'pie',
        data: {
          datasets: [{
            data: [45, 25],
            backgroundColor: [
              "#6363ff",
              "#f92e20",
            ],
            hoverBackgroundColor: [
              "#0000f9",
              "#bc0d01",
            ]

          }],
          labels: [
            "Quét QR",
            "Truy cập link"
          ]
        },
        options: {
          responsive: true
        }
      });

      // column chart phản hồi
      var ctx4 = document.getElementById("columnChartPhanHoi");
      ctx4.height = 150;
      var columnChartPhanHoi = new Chart(ctx4, {
        type: 'bar',
        data: {
          labels: [
            "Nghĩa trang liệt sĩ",
            "Trường ĐH CNTT",
            "Trường ĐHBK",
            "Trường ĐH KHXH&NV"
          ],
          datasets: [
            {
              label: "Số lượt phản hồi",
              data: [40, 55, 75, 81],
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "#ddd"
            }
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

      // pie chart phản hồi
      var ctx3 = document.getElementById("pieChartPhanHoi");
      ctx3.height = 130;
      var pieChartPhanHoi = new Chart(ctx3, {
        type: 'pie',
        data: {
          datasets: [{
            data: [45, 25],
            backgroundColor: [
              "#6363ff",
              "#f92e20",
            ],
            hoverBackgroundColor: [
              "#0000f9",
              "#bc0d01",
            ]

          }],
          labels: [
            "Đã trả lời",
            "Chưa đọc"
          ]
        },
        options: {
          responsive: true
        }
      });
    </script>
</body>

</html>