<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cổng thông tin điện tử - Ba má phong trào</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/css %>
    <% include ../../gtag %>
</head>

<body>

  <div class="super_container">

    <!-- Header -->

    <header class="header">

      <!-- Main Navigation -->

      <nav class="main_nav">
        <div class="container">
          <div class="row">
            <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
              <div class="logo_container">
                <div class="logo">
                  <a href="#">
                    <img src="/images/logo_long.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- End Main Navigation -->
    </header>

    <!-- Home -->

    <div class="home">

      <!-- Home Slider -->

      <div class="home_slider_container">

        <div class="owl-carousel owl-theme home_slider">

          <!-- Slider Item -->
          <div class="owl-item home_slider_item">
            <div class="home_slider_background" alt="" style="background-image:url(/images/backgroundDiachido.info.jpg)"></div>

            <div class="home_slider_content text-center">
              <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                <h2 style="color: #D84315">CỔNG THÔNG TIN ĐIỆN TỬ</h2>
                <h3 style="color: #D84315">CÔNG TRÌNH SỐ HOÁ THÔNG TIN </h3>
                <h3 style="color: #D84315"> BA MÁ PHONG TRÀO</h3>
                <div class="button home_slider_button">
                  <div class="button_bcg"></div>
                  <a href="javascript:void(0)">TÌM HIỂU THÊM
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slider Item -->
          <div class="owl-item home_slider_item">
            <div class="home_slider_background" alt="" style="background-image:url(/images/backgroundDiachido.info.jpg)"></div>

            <div class="home_slider_content text-center">
              <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                <h2 style="color: #D84315">CỔNG THÔNG TIN ĐIỆN TỬ</h2>
                <h3 style="color: #D84315">CÔNG TRÌNH SỐ HOÁ THÔNG TIN </h3>
                <h3 style="color: #D84315"> BA MÁ PHONG TRÀO</h3>
                <div class="button home_slider_button">
                  <div class="button_bcg"></div>
                  <a href="javascript:void(0)">TÌM HIỂU THÊM
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slider Item -->
          <div class="owl-item home_slider_item">
            <div class="home_slider_background" alt="" style="background-image:url(/images/backgroundDiachido.info.jpg)"></div>

            <div class="home_slider_content text-center">
              <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                <h2 style="color: #D84315">CỔNG THÔNG TIN ĐIỆN TỬ</h2>
                <h3 style="color: #D84315">CÔNG TRÌNH SỐ HOÁ THÔNG TIN </h3>
                <h3 style="color: #D84315"> BA MÁ PHONG TRÀO</h3>
                <div class="button home_slider_button">
                  <div class="button_bcg"></div>
                  <a href="javascript:void(0)">TÌM HIỂU THÊM
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Home Slider Nav - Prev -->
        <div class="home_slider_nav home_slider_prev">
          <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
              <linearGradient id='home_grad_prev'>
                <stop offset='0%' stop-color='#fa9e1b' />
                <stop offset='100%' stop-color='#8d4fff' />
              </linearGradient>
            </defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z" />
            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
					11.042,18.219 " />
          </svg>
        </div>

        <!-- Home Slider Nav - Next -->
        <div class="home_slider_nav home_slider_next">
          <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
              <linearGradient id='home_grad_next'>
                <stop offset='0%' stop-color='#fa9e1b' />
                <stop offset='100%' stop-color='#8d4fff' />
              </linearGradient>
            </defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z" />
            <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
				17.046,15.554 " />
          </svg>
        </div>

        <!-- Home Slider Dots -->

        <div class="home_slider_dots">
          <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
            <li class="home_slider_custom_dot active">
              <div></div>01.</li>
            <li class="home_slider_custom_dot">
              <div></div>02.</li>
            <li class="home_slider_custom_dot">
              <div></div>03.</li>
          </ul>
        </div>

      </div>

    </div>

    <!-- Search -->

    <div class="search">


      <!-- Search Contents -->

      <div class="container fill_height">
        <div class="row fill_height">
          <div class="col fill_height">

            <!-- Search Panel -->
            <div class="search_tabs_container">
              <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">

                <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                  <div id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                    <div class="search_item">
                      <div>Tìm kiếm</div>
                      <input name="find" type="text" class="destination search_input">
                    </div>
                    <div class="search_item">
                      <div>Quận/Huyện</div>
                      <select name="districts" id="districts1" class="dropdown_item_select search_input districts">
                        <option value="">Tất cả</option>
                        <% districtList.map((item, index) => { %>
                          <option value="<%- item._id %>">
                            <%- item.districtName %>
                          </option>
                          <% }) %>
                      </select>
                    </div>
                    <div class="search_item">
                      <div>Phường/Xã</div>
                      <select name="wards" id="wards1" class="dropdown_item_select search_input wards">
                        <option value="">Tất cả</option>
                      </select>
                    </div>
                    <button class="button search_button" type="submit">Tìm kiếm
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <!-- Search Panel -->

          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="container tim_kiem" style="padding-top: 80px; padding-bottom: 80px; display: none">
      <div class="row" style="padding-bottom: 40px">
          <div class="d-flex flex-row align-items-center justify-content-start" style="width: 100%; text-align: center; display: none" id="ketqua">         
              <h2 style="width: 100%">KẾT QUẢ TÌM KIẾM</h2>
          </div>
          <div class="d-flex flex-row align-items-center justify-content-start" style="width: 100%; text-align: center; display: none" id="noketqua">         
              <h2 style="width: 100%; font-style: italic">Không tìm thấy kết quả phù hợp !!!</h2>
          </div>
          
          

        <div class="col-lg-12" id="list_mevnah">
          <!-- Offers Grid -->

          <div class="offers_grid">

            <!-- Offers Item -->
            <!-- Offers Item -->


          </div>
        </div>
        
        <button type="button" class="btn btn-outline-primary btn-lg btn-block dropdown-toggle" style="margin-left: 100px; margin-right:100px; margin-top:50px; padding:5px " id="show_more">
          Xem thêm</button>
      </div>
      
    </div>
    <!--  -->

    <!-- Intro -->

    <div class="intro">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="intro_title text-center" style="padding-bottom: 8px">MỘT SỐ BA MÁ PHONG TRÀO</h2>
            <h2 class="intro_title text-center">TIÊU BIỂU</h2>
          </div>
        </div>

        <div class="row intro_items">

          <!-- Intro Item -->

          <div class="col-lg-4 intro_col">
            <div class="intro_item">
              <div class="intro_item_overlay"></div>
              <div class="intro_item_background" style="background-image:url(/images/mainpage/intro_1.jpg)"></div>
              <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                <div class="intro_date">Quận 2</div>
                <div class="button intro_button">
                  <a href="#">see more
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
                <div class="intro_center text-center">
                  <h1>KHU DI TÍCH THỦ THIÊM</h1>

                </div>
              </div>
            </div>
          </div>

          <!-- Intro Item -->

          <div class="col-lg-4 intro_col">
            <div class="intro_item">
              <div class="intro_item_overlay"></div>

              <div class="intro_item_background" style="background-image:url(/images/mainpage/intro_2.jpg)"></div>
              <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                <div class="intro_date">Quận 1</div>
                <div class="button intro_button">
                  <a href="#">see more
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
                <div class="intro_center text-center">
                  <h1>DINH ĐỘC LẬP</h1>

                </div>
              </div>
            </div>
          </div>

          <!-- Intro Item -->

          <div class="col-lg-4 intro_col">
            <div class="intro_item">
              <div class="intro_item_overlay"></div>

              <div class="intro_item_background" style="background-image:url(/images/mainpage/intro_3.jpg)"></div>
              <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                <div class="intro_date">Quận 4</div>
                <div class="button intro_button">
                  <a href="#">see more
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
                <div class="intro_center text-center">
                  <h1>BẾN CẢNG NHÀ RỒNG</h1>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- CTA -->

    <!-- Milestones -->

    <div class="milestones">
      <div class="container">
        <div class="thong_ke flex-row align-items-center justify-content-start ">
          <h2>THỐNG KÊ</h2>
        </div>
        <div class="row">


          <!-- Milestone -->
          <div class="col-lg-4 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon">
                <img src="/images/mainpage/milestone_1.png" alt="">
              </div>
              <div class="milestone_counter" data-end-value="<%- numbers.numberOfMevnah %>">0</div>
              <div class="milestone_text">Tổng Số Thông Tin BMPT đã lưu trữ</div>
            </div>
          </div>

          <!-- Milestone -->
          <div class="col-lg-4 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon">
                <img src="/images/mainpage/milestone_3.png" alt="">
              </div>
              <div class="milestone_counter" data-end-value="<%- numbers.numberOfDistricts %>">0</div>
              <div class="milestone_text">Tổng số Quận/Huyện tham gia</div>
            </div>
          </div>

          <!-- Milestone -->
          <div class="col-lg-4 milestone_col">
            <div class="milestone text-center">
              <div class="milestone_icon">
                <img src="/images/mainpage/milestone_4.png" alt="">
              </div>
              <div class="milestone_counter" data-end-value="<%- cooperation %>">0</div>
              <div class="milestone_text">Tổng số lượt truy cập</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="test_border"></div>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="section_title">Người dân nói gì</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <!-- Testimonials Slider -->

            <div class="test_slider_container">
              <div class="owl-carousel owl-theme test_slider">

                <!-- Testimonial Item -->
                <div class="owl-item">
                  <div class="test_item">
                    <div class="test_image">
                      <img src="/images/mainpage/test_1.jpg" alt="">
                    </div>
                    <div class="test_icon">
                      <img src="/images/mainpage/backpack.png" alt="">
                    </div>
                    <div class="test_content_container">
                      <div class="test_content">
                        <div class="test_item_info">
                          <div class="test_name">carla smith</div>
                          <div class="test_date">May 24, 2017</div>
                        </div>
                        <div class="test_quote_title">" Best holliday ever "</div>
                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit
                          nec.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Testimonial Item -->
                <div class="owl-item">
                  <div class="test_item">
                    <div class="test_image">
                      <img src="/images/mainpage/test_2.jpg" alt="">
                    </div>
                    <div class="test_icon">
                      <img src="/images/mainpage/island_t.png" alt="">
                    </div>
                    <div class="test_content_container">
                      <div class="test_content">
                        <div class="test_item_info">
                          <div class="test_name">carla smith</div>
                          <div class="test_date">May 24, 2017</div>
                        </div>
                        <div class="test_quote_title">" Best holliday ever "</div>
                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit
                          nec.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Testimonial Item -->
                <div class="owl-item">
                  <div class="test_item">
                    <div class="test_image">
                      <img src="/images/mainpage/test_3.jpg" alt="">
                    </div>
                    <div class="test_icon">
                      <img src="/images/mainpage/kayak.png" alt="">
                    </div>
                    <div class="test_content_container">
                      <div class="test_content">
                        <div class="test_item_info">
                          <div class="test_name">carla smith</div>
                          <div class="test_date">May 24, 2017</div>
                        </div>
                        <div class="test_quote_title">" Best holliday ever "</div>
                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit
                          nec.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Testimonial Item -->
                <div class="owl-item">
                  <div class="test_item">
                    <div class="test_image">
                      <img src="/images/mainpage/test_2.jpg" alt="">
                    </div>
                    <div class="test_icon">
                      <img src="/images/mainpage/island_t.png" alt="">
                    </div>
                    <div class="test_content_container">
                      <div class="test_content">
                        <div class="test_item_info">
                          <div class="test_name">carla smith</div>
                          <div class="test_date">May 24, 2017</div>
                        </div>
                        <div class="test_quote_title">" Best holliday ever "</div>
                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit
                          nec.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Testimonial Item -->
                <div class="owl-item">
                  <div class="test_item">
                    <div class="test_image">
                      <img src="/images/mainpage/test_1.jpg" alt="">
                    </div>
                    <div class="test_icon">
                      <img src="/images/mainpage/backpack.png" alt="">
                    </div>
                    <div class="test_content_container">
                      <div class="test_content">
                        <div class="test_item_info">
                          <div class="test_name">carla smith</div>
                          <div class="test_date">May 24, 2017</div>
                        </div>
                        <div class="test_quote_title">" Best holliday ever "</div>
                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit
                          nec.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Testimonial Item -->
                <div class="owl-item">
                  <div class="test_item">
                    <div class="test_image">
                      <img src="/images/mainpage/test_3.jpg" alt="">
                    </div>
                    <div class="test_icon">
                      <img src="/images/mainpage/kayak.png" alt="">
                    </div>
                    <div class="test_content_container">
                      <div class="test_content">
                        <div class="test_item_info">
                          <div class="test_name">carla smith</div>
                          <div class="test_date">May 24, 2017</div>
                        </div>
                        <div class="test_quote_title">" Best holliday ever "</div>
                        <p class="test_quote_text">Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit
                          nec.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <!-- Testimonials Slider Nav - Prev -->
              <div class="test_slider_nav test_slider_prev">
                <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                  <defs>
                    <linearGradient id='test_grad_prev'>
                      <stop offset='0%' stop-color='#fa9e1b' />
                      <stop offset='100%' stop-color='#8d4fff' />
                    </linearGradient>
                  </defs>
                  <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
								M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
								C22.545,2,26,5.541,26,9.909V23.091z" />
                  <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
								11.042,18.219 " />
                </svg>
              </div>

              <!-- Testimonials Slider Nav - Next -->
              <div class="test_slider_nav test_slider_next">
                <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                  <defs>
                    <linearGradient id='test_grad_next'>
                      <stop offset='0%' stop-color='#fa9e1b' />
                      <stop offset='100%' stop-color='#8d4fff' />
                    </linearGradient>
                  </defs>
                  <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z" />
                  <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
							17.046,15.554 " />
                </svg>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>




    <div class="contact">
      <div class="contact_background" alt="" style="background-image:url(/images/mainpage/contact.png)"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="contact_image">

            </div>
          </div>
          <div class="contact_a col-lg-7">
            <div class="contact_form_container">
              <div class="contact_title">LIÊN HỆ</div>
              <form action="/api/form/mainpage" method="POST" id="contact_form" class="contact_form">
                <input type="text" id="contact_form_name" class="contact_form_name input_field" name="name" placeholder="Tên" required="required" data-error="Name is required.">
                <input type="text" id="contact_form_email" class="contact_form_email input_field" name="email" placeholder="E-mail" required="required"
                  data-error="Email is required.">
                <input type="text" id="contact_form_subject" class="contact_form_subject input_field" name="title" placeholder="Tiêu đề" required="required"
                  data-error="Subject is required.">
                <textarea id="contact_form_message" class="text_field contact_form_message" name="content" rows="4" placeholder="Nội dung"
                  required="required" data-error="Please, write us a message."></textarea>
                <button type="submit" id="form_submit_button" class="form_submit_button button">Gửi
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
      <div class="container">
        <div class="row">

          <!-- Footer Column -->
          <div class="col-lg-4 footer_column" style="height:100px">
            
            <div class="logo_container footer_logo" >
              <div class="logo">
                  <ul style="height: 100%; margin-top: 100px; padding-left:10px">
                      <li  style="display: inline-block; padding-right:20px ">
                          <img src="/images/logo_uit2.png" >
                      </li>
                      <li style="display: inline-block; padding-right:20px ">
                          <img src="/images/logo_doan.png" >
                      </li>
                      <li style="display: inline-block ; padding-right:20px ">
                          <img src="/images/logo_hoisv.png" >
                      </li>
                    </ul>
              </div>
            </div>
          </div>

          <!-- Footer Column -->
          <div class="col-lg-4 footer_column">
            <div class="footer_col"  style="padding-left:0px">
              <div class="footer_content footer_about">

                <p class="footer_about_text" style="font-family:unset; text-align: justify"> SẢN PHẨM CỦA HỘI SINH VIÊN TP. HỒ CHÍ MINH
                    thực hiện bởi HỘI SINH VIÊN TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN - MÙA HÈ XANH 2018</p>

              </div>
            </div>
          </div>

          <!-- Footer Column -->
          <div class="col-lg-4 footer_column">
            <div class="footer_col">
              <div class="footer_title">THÔNG TIN LIÊN HỆ</div>
              <div class="footer_content footer_contact">
                <ul class="contact_info_list">
                  <li class="contact_info_item d-flex flex-row">
                    <div>
                      <div class="contact_info_icon">
                        <img src="/images/mainpage/placeholder.svg" alt="">
                      </div>
                    </div>
                    <div class="contact_info_text">4127 Raoul Wallenber 45b-c Gibraltar</div>
                  </li>
                  <li class="contact_info_item d-flex flex-row">
                    <div>
                      <div class="contact_info_icon">
                        <img src="/images/mainpage/phone-call.svg" alt="">
                      </div>
                    </div>
                    <div class="contact_info_text">2556-808-8613</div>
                  </li>
                  <li class="contact_info_item d-flex flex-row">
                    <div>
                      <div class="contact_info_icon">
                        <img src="/images/mainpage/message.svg" alt="">
                      </div>
                    </div>
                    <div class="contact_info_text">
                      <a href="" target="_top">contactme@gmail.com</a>
                    </div>
                  </li>
                  <li class="contact_info_item d-flex flex-row">
                    <div>
                      <div class="contact_info_icon">
                        <img src="/images/mainpage/planet-earth.svg" alt="">
                      </div>
                    </div>
                    <div class="contact_info_text">
                      <a href="http://www.webdevuit.net">www.webdevuit.net</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </footer>

    <!-- Copyright -->

    <div class="copyright">
      <div class="container">
        <div class="flex-row align-items-center justify-content-start" style="text-align: center">
          <p style="color: black"> Website được thiết kế bởi đội Lập trình Web - MHX2018 - ĐHCNTT</p>
        </div>

      </div>
    </div>
  </div>


  <% include ../partials/scripts %>
    <% include ../partials/getWardList %>
      <script src="/plugins/mainpage/greensock/TweenMax.min.js"></script>
      <script src="/plugins/mainpage/greensock/TimelineMax.min.js"></script>
      <script src="/plugins/mainpage/scrollmagic/ScrollMagic.min.js"></script>
      <script src="/js/mainpage/about_custom.js"></script>

      <script>
         $('#noketqua h2').hide();
          $('#ketqua h2').hide();

        var skip = 0;
        $('.search_button').on('click', function () {
          $.ajax({
            url: '/search/mevnah',
            type: 'get',
            data: {
              find: $('.search_input').val(),
              districts: $('#districts1').val(),
              wards: $('#wards1').val(),
              skip: 0,
            },
            complete: function (res) {
              $('.offers_item').remove();
              $('.tim_kiem').show();
              $('.intro').hide();
              $('.milestones').hide();
              $('.testimonials').hide();
              skip = res.responseJSON.skip;
             
              $.each(res.responseJSON.mevnahList, function (index, item) {
                
                
                var suckhoe='';
                if (item.page.healthStatus === "good") {
                  suckhoe = 'Tốt'
                } else if (item.page.healthStatus === "weak") {
                  suckhoe = 'Yếu'
                } else {
                  suckhoe = 'Đã mất'
                }

                $('.tim_kiem .offers_grid').append(
                  '<div class="offers_item rating_4">' +
                  '<div class="row">' +

                  '<div class="col-lg-3 col-sm-12 col-1680-4">' +
                  '<div class="offers_image_container">' +

                  '<div class="offers_image_background" style="background-image:url(' + item.page.motherImageLink[0].imageLink + ')"></div>' +
                  '<div class="offer_name">' +
                  '<a href="#">' + item.nickName + '</a>' +
                  '</div>' +

                  '</div>' +
                  '</div>' +
                  '<div class="col-lg-8">' +
                  '<div class="offers_content">' +
                  '<div class="offers_price"> ' + item.name +

                  '</div>' +
                  '<div class="row hidden_a" style="padding-left: 15px">' +
                  '<div class="offer_reviews_content">' +
                  '<div class="offer_reviews_title">Tình trạng</div>' +
                  '<div class="offer_reviews_subtitle">sức khỏe</div>' +
                  '</div>' +

                  '<div class="offer_reviews_rating text-center">' +
                    suckhoe +
                  '</div>' +
                  '</div>' +

                  '<p class="offers_text">Địa chỉ: ' + item.address.address + ' </p>' +

                  '<p class="offers_text">Ngày sinh: ' + item.page.birthday.date + '/' + item.page.birthday.month + '/' + item.page.birthday.year + '</p>' +
                  '<p class="offers_text">Ngày mất: ' + item.page.dateOfDeath.date + '/' + item.page.dateOfDeath.month + '/' + item.page.dateOfDeath.year + ' </p>' +
                  '<p class="offers_text">Quê quán: ' + item.page.homeTown + ' </p>' +


                  '<p class="offers_text">Số con là liệt sĩ: ' + item.martyrs.length + ' </p>' +

                  '<div class="offers_icons">' +
                  '<ul class="offers_icons_list">' +
                  '<li class="offers_icons_item"><i class="fa fa-comments-o" style="font-size:36px"></i></li>' +
                  '</ul>' +
                  '</div>' +



                  '<div class="button book_button">' +
                  '<a href="' + item.qrCodeID.directTo + '">Tìm hiểu' +
                  '<span></span>' +
                  '<span></span>' +
                  '<span></span>' +
                  '</a>' +
                  '</div>' +

                  '<div class=" offer_reviews">' +

                  '<div class="offer_reviews_content">' +
                  '<div class="offer_reviews_title">Tình trạng</div>' +
                  '<div class="offer_reviews_subtitle">sức khỏe</div>' +
                  '</div>' +
                  '<div class="offer_reviews_rating text-center">' +  suckhoe + '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>' 
                )
              })
              if(res.responseJSON.haveOther==false){
                  $('#show_more').hide()
                }else{
                  $('#show_more').show()
                }

                
                if(res.responseJSON.mevnahList!='')
                {
                  $('#noketqua h2').hide();
                  $('#ketqua h2').show();
                  $('#list_mevnah').show();
                }else{
                  $('#ketqua h2').hide();
                  $('#noketqua h2').show();
                  $('#list_mevnah').hide();
                 
                  $('.intro').show();
                  $('.milestones').show();
                  $('.testimonials').show();
                }
            }
          })

        });
      
        $('#show_more').on('click', function() {
          let data = {
              find: $('.search_input').val(),
              districts: $('#districts1').val(),
              wards: $('#wards1').val(),
              skip,
            };
          $.ajax({
            url: '/search/mevnah',
            type: 'get',
            data,
            complete: function (res) {
              skip = res.responseJSON.skip;
             
              $.each(res.responseJSON.mevnahList, function (index, item) {
               
                var suckhoe='';
                if (item.page.healthStatus === "good") {
                  suckhoe = 'Tốt'
                } else if (item.page.healthStatus === "weak") {
                  suckhoe = 'Yếu'
                } else {
                  suckhoe = 'Đã mất'
                }

                $('.tim_kiem .offers_grid').append(
                  '<div class="offers_item rating_4">' +
                  '<div class="row">' +

                  '<div class="col-lg-3 col-sm-12 col-1680-4">' +
                  '<div class="offers_image_container">' +

                  '<div class="offers_image_background" style="background-image:url(' + item.page.motherImageLink[0].imageLink + ')"></div>' +
                  '<div class="offer_name">' +
                  '<a href="#">' + item.nickName + '</a>' +
                  '</div>' +

                  '</div>' +
                  '</div>' +
                  '<div class="col-lg-8">' +
                  '<div class="offers_content">' +
                  '<div class="offers_price"> ' + item.name +

                  '</div>' +
                  '<div class="row hidden_a" style="padding-left: 15px">' +
                  '<div class="offer_reviews_content">' +
                  '<div class="offer_reviews_title">Tình trạng</div>' +
                  '<div class="offer_reviews_subtitle">sức khỏe</div>' +
                  '</div>' +

                  '<div class="offer_reviews_rating text-center">' +
                    suckhoe +
                  '</div>' +
                  '</div>' +

                  '<p class="offers_text">Địa chỉ: ' + item.address.address + ' </p>' +

                  '<p class="offers_text">Ngày sinh: ' + item.page.birthday.date + '/' + item.page.birthday.month + '/' + item.page.birthday.year + '</p>' +
                  '<p class="offers_text">Ngày mất: ' + item.page.dateOfDeath.date + '/' + item.page.dateOfDeath.month + '/' + item.page.dateOfDeath.year + ' </p>' +
                  '<p class="offers_text">Quê quán: ' + item.page.homeTown + ' </p>' +


                  '<p class="offers_text">Số con là liệt sĩ: ' + item.martyrs.length + ' </p>' +

                  '<div class="offers_icons">' +
                  '<ul class="offers_icons_list">' +
                  '<li class="offers_icons_item"><i class="fa fa-comments-o" style="font-size:36px"></i></li>' +
                  '</ul>' +
                  '</div>' +

                  '<div class="button book_button">' +
                  '<a href="' + item.qrCodeID.directTo + '">Tìm hiểu' +
                  '<span></span>' +
                  '<span></span>' +
                  '<span></span>' +
                  '</a>' +
                  '</div>' +

                  '<div class=" offer_reviews">' +

                  '<div class="offer_reviews_content">' +
                  '<div class="offer_reviews_title">Tình trạng</div>' +
                  '<div class="offer_reviews_subtitle">sức khỏe</div>' +
                  '</div>' +
                  '<div class="offer_reviews_rating text-center">' +  suckhoe + '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>' 
                )

              })
              if(res.responseJSON.haveOther==false){
                  $('#show_more').hide()
                }else{
                  $('#show_more').show()
                }

              
            }
          })
        });
      
      </script>

</body>

</html>