<link rel="stylesheet" type="text/css" href="/styles/mainpage/bootstrap4/bootstrap.min.css">
<link href="/plugins/mainpage/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/mainpage/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/mainpage/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/mainpage/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/styles/mainpage/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/mainpage/responsive.css">