<script>

  $('#districts').change(function () {
    let districtID = $(this).val();

    $('#wards').empty();
    $('#wards').append('<option value="">Tất cả</option>');
    $.ajax({
      url: `/api/list/${districtID}`,
      type: 'GET',
      success: function (res) {
        res.map(item => {
          $('#wards').append('<option value="' + item._id + '">' + item.wardName + '</option>')
        })
      }
    })
  })

  $('#districts1').change(function () {
    let districtID = $(this).val();

    $('#wards1').empty();
    $('#wards1').append('<option value="">Tất cả</option>');
    $.ajax({
      url: `/api/list/${districtID}`,
      type: 'GET',
      success: function (res) {
        res.map(item => {
          $('#wards1').append('<option value="' + item._id + '">' + item.wardName + '</option>')
        })
      }
    })
  })

  $('#districts2').change(function () {
    let districtID = $(this).val();

    $('#wards2').empty();
    $('#wards2').append('<option value="">Tất cả</option>');
    $.ajax({
      url: `/api/list/${districtID}`,
      type: 'GET',
      success: function (res) {
        res.map(item => {
          $('#wards2').append('<option value="' + item._id + '">' + item.wardName + '</option>')
        })
      }
    })
  })
</script>