<script src="/js/mainpage/jquery-3.2.1.min.js"></script>
<script src="/styles/mainpage/bootstrap4/popper.js"></script>
<script src="/styles/mainpage/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/mainpage/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/mainpage/easing/easing.js"></script>
<script src="/js/mainpage/custom.js"></script>