<!DOCTYPE HTML>
<html>

<head>
	<% include ../../gtag %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Địa chỉ đỏ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content=""
	/>
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/landingpage/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/landingpage/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="/css/landingpage/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/landingpage/bootstrap.css">

	<!-- <link rel="stylesheet" href="/css/landingpage/bootstrap4.min.css"> -->
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/landingpage/magnific-popup.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/landingpage/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/landingpage/owl.theme.default.min.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="/css/landingpage/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/landingpage/style.css">
	<!-- fontawesom -->
	<link rel="stylesheet" href="/icons/font-awesome/css/font-awesome.min.css">

	<!-- Modernizr JS -->
	<script src="/js/landingpage/modernizr-2.6.2.min.js"></script>
	
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<style>
		div#noti-icon {
			position: fixed;
			z-index: 1000;
			bottom: 80px;
			right: 30px
		}

		div#noti-card {
			position: fixed;
			width: auto;
			max-width: 80vw;
			max-height: 40vh;
			z-index: 1000;
			bottom: 5vh;
			right: 5vw;
			display: none;
		}

		div.card#noti-card {
			min-width: 200px;
			border: 1px solid blue;
			background: #fff none repeat scroll 0 0;
			border-radius: 5px;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
		}

		div.card#noti-card .card-header {
			min-height: 30px;
			padding: 10px 10px 0px 10px;
			background: rgba(0, 0, 0, .03);
			border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
		}

		div.card#noti-card .card-header h4 {
			line-height: 30px;
		}

		#noti-tit {
			margin: 2;
		}

		#noti-img img {
			max-width: 80%;
			max-height: 50%;
		}
	</style>

	<!-- google map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		var gmap = new google.maps.LatLng(10.765974, 106.689422);
		var marker;
		function initialize() {

			var mapProp = {
				center: new google.maps.LatLng(10.765974, 106.689422),
				zoom: 16,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			var map = new google.maps.Map(document.getElementById("googleMap")
				, mapProp);
			var styles = [

				{
					featureType: 'road.arterial',
					elementType: 'all',
					stylers: [
						{ hue: '#fff' },
						{ saturation: 100 },
						{ lightness: -48 },
						{ visibility: 'on' }
					]
				}, {

					featureType: 'road',
					elementType: 'all',
					stylers: [
					]
				},

				{
					featureType: 'water',
					elementType: 'geometry.fill',
					stylers: [
						{ color: '#adc9b8' }
					]
				}, {
					featureType: 'landscape.natural',
					elementType: 'all',
					stylers: [
						{ hue: '#809f80' },
						{ lightness: -35 }
					]
				}
			];

			var styledMapType = new google.maps.StyledMapType(styles);

			map.mapTypes.set('Styled', styledMapType);
			marker = new google.maps.Marker({
				map: map,
				draggable: true,
				animation: google.maps.Animation.DROP,
				position: gmap
			});
			google.maps.event.addListener(marker, 'click', toggleBounce);
		}

		function toggleBounce() {
			if (marker.getAnimation() !== null) {
				marker.setAnimation(null);
			} else {
				marker.setAnimation(google.maps.Animation.BOUNCE);
			}
		}
		google.maps.event.addDomListener(window, 'load', initialize);

	</script>

</head>

<body>

	<div class="gtco-loader"></div>


	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-sm-2 col-xs-12">
					<div id="gtco-logo">
						<a href="index.html">
							<img src="/images/logo_long.png" height=50>
						</a>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li class="active">
							<a href="#" data-nav-section="home">Home</a>
						</li>

					</ul>
				</div>
			</div>

		</div>
	</nav>

	<div id="gtco-hero" class="js-fullheight" data-section="home">
		<div class="flexslider js-fullheight">
			<ul class="slides">
				<% objectInfo.page.background ? objectInfo.page.background.map((item, index) => { %>
					<li alt="<%- item.alt% >" style="background-image: url(<%- item.imageLink %>);">
						<div class="overlay"></div>
						<div class="container">
							<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
									<h2>ĐỊA CHỈ ĐỎ</h2>
									<p>
										<a class="js-gobot btn btn-primary btn-lg">
											<%- objectInfo.name %>
										</a>
									</p>
								</div>
							</div>
						</div>
					</li>
				<% }) : null %>

			</ul>
		</div>
	</div>

	<div class="gtco-section-overflow">
		<div class="icon_boxes" id="gioithieu" style="padding-top: 150px; padding-bottom: 10px">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="icon_box_title text-left">
							<h1 style="font-family: Arial; font-size:70px; color:#3a4049 ">Giới thiệu sơ lược</h1>
						</div>
					</div>
					<div class="col-lg-8 text-justify">
						<div class="row">
							<% objectInfo.page.description ? objectInfo.page.description.map((item, index) => { %>
								<div class="icon_box_item col-md-6">
									<h2 style="margin-left: 20px; margin-right: 20px">
										<%- item.title %>
									</h2>
									<p style="margin-left: 20px; margin-right: 20px">
										<%- item.content %>
									</p>
								</div>
								<% }) : null %>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>




	<div class="gtco-section" id="gtco-faq" data-section="faq">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Giai đoạn</h2>
				</div>
			</div>
			<div class="row">
				<% objectInfo.page.stages ? objectInfo.page.stages.map((item, index) => { %>
					<div class="col-md-6">
						<div class="gtco-accordion">
							<div class="gtco-accordion-heading">
								<div class="icon">
									<i class="icon-cross"></i>
								</div>
								<h3>
									<%- item.time %>
								</h3>
							</div>
							<div class="gtco-accordion-content">
								<div class="inner">
									<img alt="<%- item.alt% >" src="<%- item.imageLink %>">
									<p style="text-align: justify">
										<%- item.desc %>
									</p>
								</div>
							</div>
						</div>
					</div>
					<% }) : null %>
			</div>
		</div>
	</div>

	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>Một số hình ảnh</h2>
			</div>
		</div>
		<div class="row">
			<% objectInfo.page.someOfOtherImage ? objectInfo.page.someOfOtherImage.map((item, index) => { %>
				<div class="col-md-4">
					<a href='<%- item.imageLink %>' class="gtco-card-item image-popup" title='abs'>
						<figure>
							<div class="overlay">
								<i class="ti-plus"></i>
							</div>
							<img alt="<%- item.alt% >" src='<%- item.imageLink %>' alt="Image" class="img-responsive">
						</figure>
					</a>
				</div>
				<% }) : null %>
		</div>


	</div>
	</div>






	<div id="gtco-products" data-section="products">
		<div class="container">
			<div class="row">
				<h1 style="margin-bottom: 40px">
					<b>Location</b>
				</h1>
				<div id="googleMap" style="width: auto; height: 500px;">Google Map</div>
			</div>
		</div>
	</div>





	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Ý KIẾN PHẢN HỒI</h2>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Họ và tên</label>
								<input type="text" class="form-control" id="name" placeholder="Họ và tên">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline">

						<div class="col-md-8 col-sm-8">
							<div class="form-group">
								<label for="comment" class="sr-only">Ý kiến phản hồi</label>
								<input type="text" class="form-control" id="comment" placeholder="Ý kiến phản hồi">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-danger btn-block">Gửi</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<footer class="probootstrap_section probootstrap-border-top" style="padding-top: 60px; padding-bottom: 0px">

		<div class="container">
			<div class="row">

				<div class="col-lg-4">
					<!-- Footer Intro -->
					<div class="footer_intro" style="margin-left:20px; ">
						<!-- Logo -->
						<div class="logo footer_logo">
							<a href="#">
								<img src="/images/logo_long.png" height=70>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-5">
					<div class="footer_intro" style="margin-left:20px">
						<div class="newsletter_title" style="font-size: 30px">
							<font face=“Times new roman, Arial”>
								<b>babw</b>
							</font>
						</div>
						<div class="footer-address">Address:
							<%- objectInfo.contact.addressContact %>
						</div>
						<div class="footer-address">Tell:
							<%- objectInfo.contact.numberPhoneContact %>
						</div>
						<div class="footer-address">Mail:
							<%- objectInfo.contact.emailContact %>
						</div>

					</div>
				</div>

				<div class="col-lg-3">
					<div class="footer_intro" style="margin-left:20px">
						<div class="newsletter_title" style="font-size: 30px">
							<font face=“Times new roman, Arial”>
								<b>Admin</b>
							</font>
						</div>
						<div class="footer-address">Tell: 124</div>
						<div class="footer-address">Mail: 24</div>
					</div>
				</div>

			</div>
			<div class="footer_cr" style="margin-top: 40px;">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy 2018. All rights reserved | This template is made with
				<i class="fa fa-heart" aria-hidden="true"></i> by
				<a href="https://colorlib.com" target="_blank">Laptrinhweb UIT</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop">
			<i class="icon-arrow-up"></i>
		</a>
	</div>
	<!-- notification icon  -->
	<div id="noti-icon" class="open">
		<a href="#">
			<i class="fa fa-bell fa-2x"></i>
		</a>
	</div>
	<!-- notification -->
	<div class="card" id="noti-card">
		<div class="card-header">
			<h4 class="text-primary">Thong bao</h4>
		</div>
		<div class="card-body">
			<div class="row" id="noti-cont">
				<div class="col-lg-4 row" id="noti-tit">
					<div id="noti-img">
						<img src="https://2.bp.blogspot.com/-4X21UBfdqNk/WNHikTGsrwI/AAAAAAAABaA/Lrqz3KSBla89qyiRslHt1K5UyzDwJ_LdgCLcB/s1600/71840.jpg"
						 alt="">
					</div>
					<div class="col-sm-4">
						Tên:
					</div>
					<div class="col-sm-8">
						Khánh thành đường cao tốc
					</div>
					<div class="col-sm-4">
						Thời gian:
					</div>
					<div class="col-sm-8">
						Thứ 5, ngày 21-12-2098
					</div>
				</div>
				<div class="col-lg-8" id="noti-desc">

				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="/js/landingpage/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/landingpage/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/landingpage/bootstrap.min.js"></script>
	<!-- <script src="/js/landingpage/bootstrap4.min.js"></script> -->
	<!-- Waypoints -->
	<script src="/js/landingpage/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/js/landingpage/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/js/landingpage/jquery.countTo.js"></script>
	<!-- Flexslider -->
	<script src="/js/landingpage/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/landingpage/jquery.magnific-popup.min.js"></script>
	<script src="/js/landingpage/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="/js/landingpage/main.js"></script>
	<script>
		$('.js-gobot').on('click', function (event) {

			event.preventDefault();

			$('html, body').animate({
				scrollTop: $('#gioithieu').offset().top
			}, 500, 'easeInOutExpo');

			return false;
		});
		$(document).on('click', '#noti-icon.open', function () {
			$('#noti-card').show();
			$(this).removeClass('open').addClass('close');
		});
		$(document).on('click', '#noti-icon.close', function () {
			$('#noti-card').hide();
			$(this).removeClass('close').addClass('open');
		});
		$(document).on('click', '#noti-card .card-header', function () {
			$('#noti-card').hide();
			$("#noti-icon.close").removeClass('close').addClass('open');
		});
	</script>

</body>

</html>