<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>
  <%- include ../partials/css %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="/css/admindashboard/summernote-lite.css" rel="stylesheet">


</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex">
                      <div class="mr-auto p-2">
                        <h4 class="card-title">Bài cảm nghĩ về ba má:
                          <%- motherName %>
                        </h4>
                      </div>
                      <div class="p-2">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary" id="edit">Chỉnh sửa</button>
                        </div>
                      </div>
                      <div class="p-2">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary" id="submit">Lưu lại</button>
                        </div>
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="title">Tiêu đề bài viết</label>
                      <input type="text" class="form-control" id="title" name="title" value="<%- titlePosts ? titlePosts : '' %>">
                    </div>
                    <div class="form-group">
                      <label for="title">Nội dung bài viết</label>
                      <div id="summernote" name="content">
                        <%- content ? content : '' %>
                      </div>
                    </div>

                    <!-- <button type="submit" id="submit">Lưu trữ</button> -->


                  </div>
                </div>
              </div>
            </div>

            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->
  <%- include ../partials/scripts %>
    <!-- <script src="/js/admindashboard/lib/jquery/jquery.min.js"></script> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>  -->

    <!-- <script src="/js/admindashboard/summernote.js"></script> -->
    <script src="/js/admindashboard/summernote-lite.js"></script>
    <script>
      function saveFile(file, editor, welEditable) {
        $.map(file, function (item, index) {
          let data = new FormData();
          data.append("image", item);
          $.ajax({
            data: data,
            type: "POST",
            url: "/api/upload/image",
            contentType: false,
            processData: false,
            success: function (url) {
              $('#summernote').summernote('insertImage', url.link);
            }
          });
        })
      };
      $(document).ready(function () {
        if ($('#summernote').text().trim() == '' && $('title').val().trim() == '') {
          $('#summernote').summernote({
            tabsize: 2,
            minHeight: 200,
            maxHeight: 450,
            focus: true,
            callbacks: {
              onImageUpload: function (file, editor, welEditable) {
                saveFile(file, editor, welEditable);
              }
            }
          });
        }
      });
      $('#edit').on('click', function () {
        $('#summernote').summernote({
          tabsize: 2,
          minHeight: 200,
          maxHeight: 450,
          focus: true,
          callbacks: {
            onImageUpload: function (file, editor, welEditable) {
              saveFile(file, editor, welEditable);
            }
          }

        });
      })
      $('#submit').on('click', function () {
        $.ajax({
          url: '/admin/mevnah/<%- id %>/post',
          type: 'PUT',
          data: {
            title: $('#title').val(),
            content: $("#summernote").summernote('code'),
          },
          complete: function (res) {
            $("#summernote").summernote('destroy');
          }
        })
      })
    </script>
</body>

</html>