<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">

    <style>
      @media only screen and (min-width: 500px) {
        .insert-block {
          padding: 0px 15px;
        }
        .btn-location {
          display: none;
        }
      }

      @media only screen and (max-width: 500px) {
        .container-fluid {
          padding: 0 10px;
        }
        .card-body {
          padding: 0 10px;
        }
        .insert-block {
          padding: 0px;
        }
      }

      div.dropzone {
        width: 100%;
        height: 100%;
      }

      /* div.tieusu textarea {
        height: 70px;
      } */

      div.card {
        padding: 0px;
      }

      .form-group label {
        font-weight: bold;
      }

      a.btn {
        background: #DA4453;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, #DA4453);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, #DA4453);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      a.btn:hover {
        background: #a8c0ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3f2b96, #a8c0ff);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      .card-body .card {
        margin: 0px;
      }

      .card-body .card .card-header {
        padding: 0px;
      }
    </style>
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <!-- start form input -->
            <!-- start thông tin chung -->
            <div class="card border border-primary">
              <div class="card-header">
                <h4 class="text-primary">Thông tin chung</h4>
              </div>
              <div class="card-body p-20">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tên</label>
                      <div class="col-sm-12">
                        <input id="textTenMe" type="text" class="form-control required" placeholder="Tên ba má phong trào" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tên thường gọi</label>
                      <div class="col-sm-12">
                        <input id="textNickName" type="text" class="form-control" placeholder="Tên thường gọi">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-5 control-label">Ngày sinh</label>
                      <div class="col-sm-12">
                        <div class="row ">
                          <div class="col-sm-4">
                            <select id="textDay" type="text" class="form-control custom-select">
                              <option value="">Ngày</option>
                              <% for( let i = 1; i <=31; i ++ ) {%>
                                <option value="<%- i %>">
                                  <%- i %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                          <div class="col-sm-4">
                            <select id="textMonth" class="form-control custom-select">
                              <option value="">Tháng</option>
                              <% for( let i = 1; i <=12; i ++ ) {%>
                                <option value="<%- i %>">
                                  <%- i %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                          <div class="col-sm-4">
                            <select id="textYear" class="form-control custom-select">
                              <option value="">Năm</option>
                              <% let time = new Date();
                              let timeYear = time.getFullYear();
                               for( let i = 1900; i <= timeYear; i ++ ) {%>
                                <option value="<%- i %>">
                                  <%- i %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-5 control-label">Tình trạng sức khỏe</label>
                      <div class="col-sm-12">
                        <select class="form-control" name="selectSucKhoe" id="selectSucKhoe">
                          <option value="good">Sức khỏe tốt</option>
                          <option value="weak">Sức khỏe xấu</option>
                          <option value="death">Đã mất</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" id="deadInfo" style="display: none;">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Ngày mất</label>
                      <div class="col-sm-12">
                        <div class="row ">
                          <div class="col-sm-4">
                            <select id="textDayDeath" type="text" class="form-control custom-select">
                              <option value="">Ngày</option>
                              <% for( let i = 1; i <=31; i ++ ) {%>
                                <option value="<%- i %>">
                                  <%- i %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                          <div class="col-sm-4">
                            <select id="textMonthDeath" class="form-control custom-select">
                              <option value="">Tháng</option>
                              <% for( let i = 1; i <=12; i ++ ) {%>
                                <option value="<%- i %>">
                                  <%- i %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                          <div class="col-sm-4">
                            <select id="textYearDeath" class="form-control custom-select">
                              <option value="">Năm</option>
                              <%for( let i = timeYear; i >= 1900; i -- ) {%>
                                <option value="<%- i %>">
                                  <%- i %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Nơi chôn cất</label>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-9 col-lg-12">
                            <textarea class="form-control" id="textBurial" placeholder="Nơi chôn cất"></textarea>
                          </div>
                          <div class="col-sm-3">
                            <button id="get-locat-tomb" class="btn btn-outline-info w-100 btn-location">
                              <p class="pull-left m-r-5 m-b-0 text-dark">Lấy vị trí</p>
                              <i class="fa fa-map-marker" style="font-size: 1.5em"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Quận / Huyện</label>
                      <div class="col-sm-12">
                        <select id="selectQuan" class="form-control custom-select required" required>
                          <option value="">Quận / Huyện</option>
                          <% districtList.map((item, index) => { %>
                            <option value="<%- item._id %>">
                              <%- item.districtName %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Phường / Xã</label>
                      <div class="col-sm-12">
                        <select id="selectPhuong" class="form-control custom-select required" required>
                          <option value="">Phường / Xã</option>
                          <% wardList.map((item, index) => { %>
                            <option value="<%- item._id %>">
                              <%- item.wardName %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Địa chỉ</label>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-9 col-lg-12">
                            <textarea id="textDiaChi" class="form-control required" rows="2" placeholder="Địa chỉ" required></textarea>
                          </div>
                          <div class="col-sm-3">
                            <button id="get-locat" class="btn btn-outline-info w-100 btn-location">
                              <p class="pull-left m-r-5 m-b-0 text-dark">Lấy vị trí</p>
                              <i class="fa fa-map-marker" style="font-size: 1.5em"></i>
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Quê quán</label>
                      <div class="col-sm-12">
                        <input id="textQueQuan" type="text" class="form-control required" placeholder="Quê quán" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group m-t-10 w-100">
                      <label for="" class="col-sm-4 control-label">Hình nền</label>
                      <div class="col-sm-12">
                        <form action="/api/upload/image" class="dropzone" id="myDropzoneHinhNen">
                          <div class="fallback">
                            <input name="file" type="file" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group m-t-10 w-100">
                      <label for="" class="col-sm-4 control-label">Chân dung ba má</label>
                      <div class="col-sm-12">
                        <form action="/api/upload/image" class="dropzone" id="myDropzoneHinhChanDung">
                          <div class="fallback">
                            <input name="file" type="file" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- end thông tin chung -->

            <!-- start thông tin chính -->
            <div class="card border border-primary">
              <!-- start tiểu sử -->
              <div class="card-header">
                <h4 class="text-primary">Tiểu sử</h4>
              </div>
              <div class="card-body p-20">
                <div class="insert-block" id="tieu-su">
                  <p>Mô tả cho tiểu sử</p>
                  <div class="card tieu-su radius-16">
                    <div class="card-header">
                      <button class="btn btn-link" type="button" data-toggle="collapse-next">
                        <i class="fa fa-align-justify"></i>
                      </button>
                      <button class="btn btn-link xoa-tieusu pull-right" type="button">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="collapse show">
                      <div class="card-body p-15">
                        <textarea class="textTieuSu form-control required" rows="3" placeholder="Nhập vào tiểu sử" style="height:auto" required></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t-15">
                  <a href="#tieu-su" class="col-lg-2 m-auto btn btn-outline btn-rounded btn-primary" id="them-tieusu">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- end tiểu sử -->

            <!-- start con liet si -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Các con thương binh, liệt sĩ</h4>
              </div>
              <div class="card-body p-20">
                <div class="insert-block" id="liet-si">
                  <p>Mô tả cho các con thương binh liệt sĩ</p>
                  <div class="card liet-si radius-16" vali='123456'>
                    <div class="card-header">
                      <button class="btn btn-link" type="button" data-toggle="collapse-next">
                        <i class="fa fa-align-justify"></i>
                      </button>
                      <button class="btn btn-link xoa-lietsi pull-right" type="button">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="collapse show">
                      <div class="card-body p-20">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="">Tên</label>
                              <input type="text" name="nameLietSi" class="textTenLietSi form-control  required" placeholder="Nhập tên thương binh liệt sĩ"
                                required>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Ngày sinh</label>
                                  <div class="row ">
                                    <div class="col-sm-4">
                                      <select class="textDayChild custom-select form-control">
                                        <option value="">Ngày</option>
                                        <% for( let i = 1; i <=31; i ++ ) {%>
                                          <option value="<%- i %>">
                                            <%- i %>
                                          </option>
                                          <%}%>
                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                      <select class="textMonthChild custom-select form-control">
                                        <option value="">Tháng</option>
                                        <% for( let i = 1; i <=12; i ++ ) {%>
                                          <option value="<%- i %>">
                                            <%- i %>
                                          </option>
                                          <%}%>
                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                      <select class="textYearChild custom-select form-control">
                                        <option value="">Năm</option>
                                        <%for( let i = 1900; i <= timeYear; i ++ ) {%>
                                          <option value="<%- i %>">
                                            <%- i %>
                                          </option>
                                          <%}%>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Ngày mất</label>
                                  <div class="row ">
                                    <div class="col-sm-4">
                                      <select class="form-control custom-select textChildDayDead">
                                        <option value="">Ngày</option>
                                        <% for( let i = 1; i <= 31; i ++ ) {%>
                                          <option value="<%- i %>">
                                            <%- i %>
                                          </option>
                                          <%}%>
                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                      <select class="form-control custom-select textChildMonthDead">
                                        <option value="">Tháng</option>
                                        <% for( let i = 1; i <= 12; i ++ ) {%>
                                          <option value="<%- i %>">
                                            <%- i %>
                                          </option>
                                          <%}%>
                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                      <select class="form-control custom-select textChildYearDead">
                                        <option value="">Năm</option>
                                        <%for( let i = timeYear; i >= 1900; i -- ) {%>
                                          <option value="<%- i %>">
                                            <%- i %>
                                          </option>
                                          <%}%>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="">Mô tả</label>
                                  <textarea name="descLietSi" class="form-control textMoTa required" rows="2" placeholder="Nhập vào mô tả" required></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="">Hình ảnh</label>
                              <form action="/api/upload/image" class="dropzone" name="dropzoneHinhLietSi" id="myDropzoneHinhLietSi">
                                <div class="fallback">
                                  <input name="file" type="file" multiple/>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t-15">
                  <a href="#hinh-anh" class="btn btn-rounded col-lg-2 m-auto" id="them-lietsi">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- end con liet si -->

            <!-- start chiến công -->
            <div class="card border border-primary">
              <div class="card-header align-items-center bg-default">
                <h4 class="text-primary">Chiến công</h4>
              </div>
              <div class="card-body p-20">
                <div class="insert-block" id="chien-cong">
                  <p>Mô tả nhập chiến công</p>
                  <div class="card chien-cong radius-16">
                    <div class="card-header">
                      <button class="btn btn-link" type="button" data-toggle="collapse-next">
                        <i class="fa fa-align-justify"></i>
                      </button>
                      <button class="btn btn-link xoa-chiencong pull-right" type="button">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="collapse show">
                      <div class="card-body p-15">
                        <div class="form-group">
                          <input type="text" class="textTimeChienCong form-control required" placeholder="Nhập thời gian" required>
                        </div>
                        <div class="form-group">
                          <textarea class="textDescChienCong form-control required" rows="3" placeholder="Nhập vào chiến công" style="height:auto"
                            required></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t-15">
                  <a href="#chien-cong" class="btn btn-rounded col-lg-2 m-auto" id="them-chiencong">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- end chiến công -->

            <!-- start lịch sử -->
            <div class="card border border-primary">
              <div class="card-header">
                <h4 class="text-primary">Giai đoạn lịch sử</h4>
              </div>
              <div class="card-body p-20">
                <div class="insert-block" id="lich-su">
                  <p>Mô tả cho lịch sử</p>
                  <div class="card lich-su radius-16" vali='123456'>
                    <div class="card-header">
                      <button class="btn btn-link" type="button" data-toggle="collapse-next">
                        <i class="fa fa-align-justify"></i>
                      </button>
                      <button class="btn btn-link xoa-lichsu pull-right" type="button">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="collapse show">
                      <div class="card-body p-15">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="">Thời gian sự kiện</label>
                              <input name="timeSuKien" class=" form-control required" placeholder="Nhập vào thời gian" required/>
                            </div>
                            <div class="form-group">
                              <label for="">Sự kiện</label>
                              <textarea name="descSuKien" class=" form-control required" rows="2" placeholder="Nhập vào sự kiện" style="height:70px" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="">Hình ảnh</label>
                              <form action="/api/upload/image" class="dropzone" name="dropzoneHinhLS" id="myDropzoneHinhLS">
                                <div class="fallback">
                                  <input name="file" type="file" multiple/>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t-15">
                  <a href="#lich-su" id="them-lichsu" class="btn col-lg-2 btn-outline btn-rounded btn-primary m-auto">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- end lịch sử -->
            <!-- giấy khen -->
            <div class="card border border-primary">
              <div class="card-header">
                <h4 class="text-primary">Giấy khen</h4>
              </div>
              <div class="card-body p-20">
                <div class="insert-block" id="giay-khen">
                  <p>Mô tả cho giấy khen</p>
                  <div class="giay-khen card radius-16" vali='123456'>
                    <div class="card-header">
                      <button class="btn btn-link" type="button" data-toggle="collapse-next">
                        <i class="fa fa-align-justify"></i>
                      </button>
                      <button class="btn btn-link xoa-giaykhen pull-right" type="button">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="collapse show">
                      <div class="card-body p-15">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="">Tên giấy khen</label>
                              <input name="titleGiayKhen" class=" form-control required" placeholder="Nhập vào tên giấy khen" required/>
                            </div>
                            <div class="form-group">
                              <label for="">Mô tả giấy khen</label>
                              <textarea name="descGiayKhen" class=" form-control" rows="2" placeholder="Nhập vào mô tả giấy khen" style="height:70px"></textarea>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="">Hình ảnh</label>
                              <form action="/api/upload/image" class="dropzone" name="dropzoneHinhGiayKhen" id="myDropzoneHinhGiayKhen">
                                <div class="fallback">
                                  <input name="file" type="file" multiple/>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t-15">
                  <a href="#giay-khen" class="btn btn-outline btn-rounded btn-primary m-auto col-lg-2" id="them-giaykhen">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- kết thúc giấy khen -->

            <!-- start hình ảnh -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Một số hình ảnh</h4>
              </div>
              <div class="card-body p-20">
                <div class="insert-block" id="hinh-anh">
                  <p>Mô tả cho hình ảnh</p>
                  <div class="hinh-anh card radius-16" vali='123456'>
                    <div class="card-header">
                      <button class="btn btn-link" type="button" data-toggle="collapse-next">
                        <i class="fa fa-align-justify"></i>
                      </button>
                      <button class="btn btn-link xoa-hinhanh pull-right" type="button">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="collapse show">
                      <div class="card-body p-15">
                        <div class="row">
                          <div class="col-md-7">
                            <div class="form-group">
                              <label for="">Tiêu đề hình ảnh</label>
                              <input name="titleHinhAnh" class=" form-control required" rows="2" placeholder="Nhập vào tiêu đề hình ảnh" required/>
                            </div>
                            <div class="form-group">
                              <label for="">Mô tả hình ảnh</label>
                              <textarea name="descHinhAnh" class=" form-control required" rows="2" placeholder="Nhập vào mô tả hình ảnh" style="height:70px"
                                required></textarea>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label for="">Hình ảnh</label>
                              <form action="/api/upload/image" class="dropzone" name="dropzoneHinhAnh" id="myDropzoneHinhAnh">
                                <div class="fallback">
                                  <input name="file" type="file" multiple/>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t-15">
                  <a href="#hinh-anh" class="btn btn-rounded col-lg-2 m-auto" id="them-hinhanh">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- end hình ảnh -->

            <!-- start liên hệ -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Thông tin liên hệ</h4>
              </div>
              <div class="card-body p-20 form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tên</label>
                      <div class="col-sm-12">
                        <input id="textTenLH" type="text" class="form-control required" placeholder="Tên" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Địa chỉ</label>
                      <div class="col-sm-12">
                        <input id="textDiaChiLH" type="text" class="form-control required" placeholder="Địa chỉ" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Email</label>
                      <div class="col-sm-12">
                        <input id="textEmail" type="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">SĐT</label>
                      <div class="col-sm-12">
                        <input id="textSDT" type="text" class="form-control required" placeholder="Số điện thoại" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end liên hệ -->
            <!-- end thôgn tin chính -->
            <button class="btn btn-primary" type="submit" id="submit-button">
              Thêm thông tin ba má phong trào
            </button>
            <!-- end form input -->

            <!-- End PAge Content -->
            <!-- End Container fluid  -->
            <!-- footer -->
            <%- include ../partials/footer %>
              <!-- End footer -->
          </div>
        </div>
        <div id="qrModal" class="modal" role="dialog">
          <div class="modal-dialog border rounded border-primary" role="document">
            <div class="modal-content">
              <div class="modal-header bg-light ">
                <h3 class="m-auto text-primary">Mã QR đã tạo</h3>
              </div>
              <div class="modal-body">
                <img src="" alt="">
              </div>
              <div class="modal-footer">
                <button id="btnNotiSubmit" type="button" class="btn btn-rounded btn-outline-primary">Xác nhận</button>
                <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->
  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjQZAbTbSlg_y0vwkD6uimyj4V3HglWbk"></script>
    <%- include ./createMeVNAHScript %>

</body>

</html>