<script>
  var arrayDeleteFile = [];
  // Thêm tieru su
  $(document).on("click", '#them-tieusu', function () {
    $('#tieu-su').append(
      '<div class="card tieu-su radius-16"><div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse-next"><i class="fa fa-align-justify"></i></button><button class="btn btn-link xoa-tieusu pull-right" type="button"><i class="fa fa-times"></i></button></div><div class="collapse show"><div class="card-body p-15"><textarea class="textTieuSu form-control required" rows="3" placeholder="Nhập vào tiểu sử" style="height:auto" required></textarea></div></div></div>'
    );
    $('html').animate({
      scrollTop: $("#them-tieusu").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // theme chien cong
  $(document).on("click", '#them-chiencong', function () {
    $('#chien-cong').append(
      '<div class="card chien-cong radius-16"><div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse-next"><i class="fa fa-align-justify"></i></button><button class="btn btn-link xoa-chiencong pull-right" type="button"><i class="fa fa-times"></i></button></div><div class="collapse show"><div class="card-body p-15"><div class="form-group"><input type="text" class="textTimeChienCong form-control required" placeholder="Nhập thời gian" required></div><div class="form-group"><textarea class="textDescChienCong form-control required" rows="3" placeholder="Nhập vào chiến công" style="height:auto"required></textarea></div></div></div></div>'
    );
    $('html').animate({
      scrollTop: $("#them-chiencong").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Thêm liệt sĩ
  $(document).on("click", "#them-lietsi", function () {
    let vali = randomVal(5);
    $('#liet-si').append('<div class="card liet-si radius-16" vali="' + vali + '"><div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse-next"><i class="fa fa-align-justify"></i></button><button class="btn btn-link xoa-lietsi pull-right" type="button"><i class="fa fa-times"></i></button></div><div class="collapse show"><div class="card-body p-20"><div class="row"><div class="col-md-7"><div class="form-group"><label for="">Tên</label><input type="text" name="nameLietSi" class="textTenLietSi form-control  required" placeholder="Nhập tên thương binh liệt sĩ"required></div><div class="row"><div class="col-sm-6"><div class="form-group"><label for="">Ngày sinh</label><div class="row "><div class="col-sm-4"><select class="textDayChild custom-select form-control"><option value="">Ngày</option><% for( let i = 1; i <=31; i ++ ) {%><option value="<%- i %>"><%- i %></option><%}%></select></div><div class="col-sm-4"><select class="textMonthChild custom-select form-control"><option value="">Tháng</option><% for( let i = 1; i <=12; i ++ ) {%><option value="<%- i %>"><%- i %></option><%}%></select></div><div class="col-sm-4"><select class="textYearChild custom-select form-control"><option value="">Năm</option><%for( let i = 1900; i <= timeYear; i ++ ) {%><option value="<%- i %>"><%- i %></option><%}%></select></div></div></div></div><div class="col-sm-6"><div class="form-group"><label for="">Ngày mất</label><div class="row "><div class="col-sm-4"><select class="form-control custom-select textChildDayDead"><option value="">Ngày</option><% for( let i = 1; i <= 31; i ++ ) {%><option value="<%- i %>"><%- i %></option><%}%></select></div><div class="col-sm-4"><select class="form-control custom-select textChildMonthDead"><option value="">Tháng</option><% for( let i = 1; i <= 12; i ++ ) {%><option value="<%- i %>"><%- i %></option><%}%></select></div><div class="col-sm-4"><select class="form-control custom-select textChildYearDead"><option value="">Năm</option><%for( let i = timeYear; i >= 1900; i -- ) {%><option value="<%- i %>"><%- i %></option><%}%></select></div></div></div></div></div><div class="row"><div class="col-sm-12"><div class="form-group"><label for="">Mô tả</label><textarea name="descLietSi" class="form-control textMoTa required" rows="2" placeholder="Nhập vào mô tả" required></textarea></div></div></div></div><div class="col-md-5"><div class="form-group"><label for="">Hình ảnh</label><form action="/api/upload/image" class="dropzone" name="dropzoneHinhLietSi" id="myDropzoneHinhLietSi"><div class="fallback"><input name="file" type="file" multiple/></div></form></div></div></div></div></div></div>'
    );
    setTimeout(function () {
      // Action after append
      $('form[name=dropzoneHinhLietSi]').not('.dz-clickable').dropzone({
        paramName: 'image',
        acceptedFiles: 'image/*',
        maxFiles: 1,
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            // Khi upload thành công thì thêm path vào array hìn nảh
            $('#submit-button').prop('disabled', false);
            // console.log(flag);
            arrayLinkHinhLietSi.push({
              name: res.name,
              id: res.id,
              link: res.link,
              vali: vali
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayLinkHinhLietSi, name);
          removeLinkImgOnArr(arrayLinkHinhLietSi, name);
          arrayDeleteFile.push(id);
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) :
            void 0;
        }
      });
    }, 0);
    $('html').animate({
      scrollTop: $("#them-lietsi").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Thêm lịch sử
  $(document).on("click", "#them-lichsu", function () {
    let vali = randomVal(5);
    $('#lich-su').append('<div class="card lich-su radius-16" vali="' + vali + '"><div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse-next"><i class="fa fa-align-justify"></i></button><button class="btn btn-link xoa-lichsu pull-right" type="button"><i class="fa fa-times"></i></button></div><div class="collapse show"><div class="card-body p-15"><div class="row"><div class="col-md-7"><div class="form-group"><label for="">Thời gian sự kiện</label><input name="timeSuKien" class=" form-control required" placeholder="Nhập vào thời gian" required/></div><div class="form-group"><label for="">Sự kiện</label><textarea name="descSuKien" class=" form-control required" rows="2" placeholder="Nhập vào sự kiện" style="height:70px" required></textarea></div></div><div class="col-md-5"><div class="form-group"><label for="">Hình ảnh</label><form action="/api/upload/image" class="dropzone" name="dropzoneHinhLS" id="myDropzoneHinhLS"><div class="fallback"><input name="file" type="file" multiple/></div></form></div></div></div></div></div></div>'
    );
    setTimeout(function () {
      // Action after append
      $('form[name=dropzoneHinhLS]').not('.dz-clickable').dropzone({
        paramName: 'image',
        acceptedFiles: 'image/*',
        maxFiles: 1,
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            // Khi upload thành công thì thêm path vào array hìn nảh
            $('#submit-button').prop('disabled', false);
            // console.log(flag);
            arrayHinhLichSu.push({
              name: res.name,
              id: res.id,
              link: res.link,
              vali: vali
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayHinhLichSu, name);
          removeLinkImgOnArr(arrayHinhLichSu, name);
          arrayDeleteFile.push(id);
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) :
            void 0;
        }
      });
    }, 0);
    $('html').animate({
      scrollTop: $("#them-lichsu").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  //  Thêm giấy khen 
  $(document).on("click", "#them-giaykhen", function () {
    let vali = randomVal(5);
    $('#giay-khen').append('<div class="giay-khen card radius-16" vali="' + vali + '"><div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse-next"><i class="fa fa-align-justify"></i></button><button class="btn btn-link xoa-giaykhen pull-right" type="button"><i class="fa fa-times"></i></button></div><div class="collapse show"><div class="card-body p-15"><div class="row"><div class="col-md-7"><div class="form-group"><label for="">Tên giấy khen</label><input name="titleGiayKhen" class=" form-control required" placeholder="Nhập vào tên giấy khen" required/></div><div class="form-group"><label for="">Mô tả giấy khen</label><textarea name="descGiayKhen" class=" form-control" rows="2" placeholder="Nhập vào mô tả giấy khen" style="height:70px"></textarea></div></div><div class="col-md-5"><div class="form-group"><label for="">Hình ảnh</label><form action="/api/upload/image" class="dropzone" name="dropzoneHinhGiayKhen" id="myDropzoneHinhGiayKhen"><div class="fallback"><input name="file" type="file" multiple/></div></form></div></div></div></div></div></div>'
    );
    setTimeout(function () {
      // Action after append
      $('form[name=dropzoneHinhGiayKhen]').not('.dz-clickable').dropzone({
        paramName: 'image',
        maxFiles: 1,
        acceptedFiles: 'image/*',
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            // Khi upload thành công thì thêm path vào array hìn nảh
            $('#submit-button').prop('disabled', false);
            // console.log(flag);
            arrayHinhGiayKhen.push({
              name: res.name,
              id: res.id,
              link: res.link,
              vali: vali
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayHinhGiayKhen, name);
          removeLinkImgOnArr(arrayHinhGiayKhen, name);
          arrayDeleteFile.push(id);
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) :
            void 0;
        }
      });
    }, 0);
    $('html').animate({
      scrollTop: $("#them-giaykhen").parent().siblings().children().last().prev().offset().top
    }, 500);
  });
  // Thêm hình ảnh
  $(document).on("click", "#them-hinhanh", function () {
    let vali = randomVal(5);
    $('#hinh-anh').append('<div class="hinh-anh card radius-16" vali="' + vali + '"><div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse-next"><i class="fa fa-align-justify"></i></button><button class="btn btn-link xoa-hinhanh pull-right" type="button"><i class="fa fa-times"></i></button></div><div class="collapse show"><div class="card-body p-15"><div class="row"><div class="col-md-7"><div class="form-group"><label for="">Tiêu đề hình ảnh</label><input name="titleHinhAnh" class=" form-control required" rows="2" placeholder="Nhập vào tiêu đề hình ảnh" required/></div><div class="form-group"><label for="">Mô tả hình ảnh</label><textarea name="descHinhAnh" class=" form-control required" rows="2" placeholder="Nhập vào mô tả hình ảnh" style="height:70px"required></textarea></div></div><div class="col-md-5"><div class="form-group"><label for="">Hình ảnh</label><form action="/api/upload/image" class="dropzone" name="dropzoneHinhAnh" id="myDropzoneHinhAnh"><div class="fallback"><input name="file" type="file" multiple/></div></form></div></div></div></div></div></div>'
    );
    setTimeout(function () {
      // Action after append
      $('form[name=dropzoneHinhAnh]').not('.dz-clickable').dropzone({
        paramName: 'image',
        acceptedFiles: 'image/*',
        maxFiles: 1,
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            // Khi upload thành công thì thêm path vào array hìn nảh
            $('#submit-button').prop('disabled', false);
            // console.log(flag);
            arrayLinkHinhAnh.push({
              name: res.name,
              id: res.id,
              link: res.link,
              vali: vali
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayLinkHinhAnh, name);
          removeLinkImgOnArr(arrayLinkHinhAnh, name);
          arrayDeleteFile.push(id);
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) :
            void 0;
        }
      });
    }, 0);
    $('html').animate({
      scrollTop: $("#them-hinhanh").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Xóa mô tả
  $(document).on('click', 'button.xoa-tieusu', function () {
    $(this).parent().parent().remove();
    $('html').animate({
      scrollTop: $("#them-tieusu").parent().siblings().children().last().prev().prev().offset().top
    }, 500);
  });
  // xóa liệt sĩ
  $(document).on('click', 'button.xoa-lietsi', function () {
    let vali = $(this).parent().parent().attr('vali');
    let id = findIdFromVali(arrayLinkHinhLietSi, vali);
    arrayDeleteFile.push(id);
    removeItemByVali(arrayLinkHinhLietSi, vali);
    $(this).parent().parent().remove();
    $('html').animate({
      scrollTop: $("#them-lietsi").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // xóa chiến côgn
  $(document).on('click', 'button.xoa-chiencong', function () {
    $(this).parent().parent().remove();
    $('html').animate({
      scrollTop: $("#them-chiencong").parent().siblings().children().last().prev().prev().offset().top
    }, 500);
  });

  // Xóa lịch sử
  $(document).on('click', 'button.xoa-lichsu', function () {
    let vali = $(this).parent().parent().attr('vali');
    let id = findIdFromVali(arrayHinhLichSu, vali);
    arrayDeleteFile.push(id);
    removeItemByVali(arrayHinhLichSu, vali);
    $(this).parent().parent().remove();
    $('html').animate({
      scrollTop: $("#them-lichsu").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Xóa giấy khen
  $(document).on('click', 'button.xoa-giaykhen', function () {
    let vali = $(this).parent().parent().attr('vali');
    let id = findIdFromVali(arrayHinhGiayKhen, vali);
    arrayDeleteFile.push(id);
    removeItemByVali(arrayHinhGiayKhen, vali);
    $(this).parent().parent().remove();
    $('html').animate({
      scrollTop: $("#them-giaykhen").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Xóa hình ảnh
  $(document).on('click', 'button.xoa-hinhanh', function () {
    let vali = $(this).parent().parent().attr('vali');
    let id = findIdFromVali(arrayLinkHinhAnh, vali);
    arrayDeleteFile.push(id);
    removeItemByVali(arrayLinkHinhAnh, vali);
    $(this).parent().parent().remove();
    $('html').animate({
      scrollTop: $("#them-hinhanh").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Option hình nên
  var arrayHinhNen = [];
  Dropzone.options.myDropzoneHinhNen = {
    maxFiles: 5,
    paramName: 'image',
    acceptedFiles: 'image/*',
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        // console.log(res.name);
        $('#submit-button').prop('disabled', false);
        arrayHinhNen.push({
          name: res.name,
          id: res.id,
          imageLink: res.link
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayHinhNen, name);
      removeLinkImgOnArr(arrayHinhNen, name);
      arrayDeleteFile.push(id);
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  }

  // Option hình chân dung
  var arrayHinhChanDung = [];
  Dropzone.options.myDropzoneHinhChanDung = {
    maxFiles: 5,
    acceptedFiles: 'image/*',
    paramName: 'image',
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        // console.log('arr hinh chanh dung');
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        // console.log(res.name);
        $('#submit-button').prop('disabled', false);
        arrayHinhChanDung.push({
          name: res.name,
          id: res.id,
          imageLink: res.link
        });
      })
    },
    removedfile: function (file) {
      // console.log(file);
      var name = file.name;
      var id = findIdFromName(arrayHinhChanDung, name);
      removeLinkImgOnArr(arrayHinhChanDung, name);
      arrayDeleteFile.push(id);
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  };

  // array hifnh liet si
  var arrayLinkHinhLietSi = [];
  Dropzone.options.myDropzoneHinhLietSi = {
    paramName: 'image',
    acceptedFiles: 'image/*',
    maxFiles: 1,
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        // console.log('res', res)
        $('#submit-button').prop('disabled', false);
        arrayLinkHinhLietSi.push({
          name: res.name,
          id: res.id,
          link: res.link,
          vali: $(this.element).closest('div.liet-si').attr('vali')
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayLinkHinhLietSi, name);
      // console.log('file', file);
      removeLinkImgOnArr(arrayLinkHinhLietSi, name);
      arrayDeleteFile.push(id);
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  }

  // tạo array lưu các path của hình ảnh
  var arrayLinkHinhAnh = [];
  Dropzone.options.myDropzoneHinhAnh = {
    paramName: 'image',
    acceptedFiles: 'image/*',
    maxFiles: 1,
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        // console.log('res', )
        $('#submit-button').prop('disabled', false);
        arrayLinkHinhAnh.push({
          name: res.name,
          id: res.id,
          link: res.link,
          vali: $(this.element).closest('div.hinh-anh').attr('vali')
        });
        // console.log(arrayLinkHinhAnh, ";;;", $(this).closest('div.hinh-anh'));
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayLinkHinhAnh, name);
      // console.log('file', file);
      removeLinkImgOnArr(arrayLinkHinhAnh, name);
      arrayDeleteFile.push(id);
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  }

  // Option hình lịch sư
  var arrayHinhLichSu = [];
  Dropzone.options.myDropzoneHinhLS = {
    paramName: 'image',
    acceptedFiles: 'image/*',
    maxFiles: 1,
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        // console.log('res', res)
        $('#submit-button').prop('disabled', false);
        arrayHinhLichSu.push({
          name: res.name,
          id: res.id,
          link: res.link,
          vali: $(this.element).closest('div.lich-su').attr('vali')
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayHinhLichSu, name);
      // console.log('file', file);
      removeLinkImgOnArr(arrayHinhLichSu, name);
      arrayDeleteFile.push(id);
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  };

  // Option hình giấy khen
  var arrayHinhGiayKhen = [];
  Dropzone.options.myDropzoneHinhGiayKhen = {
    paramName: 'image',
    acceptedFiles: 'image/*',
    maxFiles: 1,
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        // console.log('res', res)
        $('#submit-button').prop('disabled', false);
        arrayHinhGiayKhen.push({
          name: res.name,
          id: res.id,
          link: res.link,
          vali: $(this.element).closest('div.giay-khen').attr('vali')
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayHinhGiayKhen, name);
      // console.log('file', file);
      removeLinkImgOnArr(arrayHinhGiayKhen, name);
      arrayDeleteFile.push(id);
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  };
  var myLocation = {
    lat: null,
    lng: null
  }
  var myLocationTomb = {
    lat: null,
    lng: null
  }
  // Submit button
  $(document).on('click', '#submit-button', function (e) {
    validateInput(function (flag) {
      if (!flag) {
        alert('Ban chua nhap du cac truong')
      } else {
        var arrayTieuSu = [];
        $('div.tieu-su').each(function (infex, val) {
          arrayTieuSu.push({
            content: $(this).find('.textTieuSu').val().replace(/\n/g, '<br>')
          })
        });
        var arrayChienCong = [];
        $('div.chien-cong').each(function (infex, val) {
          arrayChienCong.push({
            time: $(this).find('.textTimeChienCong').val(),
            content: $(this).find('.textDescChienCong').val().replace(/\n/g, '<br>')
          })
        });
        var arrayLichSu = [];
        $('.lich-su').each(function (index, value) {
          let vali = $(this).attr('vali');
          let linkImg = null;
          for (let i = 0; i < arrayHinhLichSu.length; i++) {
            if (arrayHinhLichSu[i].vali == vali) {
              linkImg = arrayHinhLichSu[i].link;
              break;
            }
          }
          arrayLichSu.push({
            time: $(this).find('input[name=timeSuKien]').val(),
            desc: $(this).find('textarea[name=descSuKien]').val().replace(/\n/g, '<br>'),
            imageLink: linkImg
          })
        });
        var arrayLietSi = [];
        $('.liet-si').each(function (index, value) {
          let vali = $(this).attr('vali');
          let linkImg = null;
          for (let i = 0; i < arrayLinkHinhLietSi.length; i++) {
            if (arrayLinkHinhLietSi[i].vali == vali) {
              linkImg = arrayLinkHinhLietSi[i].link;
              break;
            }
          }
          let _this = $(this);
          arrayLietSi.push({
            name: $(_this).find('input[name=nameLietSi]').val(),
            birthday: {
              date: $(_this).find('.textDayChild').val(),
              month: $(_this).find('.textMonthChild').val(),
              year: $(_this).find('.textYearChild').val()
            },
            dateOfDeath: {
              date: $(_this).find('.textChildDayDead').val(),
              month: $(_this).find('.textChildMonthDead').val(),
              year: $(_this).find('.textChildYearDead').val()
            },
            desc: $(_this).find('textarea[name=descLietSi]').val().replace(/\n/g, '<br>'),
            imageLink: linkImg
          })
        });
        // console.log(arrayLietSi);
        var arrayGiayKhen = [];
        $('.giay-khen').each(function (index, value) {
          let vali = $(this).attr('vali');
          let linkImg = null;
          for (let i = 0; i < arrayHinhGiayKhen.length; i++) {
            if (arrayHinhGiayKhen[i].vali == vali) {
              linkImg = arrayHinhGiayKhen[i].link;
              break;
            }
          }
          arrayGiayKhen.push({
            prizeName: $(this).find('input[name=titleGiayKhen]').val(),
            prizeContent: $(this).find('textarea[name=descGiayKhen]').val().replace(/\n/g, '<br>'),
            imageLink: linkImg
          })
        });
        var arrayHinhAnh = [];
        $('.hinh-anh').each(function (index, value) {
          let vali = $(this).attr('vali');
          let linkImg = null;
          for (let i = 0; i < arrayLinkHinhAnh.length; i++) {
            if (arrayLinkHinhAnh[i].vali == vali) {
              linkImg = arrayLinkHinhAnh[i].link;
              break;
            }
          }
          arrayHinhAnh.push({
            title: $(this).find('input[name=titleHinhAnh]').val(),
            desc: $(this).find('textarea[name=descHinhAnh]').val().replace(/\n/g, '<br>'),
            imageLink: linkImg
          })
        });
        $.each(arrayDeleteFile, function (index, item) {
          // console.log('item', item);
          $.ajax({
            type: "delete",
            url: `/api/remove/image/${item}`,
            dataType: 'json',
            data: {
              name: name,
              request: 'delete'
            },
            complete: function (res) {
              // console.log('dellete success', item);
            }
          })
        })
        // console.log(window.location.pathname)
        let id = window.location.pathname.match(/\w+(?=\/edit)/);
        // console.log(id[0]);
        $.ajax({
          url: `/admin/mevnah/${id[0]}/edit`,
          type: 'put',
          dataType: 'json',
          data: {
            name: $('#textTenMe').val(),
            nickName: $('#textNickName').val(),
            dayOfBirth: $('#textDay').val(),
            monthOfBirth: $('#textMonth').val(),
            yearOfBirth: $('#textYear').val(),
            healthStatus: $("#selectSucKhoe").val(),
            dayOfDeath: $('#textDayDeath').val(),
            monthOfDeath: $('#textMonthDeath').val(),
            yearOfDeath: $('#textYearDeath').val(),
            locationTomb: $('#textBurial').val(),
            districtsID: $('#selectQuan').val(),
            wardsID: $('#selectPhuong').val(),
            address: $('#textDiaChi').val(),
            location: JSON.stringify(myLocation),
            locatTomb: JSON.stringify(myLocationTomb),
            homeTown: $('#textQueQuan').val(),
            martyrs: JSON.stringify(arrayLietSi),
            background: JSON.stringify(arrayHinhNen),
            motherImageLink: JSON.stringify(arrayHinhChanDung),
            story: JSON.stringify(arrayTieuSu),
            victory: JSON.stringify(arrayChienCong),
            stages: JSON.stringify(arrayLichSu),
            prize: JSON.stringify(arrayGiayKhen),
            someOfOtherImage: JSON.stringify(arrayHinhAnh),
            nameContact: $("#textTenLH").val(),
            numberPhoneContact: $('#textSDT').val(),
            emailContact: $('#textEmail').val(),
            addressContact: $('#textDiaChiLH').val()
          },
          complete: function (res) {
            if (res) {
              window.location.reload();
              // console.log('res', res);
            }
          }
        })
      }
    })
  });

  // update ward when district change
  $('#selectQuan').change(function () {
    let districtId = $(this).val();
    $('#selectPhuong').empty();
    $('#selectPhuong').append('<option value="">---Phường---</option>');
    $.ajax({
      url: `/api/list/${districtId}`,
      type: 'get',
      success: function (res) {
        res.map(item => {
          $('#selectPhuong').append('<option value="' + item._id + '">' + item.wardName + '</option>')
        })
      }
    })
  })
  // Kiểm tra các fiedl
  function validateInput(callback) {
    let flag = true;
    $('input, textarea, select').filter('[required]:visible').each(function (index, val) {
      let _this = this;
      if ($(this).val() == '') {
        flag = false;
        makeInputDanger(_this);
      }
    })
    callback(flag);
  }
  // báo hiệu các field chưa nhập
  $(document).on('focusout', 'input.required, textarea.required, select.required', function () {
    if ($(this).val() == "") {
      makeInputDanger(this);
    } else {
      makeInputDefault(this);
    }
  })
  // Khi tình trạng sức khỏe thay đổi
  $(document).on('change', '#selectSucKhoe', function () {
    if ($(this).val() == 'death') {
      $("#deadInfo").show()
    } else {
      $("#deadInfo").hide()
    }
  })
  $(document).on('click', '#get-locat', function () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        let crd = position.coords;
        myLocation.lat = crd.latitude;
        myLocation.lng = crd.longitude;
        // console.log(myLocation);
        var geocoder = new google.maps.Geocoder;
        geocoder.geocode({ 'location': myLocation }, function (results, status) {
          if (status === 'OK') {
            if (results[0]) {
              $('#textDiaChi').val(results[0].formatted_address);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      })
    }
  })
  $(document).on('click', '#get-locat-tomb', function () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        let crd = position.coords;
        myLocationTomb.lat = crd.latitude;
        myLocationTomb.lng = crd.longitude;
        var geocoder = new google.maps.Geocoder;
        geocoder.geocode({ 'location': myLocationTomb }, function (results, status) {
          if (status === 'OK') {
            if (results[0]) {
              $('#textBurial').val(results[0].formatted_address);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      })
    }
  })
  $(document).on('click', '[data-toggle=collapse-next]', function () {
    var $target = $(this).parent().next()
    $target.collapse('toggle');
  });


  $(document).ready(function () {
    $(".dropzone.addedImg").each(function (index, item) {
      let url = $(item).attr('imgSrc');
      if (url != '') {
        let name = url.substring(url.lastIndexOf('/') + 1, );
        let id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.'))
        // console.log($(item).attr('imgSrc'));
        switch ($(item).attr('dzGroup')) {
          case "HinhLietSi":
            arrayLinkHinhLietSi.push({
              name: name,
              id: id,
              link: url,
              vali: $(item).closest('div.radius-16').attr('vali')
            })
            // console.log($(item).closest('div.radius-16').attr('vali'));
            break;
          case "HinhLichSu":
            arrayHinhLichSu.push({
              name: name,
              id: id,
              link: url,
              vali: $(item).closest('div.radius-16').attr('vali')
            })
            // console.log($(item));
            break;
          case "HinhGiayKhen":
            arrayHinhGiayKhen.push({
              name: name,
              id: id,
              link: url,
              vali: $(item).closest('div.radius-16').attr('vali')
            })
            // console.log($(item).closest('div.radius-16').attr('vali'));
            break;
          case "HinhAnh":
            arrayLinkHinhAnh.push({
              name: name,
              id: id,
              link: url,
              vali: $(item).closest('div.radius-16').attr('vali')
            })
            // console.log($(item));
            break;
        }
        let uploadedFile = { name: name, size: 2621440, accepted: true };
        let thisDropzone = Dropzone.forElement(item);
        thisDropzone.files.push(uploadedFile);
        thisDropzone.emit('addedfile', uploadedFile);
        // thisDropzone.options.queuedFiles = this.options.queuedFiles + 1;
        // console.log(thisDropzone.getQueuedFiles().length);
        thisDropzone.createThumbnailFromUrl(uploadedFile, url);
        // thisDropzone.options.maxFiles = thisDropzone.options.maxFiles - 1;
        // thisDropzone._updateMaxFilesReachedClass();
        uploadedFile.previewElement.classList.add('dz-success');
        uploadedFile.previewElement.classList.add('dz-complete');
      }
    })
  })
</script>

<% mevnah.page.background.map((item, index)=>{%>
  <script>
    $(document).ready(function () {
      let url = '<%- item.imageLink %>';
      let id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.'));
      let name = url.substring(url.lastIndexOf('/') + 1, );
      arrayHinhNen.push({
        name: name,
        id: id,
        imageLink: url
      });
      let thisDropzone = Dropzone.forElement('.dropzone.addedBackground');
      let uploadedFile = { name: name, size: 2621440, accepted: true };
      thisDropzone.files.push(uploadedFile);
      thisDropzone.emit('addedfile', uploadedFile);
      thisDropzone.createThumbnailFromUrl(uploadedFile, url);
      // thisDropzone.options.queuedFiles = this.options.queuedFiles + 1;
      // console.log(thisDropzone.getQueuedFiles().length);
      // thisDropzone.options.maxFiles = thisDropzone.options.maxFiles - 1;
      // thisDropzone._updateMaxFilesReachedClass();
      uploadedFile.previewElement.classList.add('dz-success');
      uploadedFile.previewElement.classList.add('dz-complete');
    })
  </script>
  <%})%>
    <% mevnah.page.motherImageLink.map((item, index)=>{%>
      <script>
        $(document).ready(function () {
          let url = '<%- item.imageLink %>';
          let id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.'));
          let name = url.substring(url.lastIndexOf('/') + 1, );
          arrayHinhChanDung.push({
            name: name,
            id: id,
            imageLink: url
          });
          let thisDropzone = Dropzone.forElement('.dropzone.addedMotherImage');
          let uploadedFile = { name: name, size: 2621440, accepted: true };
          thisDropzone.files.push(uploadedFile);
          thisDropzone.emit('addedfile', uploadedFile);
          thisDropzone.createThumbnailFromUrl(uploadedFile, url);
          // thisDropzone.options.queuedFiles = this.options.queuedFiles + 1;
          // console.log(thisDropzone.getQueuedFiles().length);
          // thisDropzone.options.maxFiles = thisDropzone.options.maxFiles - 1;
          // thisDropzone._updateMaxFilesReachedClass();
          uploadedFile.previewElement.classList.add('dz-success');
          uploadedFile.previewElement.classList.add('dz-complete');
        })
      </script>
      <%}) %>