<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%- title %>
  </title>
  <meta property="og:url" content="www.google.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="Diachido" />
  <meta property="og:image" content="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj0trCzmLzcAhUCVrwKHcGKAngQjRx6BAgBEAU&url=http%3A%2F%2Fwww.anhynghia.com%2F2015%2F05%2Fhoa-co-dai-ngat-huong-trong-gio.html&psig=AOvVaw2ybEF0zXSrfWK6z5xeiebr&ust=1532674717311171"
  />
  <%- include ../partials/css %>
    <link rel="stylesheet" href="/css/admindashboard/lib/sweetalert/sweetalert.css">
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admindashboard/lib/magnific/magnific-popup.css">
    <link rel="stylesheet" href="/css/admindashboard/lib/toastr/toastr.min.css">
    <style>
      @media only screen and (max-width: 500px) {
        .modal .modal-dialog {
          top: 100vh;
        }
        .modal .form-group {
          margin: 0px;
        }
      }

      .stt {
        max-width: 70px;
      }

      .ten {
        max-width: 180px;
      }

      .diachi {
        max-width: 300px;
      }

      .phuong {
        max-width: 100px;
      }

      .mfp-img {
        min-height: 500px;
      }

      .qrcode img {
        max-width: 60px;
      }

      .top-buffer {
        margin-top: 10px;
      }

      .left-buffer {
        margin-left: 20px;
      }

      .right-buffer {
        margin-right: 30px;
      }

      .btn-fill {
        width: 100%;
        height: 100%;
      }

      .col-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
      }

      #copyLink {
        display: none;
      }

      .isBannedstyle th {
        color: red;
      }
    </style>
</head>

<body class="fix-header fix-sidebar">

  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="">
              <!-- start show địa chỉ đỏ -->
              <div class="card">
                <div class="card-title">
                  <h4>Danh sách ba má phong trào</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-data">
                      <thead class="">
                        <tr>
                          <th class="stt">STT</th>
                          <th class="ten">Tên ba má phong trào</th>
                          <th class="qrCode">Mã Qr Code</th>
                          <th class="diachi">Địa chỉ</th>
                          <th class="phuong">Trực thuộc</th>
                          <th class="user">Người viết</th>
                          <th class="text-left action">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% mevnahList.map((item, index) =>{%>
                          <tr id="<%- item._id%>" <% if(item.isBanned==true){%>
                            class="isBannedstyle"
                            <%} %> >
                              <th class="stt">
                                <%- index + 1 %>
                              </th>
                              <th class="ten">
                                <%- item.name %>
                              </th>
                              <th class="qrcode">
                                <a class="img-item" href="#" title="qr code">
                                  <img class="image" src="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" />
                                </a>
                              </th>
                              <th class="diachi">
                                <%- item.address ? item.address.address : '' %>
                              </th>
                              <th class="phuong">
                                <%- item.districtsID ? item.districtsID.districtName : '' %> /
                                  <%- item.wardsID ? item.wardsID.wardName : '' %>
                              </th>
                              <th class="user">
                                <%- item.postedBy ? item.postedBy.name : '' %>
                              </th>
                              <th class="action">
                                <ul class="list-inline ">
                                  <li class="list-inline-item ">
                                    <a class="create-post" title="Thêm bài viết " href="/admin/mevnah/<%- item._id %>/post">
                                      <i class="fa fa-clipboard"></i>
                                    </a>
                                  </li>
                                  <li class="list-inline-item ">
                                    <a class="chi-tiet " title="Xem chi tiết " href="<%- item.qrCodeID ? item.qrCodeID.directTo
                                : null %>">
                                      <i class="fa fa-info"></i>
                                    </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href='/admin/mevnah/<%- item._id %>/edit' class="chinh-sua" title="Chỉnh sửa">
                                      <i class="fa fa-edit"></i>
                                    </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="#" class="tao-tb" title="Tạo thông báo">
                                      <i class="fa fa-plus"></i>
                                    </a>
                                  </li>
                                  <li class="list-inline-item">
                                    <a href="#" class="chia-se" title="Chia sẻ" data-toggle="modal" data-target="#shareModal-<%- index %>">
                                      <i class="fa fa-share"></i>
                                    </a>
                                  </li>
                                  <%  if (item.isBanned != true) {%>
                                    <li class="list-inline-item">
                                      <a href="#" class="btnLock" title="Khóa">
                                        <i class="fa fa-lock"></i>
                                      </a>
                                    </li>

                                    <%  } else { %>
                                      <li class="list-inline-item">
                                        <a href="#" class="btnUnlock" title="Mở khóa">
                                          <i class="fa fa-key"></i>
                                        </a>
                                      </li>
                                      <% } %>
                                </ul>
                              </th>
                          </tr>
                          <!-- start modal -->

                          <!-- start create noti modal -->

                          <!-- end create noti modal -->

                          <!-- start shareModal modal -->
                          <div id="shareModal-<%- index %>" class="modal" role="dialog">
                            <div class="modal-dialog border rounded border-primary" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-light ">
                                  <h2 class="m-auto text-primary">Chia sẻ</h2>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="row">
                                        <div class="col-md-12 top-buffer col-centered">
                                          <img src="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" width="100%" aria-hidden="true" alt="qrcode" title="qrcode">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="row col-centered">
                                        <div class="col-md-10 top-buffer px-0" style="background: #516eab;">
                                          <a target="_blank" class="btn btn-default px-0  btn-fill" style="color: #fff;" href="https://www.facebook.com/sharer/sharer.php?u=<%- item.qrCodeID ? item.qrCodeID.directTo : null %>%2F&amp;src=sdkpreparse"
                                            title="Chia sẻ qua facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                          </a>
                                        </div>
                                      </div>
                                      <div class="row col-centered">
                                        <div class="col-md-10 top-buffer px-0 " style="background:  #eb4026;">
                                          <a class="btn btn-default px-0  btn-fill" style="color: #fff;" href="mailto:?subject=Link trang mẹ Việt Nam Anh Hùng&amp;body=Xem thử trang nè <%- item.qrCodeID ? item.qrCodeID.directTo : null %> ."
                                            title="Chia sẻ qua email">
                                            <i class="fa fa-envelope-square" aria-hidden="true"></i> Mail
                                          </a>
                                        </div>
                                      </div>
                                      <div class="row col-centered">
                                        <div class="col-md-10 top-buffer px-0 " style="background: #a5a291;">
                                          <a class="btn btn-default px-0 btn-fill copy-btn" style=" color: #fff;" title="Copy đường Link" data-clipboard-text="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>">
                                            <i class="fa fa-link" aria-hidden="true"></i> Copy Link
                                          </a>
                                        </div>
                                      </div>
                                      <div class="row col-centered">
                                        <div class="col-md-10 top-buffer px-0 " style="background: #29c5f6;">
                                          <a class="btn btn-default px-0 btn-fill " style=" color: #fff;" href="http://twitter.com/share?text=Trang mẹ Việt Nam anh hùng&url=<%- item.qrCodeID ? item.qrCodeID.directTo : null %>&hashtags=MHXUIT2018,WEBDEV"
                                            title="Chia sẻ qua Twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                                          </a>
                                        </div>
                                      </div>
                                      <div class="row col-centered">
                                        <div class="col-md-10 top-buffer  px-0" style="background: #68be5b;">
                                          <input type="text" name="copy" id="copyLink" value="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>" />
                                          <a class="btn btn-default px-0 btn-fill " style="color: #fff;" href="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>"
                                            target="_blank" download>
                                            <i class="fa fa-download" aria-hidden="true"></i> Tải QrCode
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- end shareModal modal -->

                          <!-- end modal -->
                          <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end show địa chỉ đỏ -->
              <!-- start modal -->
              <div id="createModal" class="modal" role="dialog">
                <div class="modal-dialog border rounded border-primary modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-light ">
                      <h3 class="m-auto text-primary">Tạo thông báo</h3>
                    </div>
                    <div class="modal-body">
                      <p id="modal-test-view-content"></p>
                      <div class="form">
                        <div class="row">
                          <div class="col-md-6 col-sm-12 form-group">
                            <label for="">
                              <b>Hình sự kiện</b>
                            </label>
                            <form action="/api/upload/image" class="dropzone" id="myDropzoneNotification">
                              <div class="fallback">
                                <input name="file" type="file" multiple/>
                              </div>
                            </form>
                            <div class="form-group m-t-15">
                              <label>
                                <b>Thời gian hiển thị</b>
                              </label>
                              <div class="row">
                                <div class="col-md-6 col-sm-12 form-group">
                                  <label for="">Từ ngày</label>
                                  <input id="textStartDisplay" class="form-control" type="date" placeholder="Bắt đầu"> </div>
                                <div class="col-md-6 col-sm-12 form-group">
                                  <label for="">Đến ngày</label>
                                  <input id="textEndDisplay" type="date" class="form-control" placeholder="Kết thúc"> </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 form-group">
                            <div class="form-group">
                              <label for="">
                                <b>Tên thông báo</b>
                              </label>
                              <input id="textNameNoti" type="text" class="form-control"> </div>
                            <div class="form-group">
                              <label for="">
                                <b>Nội dung</b>
                              </label>
                              <textarea id="textContent" class="form-control h-auto" rows="7"></textarea> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button id="btnNotiSubmit" type="button" class="btn btn-rounded btn-outline-primary">Xác nhận</button>
                      <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- start modal view qrcode -->

              <!-- end modal view qrcode -->
              <!-- end modal -->
            </div>
            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->
  <!-- All Jquery -->
  <script src="/js/admindashboard/lib/jquery/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/js/admindashboard/lib/bootstrap/js/popper.min.js"></script>
  <script src="/js/admindashboard/lib/bootstrap/js/bootstrap.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/js/admindashboard/jquery.slimscroll.js"></script>
  <!--Menu sidebar -->
  <script src="/js/admindashboard/sidebarmenu.js"></script>
  <!--stickey kit -->
  <script src="/js/admindashboard/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <script src="/js/admindashboard/lib/owl-carousel/owl.carousel.min.js"></script>
  <script src="/js/admindashboard/lib/owl-carousel/owl.carousel-init.js"></script>
  <script src="/js/admindashboard/scripts.js"></script>
  <script src="/js/admindashboard/custom.min.js"></script>
  <script>
    $(document).on('click', '.sidebartoggler', function () {
      $("body").hasClass("mini-sidebar") ? ($("body").trigger("resize"), $(".scroll-sidebar, .slimScrollDiv").css("overflow", "hidden").parent().css("overflow", "visible"),
        $("body").removeClass("mini-sidebar"), $(".navbar-brand span").show()) : ($("body").trigger("resize"),
          $(".scroll-sidebar, .slimScrollDiv").css("overflow-x", "visible").parent().css("overflow", "visible"),
          $("body").addClass("mini-sidebar"), $(".navbar-brand span").hide());
    })
  </script>
  <!-- scripit init-->
  <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>
  <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
  <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>
  <script src="/js/admindashboard/lib/toastr/toastr.min.js"></script>
  <script>
    // ******************************************************************************
    // copy to clipboard
    var clipboard = new ClipboardJS('.copy-btn');

    // ******************************************************************************
    // Unlock item
    $(document).on('click', '.btnUnlock', function (e) {

      var swal_Confirm_Unlock_form = {
        title: "Bạn có muốn mở khóa địa chỉ này ?",
        text: "Tất cả thông tin về địa chỉ này sẽ được hiện lại",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Chắc chắn !!",
        closeOnConfirm: false
      };

      var target = $(this).closest('tr').attr('id');

      swal(swal_Confirm_Unlock_form, function (e) {
        $.ajax({
          url: `/admin/mevnah/${target}/active`,
          type: 'put',
          success: swal_Unlock_Success()
        });
      });

      var swal_Unlock_Success_form = {
        title: "Đã mở khóa !!",
        text: "Bạn đã mở khóa địa chỉ thành công",
        type: "success",
      };

      function swal_Unlock_Success() {
        swal(swal_Unlock_Success_form, function (e) {
          window.location.reload();
        });
      };
    });
    // ******************************************************************************
    // Lock item

    $(document).on('click', '.btnLock', function (e) {
      var swal_Confirm_Lock_form = {
        title: "Bạn có muốn khóa địa chỉ này ?",
        text: "Tất cả thông tin về địa chỉ này sẽ bị ẩn đi",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Chắc chắn !!",
        closeOnConfirm: false
      };

      var target = $(this).closest('tr').attr('id');

      swal(swal_Confirm_Lock_form, function (e) {
        $.ajax({
          url: `/admin/mevnah/${target}`,
          type: 'delete',
          success: swal_Lock_Success()
        });
      });

      var swal_Lock_Success_form = {
        title: "Đã khóa !!",
        text: "Bạn đã khóa địa chỉ thành công",
        type: "success",
      };

      function swal_Lock_Success() {
        swal(swal_Lock_Success_form, function (e) {
          window.location.reload();
        });
      };
    });
    $('.qrcode').magnificPopup({
      delegate: 'a',
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 400,
        easing: 'ease-in-out',
      }
    });

    var arrayHinhThongBao = [];
    Dropzone.options.myDropzoneNotification = {
      maxFiles: 1,
      paramName: 'image',
      acceptedFiles: 'image/*',
      init: function () {
        this.on('sending', function (file, xhr, formdata) {
          $('#btnNotiSubmit').prop('disabled', true);
        })
        this.on('success', function (file, res) {
          console.log(res.name);
          $('#btnNotiSubmit').prop('disabled', false);
          arrayHinhThongBao.push({
            name: res.name,
            id: res.id,
            imageLink: res.link
          });
        })
      },
      removedfile: function (file) {
        var name = file.name;
        var id = findIdFromName(arrayHinhThongBao, name);
        $.ajax({
          type: "delete",
          url: `/api/remove/image/${id}`,
          dataType: 'json',
          data: {
            name: name,
            request: 'delete'
          },
          complete: function (res) {
            console.log('dellete success');
            removeLinkImgOnArr(arrayHinhThongBao, name);
          }
        })
        var _ref;
        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
      }
    }

    $(document).on('click', '.tao-tb', function (e) {
      $('#createModal').modal({
        backdrop: 'static',
        focus: true,
        show: true
      });
      $('#createModal').modal('show');
      var id = $(this).closest('tr').attr('id');
      $(document).on('click', '#btnNotiSubmit', function (e) {
        let temp = arrayHinhThongBao.pop();
        console.log(temp);
        $.ajax({
          url: `/admin/mevnah/create-notification/${id}`,
          type: 'post',
          data: {
            name: $('#textNameNoti').val(),
            content: $('#textContent').val(),
            timeShow: $('#textStartDisplay').val(),
            timeEnd: $('#textEndDisplay').val(),
            background: JSON.stringify({
              imageLink: temp.imageLink,
              alt: temp.name,
            })
          },
          complete: function (res) {
            let dropzoneThongBao = Dropzone.forElement('#myDropzoneNotification');
            dropzoneThongBao.options.maxFiles += 1;
            $('#createModal').modal('toggle');
            $('#myDropzoneNotification').removeClass('dz-started dz-max-files-reached');
            $('.dz-preview').remove();
            $('#textNameNoti').val('');
            $('#textContent').val('');
            $('#textStartDisplay').val('');
            $('#textEndDisplay').val('');
            console.log(res);
            if (res.responseJSON) {
              console.log('true');
              toastr.success('Thêm thông báo thành công', 'Thành công', {
                timeOut: 3000,
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "tapToDismiss": false
              })
            } else {
              console.log('false');
              toastr.error('Thêm thông báo thất bại', 'Thất bại', {
                "positionClass": "toast-top-right",
                timeOut: 3000,
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "tapToDismiss": false
              })
            }
          }
        })
      })
    })

  </script>
</body>

</html>