<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>
  <style>
    .showNotification:hover {
      background-color: #5c4ac7;
    }
  </style>

  <%- include ../partials/css %>
    <link rel="stylesheet" href="/css/admindashboard/lib/sweetalert/sweetalert.css">
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">


</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
              <div class="col-lg-5">
                <div class="card">
                  <div class="card-title">
                    <h4>Danh sách ba má</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Thông tin</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% mevnahList.map((item, index) => { %>
                            <tr id="show-notification-<%- item._id %>" onclick="showNotification('<%- item._id %>')" class="showNotification">
                              <td scope="row">
                                <%- index + 1 %>
                              </td>
                              <td style="text-align: left;">
                                <%- item.name %>
                                  <br /> Địa chỉ:
                                  <%- item.districtsID.districtName %> /
                                    <%- item.wardsID.wardName %>
                              </td>
                              <!-- <td>
                                <span class="badge badge-primary">Sale</span>
                              </td>
                              <td>January 22</td>
                              <td class="color-primary">$21.56</td> -->
                            </tr>
                            <% }) %>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">

                <div class="notificationOfmevnah"></div>

              </div>
            </div>


            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->
  <div id="createModal" class="modal" role="dialog">
    <div class="modal-dialog border rounded border-primary modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light ">
          <h3 class="m-auto text-primary">Chỉnh sửa thông báo</h3>
        </div>
        <div class="modal-body">
          <p id="modal-test-view-content"></p>
          <div class="form">
            <div class="row">
              <div class="col-md-6 col-sm-12 form-group">
                <label for="">
                  <b>Hình sự kiện</b>
                </label>
                <form action="/api/upload/image" class="dropzone addedImage" id="myDropzoneNotification">
                  <div class="fallback">
                    <input name="file" type="file" multiple/>
                  </div>
                </form>
                <div class="form-group m-t-15">
                  <label>
                    <b>Thời gian hiển thị</b>
                  </label>
                  <div class="row">
                    <div class="col-md-6 col-sm-12 form-group">
                      <label for="">Từ ngày</label>
                      <input id="textStartDisplay" class="form-control" type="date" placeholder="Bắt đầu"> </div>
                    <div class="col-md-6 col-sm-12 form-group">
                      <label for="">Đến ngày</label>
                      <input id="textEndDisplay" type="date" class="form-control" placeholder="Kết thúc"> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 form-group">
                <div class="form-group">
                  <label for="">
                    <b>Tên thông báo</b>
                  </label>
                  <input id="textNameNoti" type="text" class="form-control"> </div>
                <div class="form-group">
                  <label for="">
                    <b>Nội dung</b>
                  </label>
                  <textarea id="textContent" class="form-control h-auto" rows="7"></textarea> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnNotiSubmit" type="button" class="btn btn-rounded btn-outline-primary">Xác nhận</button>
          <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/admindashboard/lib/jquery/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/js/admindashboard/lib/bootstrap/js/popper.min.js"></script>
  <script src="/js/admindashboard/lib/bootstrap/js/bootstrap.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/js/admindashboard/jquery.slimscroll.js"></script>
  <!--Menu sidebar -->
  <script src="/js/admindashboard/sidebarmenu.js"></script>
  <!--stickey kit -->
  <script src="/js/admindashboard/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <script src="/js/admindashboard/lib/owl-carousel/owl.carousel.min.js"></script>
  <script src="/js/admindashboard/lib/owl-carousel/owl.carousel-init.js"></script>
  <script src="/js/admindashboard/scripts.js"></script>
  <script src="/js/admindashboard/custom.min.js"></script>
  <script>
    $(document).on('click', '.sidebartoggler', function () {
      $("body").hasClass("mini-sidebar") ? ($("body").trigger("resize"), $(".scroll-sidebar, .slimScrollDiv").css("overflow", "hidden").parent().css("overflow", "visible"),
        $("body").removeClass("mini-sidebar"), $(".navbar-brand span").show()) : ($("body").trigger("resize"),
          $(".scroll-sidebar, .slimScrollDiv").css("overflow-x", "visible").parent().css("overflow", "visible"),
          $("body").addClass("mini-sidebar"), $(".navbar-brand span").hide());
    })
  </script>
  <!-- scripit init-->
  <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>
  <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
  <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>
  <script src="/js/admindashboard/lib/toastr/toastr.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    })
  </script>

  <script>
    function showNotification(id) {
      // console.log(id);
      $.ajax({
        url: `/admin/mevnah/notification/${id}/show`,
        type: 'GET',
        dataType: 'json',
        success: function (res) {
          $('.notificationOfmevnah').empty();
        },
        complete: function (res) {
          // console.log(res.responseJSON);
          if (res.responseJSON.haveNotification == true) {
            // console.log(res);
            let temp = res.responseJSON.notificationInfo ? $.map(res.responseJSON.notificationInfo.description, function (item, index) {
              index++;
              let timeShow = new Date(item.timeShow);
              let timeEnd = new Date(item.timeEnd);
              return (
                '<tr>' +
                '<th scope="row">' + index + '</th>' +
                '<td>' + item.name + '</td>' +
                '<td><p>' + item.content + '</p></td>' +
                '<td>' +
                '<span class="badge badge-primary">' + timeShow.getFullYear() + '-' + ('0' + (timeShow.getMonth() + 1)).slice(-2) + '-' + ('0' + timeShow.getDate()).slice(-2) + '</span> - <span class="badge badge-primary">' + timeEnd.getFullYear() + '-' + ('0' + (timeEnd.getMonth() + 1)).slice(-2) + '-' + ('0' + timeEnd.getDate()).slice(-2) + '</span>' +
                '</td>' +
                '<td id="' + res.responseJSON.notificationInfo._id + '">' +
                '<ul class="list-inline ">' +
                '<li class="list-inline-item" >' +
                '<i class="fa fa-edit"></i>' +
                '</li>' +
                '<li class="list-inline-item">' +
                '<i class="fa fa-trash" id="' + item._id + '"></i>' +
                '</li>' +
                '</ul>' +
                '</td>' +
                '</tr>'
              )
            }) : null
            $('.notificationOfmevnah').append(
              '<div class="card">' +
              '<div class="card-title">' +
              '<h4>Danh sách các thông báo</h4>' +
              '</div>' +
              '<div class="card-body">' +
              '<div class="table-responsive">' +
              '<table class="table">' +
              '<thead>' +
              '<tr>' +
              '<th>#</th>' +
              '<th>Tên thông báo</th>' +
              '<th>Nội dung thông báo</th>' +
              '<th>Thời gian hiển thị</th>' +
              '<th>Hành động</th>' +
              '</tr>' +
              '</thead>' +
              '<tbody>' +
              temp +
              '</tbody>' +
              '</table>' +
              '</div>' +
              '</div>' +
              '</div>'
            )
          } else {
            $('.notificationOfmevnah').append(
              '<div class="card">' +
              '<div class="card-title">' +
              '<h4>Danh sách các thông báo</h4>' +
              '</div>' +
              '<div class="card-body">' +
              '<div class="table-responsive">' +
              '<table class="table">' +
              '<thead>' +
              '<tr>' +
              '<th>#</th>' +
              '<th>Tên thông báo</th>' +
              '<th>Nội dung thông báo</th>' +
              '<th>Thời gian hiển thị</th>' +
              '<th>Hành động</th>' +
              '</tr>' +
              '</thead>' +
              '<tbody>' +
              '<tr>' +
              '<th>Hiện không có thông báo nào</th>' +
              '</tr>' +
              '</tbody>' +
              '</table>' +
              '</div>' +
              '</div>' +
              '</div>'
            )
          }
        }
      })
    }
  </script>
  <script>
    var arrayHinhThongBao = [];
    var arrayDeleteFile = [];
    Dropzone.options.myDropzoneNotification = {
      maxFiles: 1,
      paramName: 'image',
      acceptedFiles: 'image/*',
      init: function () {
        this.on('sending', function (file, xhr, formdata) {
          $('#btnNotiSubmit').prop('disabled', true);
        })
        this.on('success', function (file, res) {
          // console.log(res.name);
          $('#btnNotiSubmit').prop('disabled', false);
          arrayHinhThongBao.push({
            name: res.name,
            id: res.id,
            imageLink: res.link
          });
        })
      },
      removedfile: function (file) {
        var name = file.name;
        var id = findIdFromName(arrayHinhThongBao, name);
        // console.log('id', id);
        removeLinkImgOnArr(arrayHinhThongBao, name);
        arrayDeleteFile.push(id);
        var _ref;
        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
      }
    }
    $(document).on('click', '.fa-edit', function (e) {
      $('#createModal').modal({
        show: true,
        backdrop: 'static'
      });
      let objectID = $(this).closest('td').attr('id');
      let id = $(this).parent().siblings().children('i').attr('id');
      // console.log('objectId', objectID);
      // console.log('id', id);
      $.ajax({
        url: `/admin/mevnah/notification/${objectID}/${id}`,
        type: 'get',
        complete: function (res) {
          // console.log('res', res.responseJSON);
          $('#textNameNoti').val(res.responseJSON.notificationInfo.name);
          $('#textContent').val(res.responseJSON.notificationInfo.content);
          $('#textStartDisplay').val(res.responseJSON.notificationInfo.timeEnd);
          $('#textEndDisplay').val(res.responseJSON.notificationInfo.timeShow);
          let url = res.responseJSON.notificationInfo.background.imageLink;
          let id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.'));
          let name = res.responseJSON.notificationInfo.background.alt;
          arrayHinhThongBao.push({
            name: name,
            id: id,
            imageLink: url
          })
          let thisDropzone = Dropzone.forElement('.dropzone.addedImage');
          let uploadedFile = { name: name, size: 2621440, accepted: true };
          thisDropzone.files.push(uploadedFile);
          thisDropzone.emit('addedfile', uploadedFile);
          thisDropzone.createThumbnailFromUrl(uploadedFile, url);
          uploadedFile.previewElement.classList.add('dz-success');
          uploadedFile.previewElement.classList.add('dz-complete');
          $(document).on('click', '#btnNotiSubmit', function (e) {
            let temp = arrayHinhThongBao.pop();
            // console.log(temp);
            $.ajax({
              url: `/admin/mevnah/notification/${objectID}/${id}`,
              type: 'put',
              data: {
                name: $('#textNameNoti').val(),
                content: $('#textContent').val(),
                timeShow: $('#textStartDisplay').val(),
                timeEnd: $('#textEndDisplay').val(),
                background: JSON.stringify({
                  imageLink: temp.imageLink,
                  alt: temp.name,
                })
              },
              complete: function (res) {
                // console.log('res.responseJSON', res.responseJSON);
                $('#createModal').modal('toggle');
                if (res.responseJSON) {
                  // console.log('true');
                  toastr.success('Sửa thông báo thành công', 'Thành công', {
                    timeOut: 3000,
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "tapToDismiss": false
                  })
                } else {
                  console.log('false');
                  toastr.error('Sửa thông báo thất bại', 'Thất bại', {
                    "positionClass": "toast-top-right",
                    timeOut: 3000,
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "tapToDismiss": false
                  })
                }
              }
            })
          })
          $('#createModal').on('hidden.bs.modal', function () {
            thisDropzone.removeAllFiles(true);
          })
        }
      })
    })
    $(document).on('click', '.fa-trash', function (e) {
      let id = $(this).attr('id');
      let objectID = $(this).closest('td').attr('id');
      let _this = $(this);
      swal({
        title: "Bạn có muốn xóa thông báo này ?",
        text: "Thông báo này sẽ bị xóa và không thể khôi phục lại",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Chắc chắn !!",
        closeOnConfirm: false
      }, function (e) {
        $.ajax({
          url: `/admin/mevnah/notification/${objectID}/${id}`,
          method: 'DELETE',
          dataType: 'json',
          complete: function (res) {
            // console.log('res', res)
            if (res.responseJSON == true)
              swal({
                title: "Đã xóa !!",
                text: "Bạn đã xóa thông báo thành công",
                type: "success",
              }, function (e) {
                $(_this).closest('tr').remove();
              })
          }
        });
      });
    })
  </script>

</body>

</html>