<!-- Bootstrap Core CSS -->
<link href="/css/admindashboard/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->


<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">


<link href="/css/admindashboard/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
<!-- <link href="/css/admindashboard/lib/calendar2/pignose.calendar.min.css" rel="stylesheet"> -->
<link href="/css/admindashboard/lib/owl.carousel.min.css" rel="stylesheet" />
<link href="/css/admindashboard/lib/owl.theme.default.min.css" rel="stylesheet" />
<link href="/css/admindashboard/helper.css" rel="stylesheet">
<link href="/css/admindashboard/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
<!--[if lt IE 9]>
<script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->