<div class="header" style="z-index: 1001;">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- Logo -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">
        <!-- Logo icon -->
        <b>
          <img src="/images/logo.png" alt="homepage" class="dark-logo" style="width: 25px" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
          <img src="/images/logo-text.png" alt="homepage" class="dark-logo" style="height: 10px" />
        </span>
        <span>
          <b class="text-muted">Admin</b>
        </span>
      </a>
    </div>
    <!-- End Logo -->
    <div class="navbar-collapse">
      <!-- toggle and nav items -->
      <ul class="navbar-nav mr-auto mt-md-0">
        <!-- This is  -->
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)">
            <i class="mdi mdi-menu"></i>
          </a>
        </li>
        <li class="nav-item m-l-10">
          <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <!-- Messages -->
      </ul>
      <!-- User profile and search -->
      <ul class="navbar-nav my-lg-0">
        <!-- Profile -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/users/5.jpg" alt="user" class="profile-pic" />
          </a>
          <div class="dropdown-menu dropdown-menu-right animated zoomIn">
            <ul class="dropdown-user">
              <li>
                <a href="/admin/account">
                  <i class="ti-user"></i> Tài khoản</a>
              </li>
              <li>
                <a href="/admin/logout">
                  <i class="fa fa-power-off"></i> Đăng xuất</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>