<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>

        <li class="nav-label">Trang chủ</li>
        <li>
          <a class=" " href="/admin" aria-expanded="false">
            <i class="fa fa-tachometer"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li>
          <a class=" " href="/admin/hinh-anh-tham-me" aria-expanded="false">
            <i class="fa fa-tachometer"></i>
            <span class="hide-menu">Hình ảnh đi thăm</span>
          </a>
        </li>
        <li>
          <a class="has-arrow  " href="/admin/qrcodes" aria-expanded="false">
            <i class="fa fa-star"></i>
            <span class="hide-menu">Ba má phong trào</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="/admin/mevnah/listAllMevnah">Tất cả ba má</a>
            </li>
            <li>
              <a href="/admin/mevnah/create-mevnah">Thêm thông tin ba má</a>
            </li>
          </ul>
        </li>
        <li class="nav-label">Thông báo / sự kiện</li>
        <li>
          <a class="  " href="/admin/mevnah/showAllNotification" aria-expanded="false">
            <i class="fa fa-qrcode"></i>
            <span class="hide-menu">Quản lý thông báo / sự kiện</span>
          </a>
        </li>
        <li class="nav-label">Quản lý mã QR</li>
        <li>
          <a class="  " href="/admin/qrcodes" aria-expanded="false">
            <i class="fa fa-qrcode"></i>
            <span class="hide-menu">Mã QR</span>
          </a>
        </li>
        <li class="nav-label">Quản lý media</li>
        <li>
          <a class=" " href="/admin/image" aria-expanded="false">
            <i class="fa fa-image"></i>
            <span class="hide-menu">Hình ảnh</span>
          </a>
        </li>
        <li class="nav-label">Quản lý báo cáo</li>
        <!-- <li>
          <a class="  " href="/admin/report" aria-expanded="false">
            <i class="fa fa-signal"></i>
            <span class="hide-menu">Báo cáo - Thống kê
            </span>
          </a>
        </li> -->
        <li>
          <a class=" " href="/admin/reply" aria-expanded="false">
            <i class="fa fa-reply"></i>
            <span class="hide-menu">Góp ý
            </span>
          </a>
        </li>

        <li class="nav-label">Quản lý tài khoản</li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-user"></i>
            <span class="hide-menu">Quản lý tài khoản
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <% if(level <= 2) { %>
              <li>
                <a href="/admin/users">Tất cả tài khoản</a>
              </li>
              <li>
                <a href="/admin/register">Tạo tài khoản</a>
              </li>
            <% } %>
            <li>
              <a href="/admin/change-password">Thay đổi mật khẩu</a>
            </li>
            <li>
              <a href="/admin/account">Thông tin tài khoản</a>
            </li>
          </ul>
        </li>
        <% if(isDeveloper) { %>
          <li class="nav-label">Quản trị hệ thống</li>
          <li>
            <a class="has-arrow  " href="#" aria-expanded="false">
              <i class="fa fa-list"></i>
              <span class="hide-menu">Quản lý danh sách
              </span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <li>
                <a href="/admin/system/listAllDistricts">Tất cả Quận huyện</a>
              </li>
              <li>
                <a href="/admin/system/listAllUsers">Tất cả tài khoản</a>
              </li>
              <li>
                <a href="/admin/system/listAllCooperation">Đơn vị hợp tác</a>
              </li>
            </ul>
          </li>
        <% } %>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>