<!-- All Jquery -->
<script src="/js/admindashboard/lib/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/js/admindashboard/lib/bootstrap/js/popper.min.js"></script>
<script src="/js/admindashboard/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/admindashboard/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="/js/admindashboard/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/js/admindashboard/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->


<!-- <script src="/js/admindashboard/lib/calendar-2/moment.latest.min.js"></script> -->
<!-- scripit init-->
<script src="/js/admindashboard/lib/calendar-2/semantic.ui.min.js"></script>
<!-- scripit init-->
<!-- <script src="/js/admindashboard/lib/calendar-2/prism.min.js"></script> -->
<!-- scripit init-->
<!-- <script src="/js/admindashboard/lib/calendar-2/pignose.calendar.min.js"></script> -->
<!-- scripit init-->
<!-- <script src="/js/admindashboard/lib/calendar-2/pignose.init.js"></script> -->

<script src="/js/admindashboard/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="/js/admindashboard/lib/owl-carousel/owl.carousel-init.js"></script>
<script src="/js/admindashboard/scripts.js"></script>

<script src="/js/admindashboard/custom.min.js"></script>
<script>
  $(document).on('click','.sidebartoggler', function () {
    $("body").hasClass("mini-sidebar") ? ($("body").trigger("resize"), $(".scroll-sidebar, .slimScrollDiv").css("overflow", "hidden").parent().css("overflow", "visible"),
      $("body").removeClass("mini-sidebar"), $(".navbar-brand span").show()) : ($("body").trigger("resize"),
        $(".scroll-sidebar, .slimScrollDiv").css("overflow-x", "visible").parent().css("overflow", "visible"),
        $("body").addClass("mini-sidebar"), $(".navbar-brand span").hide());
  })
</script>