<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
  <link rel="stylesheet" href="/css/admindashboard/lib/magnific/magnific-popup.css">
  <link rel="stylesheet" href="/css/homepage/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<header id="masthead" class="site-header site-header--layout-1 site-header--fluid bg-white site-header--absolute">
  <div class="d-lg-flex justify-content-lg-between align-items-lg-center site-header__container">
    <div class="d-lg-flex align-items-lg-center">
      <div class="site-header__logo">
        <a href="#">
          <h1 class="screen-reader-text">Cổng thông tin điện tử Ba má phong trào Học sinh - Sinh viên</h1>
          <!-- <img src="/images/logo-doan-hoi.png" alt="Ba má phong trào"> -->
        </a>
      </div><!-- .site-header__logo -->
    </div>


    <div class="d-lg-flex align-items-lg-center">
        <div class="header-item" >
          <a style="color:#001aa4" href="#">Trang chủ</a>
        </div>

        <div class="header-item">
            <a  style="color:#001aa4" href="#edit-popup" data-toggle="modal" data-target=".bd-example-modal-xl" >
              <i class="fa fa-pencil-square-o"></i>
                Gửi bài viết về hình ảnh về Ba má </br> phong trào HSSV Thành Phố
            </a>
          </div>

        <div class="header-item">
          <a  style="color:#001aa4" href="#guide-popup" data-toggle="modal" data-target=".bd-example-modal-xl1" class="open-edit-popup">
            <i class="fa fa-address-book-o"></i>
              Hướng dẫn sử dụng cổng thông tin 
          </a>
        </div>

        <div class="header-item">
          <a style="color:#001aa4" href="/admin/login" class="sign-in">
            <i class="fa fa-user"></i>
            Đăng nhập
          </a>
        </div>
      </div>

      <div class="d-lg-none nav-mobile">
        <a href="#" class="nav-toggle js-nav-toggle nav-toggle--white">
          <span></span>
        </a><!-- .nav-toggle -->
      </div><!-- .nav-mobile -->
    </div><!-- .site-header__container -->
</header><!-- #masthead -->
<div style="background: #131d43!important; opacity: 0.3;"></div>
<section class="page-banner page-banner--layout-1 parallax">
  <img src="/images/backgroundDiachido.info.jpg" alt="Cổng thông tin điện tử Ba má Phong trào Học sinh - Sinh viên">
</section><!-- .page-banner -->

<section style="color:#001aa4"class="news page-section news--layout-1">
  <div class="container">
    <h2 class="page-section__title t-center">THÔNG TIN DỮ LIỆU VỀ BA MÁ PHONG TRÀO HỌC SINH - SINH VIÊN <br />TRÊN ĐỊA BÀN THÀNH PHỐ HỒ CHÍ MINH</h2>
    <div class="row">
		<div class="col-md-12">
          <div class="row">
            <% for(var i=0; i < 4; i++) { %>
              <% if (mevnah[i].posts) { %>
                <div class="col-md-3">
                  <div class="post sticky">
                    <div class="post-thumbnail">
                      <a href="<%- mevnah[i].qrCodeID.directTo %>">
                        <img src="<%- mevnah[i].page.background.length > 0 ? mevnah[i].page.background[0].imageLink : mevnah[i].page.motherImageLink[0].imageLink %>" alt="<%- mevnah[i].name %>">
                      </a>
                    </div><!-- .post-thumbnail -->
          
                    <div class="post-content">
                      <h3 class="post-title">
                        <a href="<%- mevnah[i].qrCodeID.directTo %>"><%- mevnah[i].name.toUpperCase()%>
                          <p><%- mevnah[i].posts.title%></p>
                        </a>
                      </h3>
                      <p class="post-meta t-small">
                        <!-- <span><a href="#" class="c-dusty-gray">Dec 05, 2017</a></span> -->
                      </p>
                    </div><!-- .post-content -->
                  </div><!-- .post -->
                </div><!-- .col -->
              <% } %>
            <% } %>
          </div>    
      </div>
      <div class="col-md-12 bg-wild-sand instruction--layout-1" style="margin-top: 30px;color:#001aa4 ">
          <div class="row">
			<div class="col-md-6">
				<section class="instructions-container page-section" id="section_thongke" style=" width: 100%">
				  <div class="container">
					<div class="row">
					  <div class="col-lg-6 instruction-container">
						<div class="instruction t-center">
						  <span class="instruction__step c-dove-red"><%- numbers.numberOfMevnah %></span>
						  <h3 class="instruction__title">Tổng số thông tin <br /> Ba Má phong trào<br />Học sinh, Sinh viên <br />đã lưu trữ</h3>
						</div><!-- .instruction -->
					  </div><!-- .col -->
					  <div class="col-lg-6 instruction-container">
						<div class="instruction t-center">
						  <span class="instruction__step c-dove-red">1559</span>
						  <h3 class="instruction__title">Tổng số lượt<br />truy cập</h3>
						</div><!-- .instruction -->
					  </div><!-- .col -->
					</div><!-- .row -->
				  </div><!-- .container -->
				</section><!-- .instruction-container -->
			</div>
			<div class="col-md-6 bg-sea">
				<div class="main-search-container">
                    <div class="main-search main-search--layout-1">
                      <div class="container">
                        <div class="row">
						<div class="col-md-12">
						  <div class="main-search__group main-search__group--primary">
                              <label for="main-search-name" class="c-white">Họ tên Ba Má phong trào</label>
                              <input type="text" name="find" " id="search_input" class="form-input search_input">
                          </div><!-- .main-search__group -->
						</div>
                        </div><!-- row -->
                        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                          <div class="col-md-6">
                              <div class="main-search__group main-search__group--secondary">
                                  <label for="main-search-location" class="c-white">Quận/Huyện</label>
                                  <select style="color:#001aa4;" name="districts" id="districts1" class="form-input dropdown_item_select search_input districts">
                                    <option value="">Tất cả</option>
                                    <% districtList.map((item, index) => { %>
                                      <option value="<%- item._id %>">
                                        <%- item.districtName %>
                                      </option>
                                      <% }) %>
                                  </select>
                              </div><!-- .main-search__group -->
                          </div> <!-- col -->
                          <div class="col-md-6">
                              <div class="main-search__group main-search__group--secondary">
                                  <label for="main-search-location" class="c-white">Phường/Xã</label>
                                  <select style="color:#001aa4;" name="wards" id="wards1" class="form-input dropdown_item_select search_input wards">
                                    <option value="">Tất cả</option>
                                  </select>
                                </div><!-- .main-search__group -->
                          </div><!-- col -->
                        </div><!-- row -->
                        <div class="row">
						<div class="col-md-12">
						    <div class="main-search__group main-search__group--tertiary">
                                <button style="color:#001aa4;" type="submit" id="search_button" class="button button--medium button--square button--primary">
                                  <i style="color:#001aa4;" class="fa fa-search"></i> Tìm kiếm
                                </button>
                            </div>
						</div>
                        
                        </div><!-- row -->
                      </div>
                    </div>
                  </div><!-- .main-search-container -->
			</div>
            
          </div>
        </div>
        
      </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .news -->

<!--sửa-->



<section class="listing-list page-section listing-list--layout-1" id="section_tieubieu">
    <div class="container">
      <h2 class="page-section__title t-center">Một số ba má phong trào tiêu biểu</h2>
      <div class="row">
        
        <% mevnah.map(item => { %>
      
          <% let suckhoe = "" %>
          <% if (item.page.healthStatus == "good") { suckhoe = 'Tốt' } else if (item.page.healthStatus == "weak") { suckhoe = 'Yếu' } else { suckhoe = 'Đã mất' } %>
          <div class="col-md-4">
            <div class="listing hover-effect">
              <div class="listing__wrapper">
                <div class="listing__thumbnail">
                  <a href="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>">
                    <img src="<% if(item.page.motherImageLink[0]) { %><%- item.page.motherImageLink[0].imageLink %> <% } %>" alt="<%- item.name %>" class='img-custom-scale'>
                    <span class="label label--primary"><%- suckhoe %></span>
                    <span class="favorite c-white">
                      <i class="fa fa-heart-o"></i>
                    </span>
                  </a>
                </div><!-- .listing__thumbnail -->
                <div class="listing__detail">
                  <h3 class="listing__title">
                    <a href="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>"><%- item.name %></a>
                  </h3>
                  <% if (item.address.address != "") { %>
                    <p class="listing__location c-dusty-gray">
                      Địa chỉ: <%- item.address.address %>
                    </p>
                  <% } %>
                  <% if (item.page.birthday.date != "" && item.page.birthday.year != "" && item.page.birthday.month != "") { %>
                    <p class="listing__location c-dusty-gray">
                      Ngày sinh: <%- item.page.birthday.date %> / <%- item.page.birthday.month %>/<%- item.page.birthday.year %>
                    </p>
                  <% } %>
                  <% if (item.page.dateOfDeath.date != "" && item.page.dateOfDeath.year != "" && item.page.dateOfDeath.month != "") { %>
                    <p class="listing__location c-dusty-gray">
                      Ngày mất: <%- item.page.dateOfDeath.date %> / <%- item.page.dateOfDeath.month %>/<%- item.page.dateOfDeath.year %>
                    </p>
                  <% } %>
                  <% if (item.page.homeTown != "") { %>
                    <p class="listing__location c-dusty-gray">
                      Quê quán: <%- item.page.homeTown %>
                    </p>
                  <% } %>
                  <% if (item.martyrs) { %>
                    <p class="listing__location c-dusty-gray">
                      Số con là liệt sĩ: <%- item.martyrs.length %>
                    </p>
                  <% } %>
                  
                  
                </div><!-- .listing__detail -->
              </div><!-- .listing__wrapper -->
            </div><!-- .listing -->
          </div><!-- .col -->
        <% }) %>
  
      </div><!-- .row -->
      
    </div><!-- .container -->
  </section><!-- .listing-list -->

<!--sửa-->

<section class="ads ads--layout-1 parallax" style="padding: 0 0 50px;">
	<img src="/assets/images/uploads/ads-bg.jpg" alt="Cổng thông tin điện tử Ba má Phong trào Học sinh - Sinh viên">
</section><!-- .ads -->

<section>
  <div class="container" style="color:#001aa4">
    <!-- <h2 class="page-section__title t-center">Một số hình ảnh đi thăm các ba má phong trào</h2> -->
    <div class="row">
        <div class="col-md-4">
            <div id="carouselExampleFade4" class="carousel slide carousel-fade" data-ride="carousel">
              
                <div class="carousel-inner">
                    <% imageVisit.map((item,index) => { %>
                      <% if( index ==0 ) { %>
                      <div class="carousel-item active">
                        <% } else { %>
                        <div class="carousel-item">
                          <% } %>
                          <div class="post" >
                              <div class="post-thumbnail imageVist">
                                <a class="overlay abc" data-toggle="modal" data-target="#projecta-<%- index %>"
                                  style="width: 300px; margin: auto">
                                  <img src="<%- item.imageLink %>"  style="cursor:pointer;height:220px;width:350px;">
                                </a>
                                
  
                              </div><!-- .post-thumbnail -->
                              <div class="post-content">
                                <h6>
                                  <p class="mt-10"><%- item.title %></p>
                                </h6>
                              </div><!-- .post-content -->
                            </div>
                        </div>
  
                        <!--model-->
                        <div class="modal fade" id="projecta-<%- index %>" tabindex="-1" role="dialog"
                          aria-labelledby="projecta-<%- index %>-label" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header" >
                                <h5 class="modal-title" style="color:red;" id="project-1-label">
                                  Hình ảnh đi thăm ba má <%- item.mevnah %>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span>
                                  <span class="sr-only">Close</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-md-6">
                                    <% if(item.imageLink != null){ %>
                                    <img src="<%- item.imageLink %>" alt="">
                                    <% }else{ %>
                                    <img src="/images/logo_quocki.png" alt="">
                                    <% } %>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">Nội Dung</label>
                                      <p>
                                        <%- item.title %>
                                      </p>
                                    </div>
          
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% })%>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade4" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade4" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>   
        </div>
        <div class="col-md-4">
          <div id="carouselExampleFade2" class="carousel slide carousel-fade" data-ride="carousel">
            
              <div class="carousel-inner">
                  <% imageVisit.map((item,index) => { %>
                    <% if( index ==3 ) { %>
                    <div class="carousel-item active">
                      <% } else { %>
                      <div class="carousel-item">
                        <% } %>
                        <div class="post" >
                            <div class="post-thumbnail imageVist">
                              <a class="overlay abc" data-toggle="modal" data-target="#projecta-<%- index %>"
                                style="width: 300px; margin: auto">
                                <img src="<%- item.imageLink %>"  style="cursor:pointer;height:220px;width:350px;">
                              </a>
                              

                            </div><!-- .post-thumbnail -->
                            <div class="post-content">
                              <h6>
                                <p class="mt-10"><%- item.title %></p>
                              </h6>
                            </div><!-- .post-content -->
                          </div>
                      </div>

                      <!--model-->
                      <div class="modal fade" id="projecta-<%- index %>" tabindex="-1" role="dialog"
                        aria-labelledby="projecta-<%- index %>-label" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header" >
                              <h5 class="modal-title" style="color:red;" id="project-1-label">
                                Hình ảnh đi thăm ba má <%- item.mevnah %>
                              </h5>
                              <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-6">
                                  <% if(item.imageLink != null){ %>
                                  <img src="<%- item.imageLink %>" alt="">
                                  <% }else{ %>
                                  <img src="/images/logo_quocki.png" alt="">
                                  <% } %>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="">Nội Dung</label>
                                    <p>
                                      <%- item.title %>
                                    </p>
                                  </div>
        
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% })%>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleFade2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>   
      </div>
      <div class="col-md-4">
        <div id="carouselExampleFade1" class="carousel slide carousel-fade" data-ride="carousel">
          
            <div class="carousel-inner">
                <% imageVisit.map((item,index) => { %>
                  <% if( index ==6 ) { %>
                  <div class="carousel-item active">
                    <% } else { %>
                    <div class="carousel-item">
                      <% } %>
                      <div class="post" >
                          <div class="post-thumbnail imageVist">
                            <a class="overlay abc" data-toggle="modal" data-target="#projecta-<%- index %>"
                              style="width: 300px; margin: auto">
                              <img src="<%- item.imageLink %>"  style="cursor:pointer;height:220px;width:350px;">
                            </a>
                            

                          </div><!-- .post-thumbnail -->
                          <div class="post-content">
                            <h6>
                              <p class="mt-10"><%- item.title %></p>
                            </h6>
                          </div><!-- .post-content -->
                        </div>
                    </div>

                    <!--model-->
                    <div class="modal fade" id="projecta-<%- index %>" tabindex="-1" role="dialog"
                      aria-labelledby="projecta-<%- index %>-label" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header" >
                            <h5 class="modal-title" style="color:red;" id="project-1-label">
                              Hình ảnh đi thăm ba má <%- item.mevnah %>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-6">
                                <% if(item.imageLink != null){ %>
                                <img src="<%- item.imageLink %>" alt="">
                                <% }else{ %>
                                <img src="/images/logo_quocki.png" alt="">
                                <% } %>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="">Nội Dung</label>
                                  <p>
                                    <%- item.title %>
                                  </p>
                                </div>
      
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% })%>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>   
      </div>
    </div>
      </div>
    </div>
</section>


<section class="listing-list page-section listing-list--layout-1 tim_kiem" style="display: none;">
  <div class="container tim_kiem">
    <h2 class="page-section__title t-center">Kết quả tìm kiếm</h2>
    
    <div class="d-flex flex-row align-items-center justify-content-start" style="width: 100%; text-align: center; display: none" id="noketqua">         
      <h2 style="width: 100%; font-style: italic">Không tìm thấy kết quả phù hợp !!!</h2>
    </div>
    <div class="row offers_grid_result">

    </div><!-- .row -->
    <div class="t-center load-more" id="show_more">
      <button class="button button--primary button--medium button--pill">Xem thêm</button>
    </div>
  </div><!-- .container -->
</section>

<% include ./partials/footer %>

<script src="/assets/scripts/app.js"></script>
<script src="/js/mainpage/jquery-3.2.1.min.js"></script>
<script src="/js/mainpage/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<% include ./partials/getWardList %>
<% include ./partials/scripts %>
<script>
  $('.imageVist').magnificPopup({
    delegate: 'a',
    type: 'image',
    mainClass: 'mfp-with-zoom',
    zoom: {
      enabled: true,
      duration: 400,
      easing: 'ease-in-out',
    }
  });
</script>
  <!--model sua bai viet-->
  <div class="modal fade bd-example-modal-xl" style="padding-right:0" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" style="color: #001aa4;">
        <div class="header-model">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6>Hòm thư góp ý</h6>
        </div>
        <div class="body-model" style="height:auto;">
          <div class="row">
            <div style="padding-left:30px;padding-right:30px;" class="col-md-6">
              <!--gửi bài viết-->
              <!--nav-->
              <nav>
                <div style="margin-bottom:10px" class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tìm kiếm Ba má</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Góp ý</a>
                </div>
              </nav>
              <!--end nav-->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <span><h6>Tiêu đề :</h6></span> 
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tiêu đề góp ý ... " aria-label="Recipient's username" aria-describedby="button-addon2">
                      </div>
                    <h6>Góp ý chỉnh sửa về nội dụng thông tin của Ba má phong trào HSSV</h6>
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Nội dung góp ý cần chỉnh sửa ..." id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <h6>Bài viết đính kèm về Ba má</h6>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                      <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                    <h6 style="padding-top:10px;">Hình ảnh đính kèm</h6>
                    <form action="/api/upload/imagefeedback" class="dropzone" id="mydropzone">
                      <div class="fallback">
                          <input name="b" type="file" />
                      </div>
                  </form>
                  <button type="button" style="float:right; margin:10px; margin-right:0;" class="btn btn-outline-danger">Gửi</button>
                  </div>
                  <!--Tìm kiếm ba má-->
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="bg-sea">
                          <div class="main-search-container">
                                      <div class="main-search main-search--layout-1">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="main-search__group main-search__group--primary">
                                                    <label for="main-search-name" class="c-white">Họ tên Ba Má phong trào</label>
                                                    <input type="text" name="find" " id="search_input" class="form-input search_input">
                                              </div><!-- .main-search__group -->
                                            </div>
                                          </div><!-- row -->
                                          <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                            <div class="col-md-6">
                                                <div class="main-search__group main-search__group--secondary">
                                                    <label for="main-search-location" class="c-white">Quận/Huyện</label>
                                                    <select style="color:#001aa4;" name="districts" id="districts1" class="form-input dropdown_item_select search_input districts">
                                                      <option value="">Tất cả</option>
                                                      <% districtList.map((item, index) => { %>
                                                        <option value="<%- item._id %>">
                                                          <%- item.districtName %>
                                                        </option>
                                                        <% }) %>
                                                    </select>
                                                </div><!-- .main-search__group -->
                                            </div> <!-- col -->
                                            <div class="col-md-6">
                                                <div class="main-search__group main-search__group--secondary">
                                                    <label for="main-search-location" class="c-white">Phường/Xã</label>
                                                    <select style="color:#001aa4;" name="wards" id="wards1" class="form-input dropdown_item_select search_input wards">
                                                      <option value="">Tất cả</option>
                                                    </select>
                                                  </div><!-- .main-search__group -->
                                            </div><!-- col -->
                                          </div><!-- row -->
                                          <div class="row">
                                      <div class="col-md-12">
                                          <div class="main-search__group main-search__group--tertiary">
                                              <button style="color:#001aa4;" type="submit" id="search_button" class="button button--medium button--square button--primary">
                                                <i style="color:#001aa4;" class="fa fa-search"></i> Tìm kiếm
                                              </button>
                                          </div>
                                      </div>     
                                  </div><!-- row -->
                                </div>
                              </div>
                            </div><!-- .main-search-container -->
                        </div>
                      </div>

                  <!--end tìm kiếm ba má-->
                </div>
              <!--kết thúc form-->
            </div>
            
            <div class="col-md-6">
              <iframe style="width:100%;height:450px; border:1px solid gray;" src="http://www.bamaphongtraohssv.vn">
                
              </iframe>
            </div>  
        </div>
    </div>
  </div>
  </div>
  </div>

  <!-- popup are saved here -->
  <div class="modal fade bd-example-modal-xl1" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="color: #001aa4;">
      <div class="header-model">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6>Hướng dẫn sử dụng</h6>
      </div>
      <div class="body-model">
        <div class="search">
          <div class="how-to-search">
            <strong>1.Cách tìm kiếm</strong>
            <p style="margin:10px;">- Tại giữa trang sẽ thấy giao diện, Thanh tìm kiếm, hãy điền thông tin như hướng dẫn trong hình dưới đây</p>
            <img src="./images/how-to-search.png" alt="how to search" />
          </div>
          <div class="result-search">
            <p style="margin:10px;">- Kết quả tìm kiếm sẽ xuất hiện tại cuối trang như hình dưới đây</p>
            <img src="./images/result-search.png" alt="result-search" />
          </div>  
        </div>
        <div class="edit-post">
            <strong>1.Cách gửi hòm thư góp ý về ba má phong trào</strong>
        </div>
    </div>
  </div>
  </div>
</div>

</body>

</html>
