<script>
  // thêm mô tả
  $("#them-mota").on("click", function () {
    $('#mo-ta').append(
      '<div class="w-100 mo-ta"><hr style="border-top: dotted 1px;" /><div class="m-t-10 m-l-5 m-t-5 row border-secondary m-1"><div class="pull-left w-95 p-r-20"><div class="form-group"><div class="row"><input type="text" class="textTieuDeMoTa form-control" placeholder="Nhập tiêu đề mô tả" required></div><div class="row m-t-10"><textarea class="textNoiDungMoTa form-control" rows="2" placeholder="Nhập vào mô tả" style="min-height:70px" required></textarea></div></div></div><div class="w-5 pull-right p-t-25 xoa-mota"><button class="btn btn-danger btn-rounded pull-right d-inline-block m-t-30" style="padding:7px 12px"><i class="fa fa-trash"></i></button></div></div></div>'
    )
    $('html').animate({
      scrollTop: $("#them-mota").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // thêm lịch sử
  $(document).on("click", "#them-lichsu", function () {
    let vali = randomVal(5);
    $('#lich-su').append('<div class="w-100 lich-su" vali="' + vali +
      '"><hr style="border-top: dotted 1px;" /><div class=" row border-secondary m-3"><div class="pull-left w-95"><div class="m-t-10"><div class="row"><div class="col-sm-3 m-t-5"><textarea name="timeSuKien" class=" form-control" rows="2" placeholder="Nhập vào thời gian" style="height:70px" required></textarea></div><div class="col-sm-9 m-t-5"><textarea name="descSuKien" class=" form-control" rows="2" placeholder="Nhập vào sự kiện" style="height:70px" required></textarea></div></div></div><div class="form-group m-t-10"><form action="/api/upload/image" class="dropzone" name="dropzoneHinhLS" id="myDropzoneHinhLS"><div class="fallback"><input name="file" type="file" multiple/></div></form></div></div><div class="w-5 p-t-25 xoa-lichsu"><button class="btn btn-danger btn-rounded pull-right d-inline-block m-t-30" style="padding:7px 12px"><i class="fa fa-trash"></i></button></div></div></div>'
    );
    setTimeout(function () {
      // Action after append
      $('form[name=dropzoneHinhLS]').not('.dz-clickable').dropzone({
        paramName: 'image',
        maxFiles: 1,
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            // Khi upload thành công thì thêm path vào array hìn nảh
            $('#submit-button').prop('disabled', false);
            // console.log(flag);
            arrayHinhLichSu.push({
              name: res.name,
              id: res.id,
              link: res.link,
              vali: vali
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayHinhLichSu, name);
          $.ajax({
            type: "delete",
            url: `/api/remove/image/${id}`,
            dataType: 'json',
            data: {
              name: name,
              request: 'delete'
            },
            complete: function (res) {
              console.log('dellete success');
              removeLinkImgOnArr(arrayHinhLichSu, name);
            }
          })
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) :
            void 0;
        }
      });
    }, 0);
    $('html').animate({
      scrollTop: $("#them-lichsu").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // xóa mô tả
  $(document).on('click', 'div.xoa-mota', function () {
    $(this).parent().parent().fadeOut(500, function () {
      $(this).remove();
    });
    $('html').animate({
      scrollTop: $("#them-mota").parent().siblings().children().last().prev().prev().prev().offset().top
    }, 500);
  });

  // xóa lịch sử
  $(document).on('click', 'div.xoa-lichsu', function () {
    let vali = $(this).parent().parent().attr('vali');
    let id = findIdFromVali(arrayHinhLichSu, vali);
    console.log(vali);
    $.ajax({
      type: "delete",
      url: `/api/remove/image/${id}`,
      dataType: 'json',
      data: {
        name: name,
        request: 'delete'
      },
      complete: function (res) {
        console.log('dellete success');
      }
    })
    removeItemByVali(arrayHinhLichSu, vali);
    $(this).parent().parent().fadeOut(500, function () {
      $(this).remove();
    });
    $('html').animate({
      scrollTop: $("#them-lichsu").parent().siblings().children().last().prev().prev().offset().top
    }, 500);
  });

  // thêm hình ảnh 
  $(document).on("click", "#them-hinhanh", function () {
    let vali = randomVal(5);
    $('#hinh-anh').append('<div class="w-100 hinh-anh" vali="' + vali +
      '"><hr style="border-top: dotted 1px;" /><div class=" row border-secondary m-3"><div class="pull-left w-95"><div class="m-t-5"><input name="titleHinhAnh" class=" form-control" rows="2" placeholder="Nhập vào tiêu đề hình ảnh" required></input></div><div class="m-t-5"><textarea name="descHinhAnh" class=" form-control" rows="2" placeholder="Nhập vào mô tả hình ảnh" style="height:70px" required></textarea></div><div class="form-group m-t-10"><form action="/api/upload/image" class="dropzone" name="dropzoneHinhAnh" id="myDropzoneHinhAnh"><div class="fallback"><input name="file" type="file" multiple/></div></form></div></div><div class="w-5 p-t-25 xoa-hinhanh"><button class="btn btn-danger btn-rounded pull-right d-inline-block m-t-30" style="padding:7px 12px"><i class="fa fa-trash"></i></button></div></div></div>'
    );
    setTimeout(function () {
      // Action after append
      $('form[name=dropzoneHinhAnh]').not('.dz-clickable').dropzone({
        paramName: 'image',
        maxFiles: 1,
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            // Khi upload thành công thì thêm path vào array hìn nảh
            $('#submit-button').prop('disabled', false);
            // console.log(flag);
            arrayLinkHinhAnh.push({
              name: res.name,
              id: res.id,
              link: res.link,
              vali: vali
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayLinkHinhAnh, name);
          $.ajax({
            type: "delete",
            url: `/api/remove/image/${id}`,
            dataType: 'json',
            data: {
              name: name,
              request: 'delete'
            },
            complete: function (res) {
              console.log('dellete success');
              removeLinkImgOnArr(arrayLinkHinhAnh, name);
            }
          })
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) :
            void 0;
        }
      });
    }, 0);
    $('html').animate({
      scrollTop: $("#them-hinhanh").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  // Xóa hình ảnh
  $(document).on('click', 'div.xoa-hinhanh', function () {
    let vali = $(this).parent().parent().attr('vali');
    let id = findIdFromVali(arrayLinkHinhAnh, vali);
    $.ajax({
      type: "delete",
      url: `/api/remove/image/${id}`,
      dataType: 'json',
      data: {
        name: name,
        request: 'delete'
      },
      complete: function (res) {
        console.log('dellete success');
      }
    })
    removeItemByVali(arrayLinkHinhAnh, vali);
    $(this).parent().parent().fadeOut(500, function () {
      $(this).remove();
    });
    $('html').animate({
      scrollTop: $("#them-hinhanh").parent().siblings().children().last().prev().prev().offset().top
    }, 500);
  });

  // mảng hình nền
  var arrayHinhNen = [];
  Dropzone.options.myDropzoneHinhNen = {
    maxFiles: 3,
    paramName: 'image',
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        console.log(res.name);
        $('#submit-button').prop('disabled', false);
        arrayHinhNen.push({
          name: res.name,
          id: res.id,
          imageLink: res.link
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayHinhNen, name);
      $.ajax({
        type: "delete",
        url: `/api/remove/image/${id}`,
        dataType: 'json',
        data: {
          name: name,
          request: 'delete'
        },
        complete: function (res) {
          console.log('dellete success');
          removeLinkImgOnArr(arrayHinhNen, name);
        }
      })
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  }
  // tạo array lưu các path của hình ảnh
  var arrayLinkHinhAnh = [];
  Dropzone.options.myDropzoneHinhAnh = {
    paramName: 'image',
    maxFiles: 1,
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        console.log('res', res)
        $('#submit-button').prop('disabled', false);
        arrayLinkHinhAnh.push({
          name: res.name,
          id: res.id,
          link: res.link,
          vali: '123456'
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayLinkHinhAnh, name);
      console.log('file', file);
      $.ajax({
        type: "delete",
        url: `/api/remove/image/${id}`,
        dataType: 'json',
        data: {
          name: name,
          request: 'delete'
        },
        complete: function (res) {
          console.log('dellete success');
          removeLinkImgOnArr(arrayLinkHinhAnh, name);
        }
      })
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  }

  // tạo array lưu các path hình lịch suwr
  var arrayHinhLichSu = [];
  Dropzone.options.myDropzoneHinhLS = {
    paramName: 'image',
    maxFiles: 1,
    init: function () {
      this.on('sending', function (file, xhr, formdata) {
        $('#submit-button').prop('disabled', true);
      })
      this.on('success', function (file, res) {
        console.log('res', res)
        $('#submit-button').prop('disabled', false);
        arrayHinhLichSu.push({
          name: res.name,
          id: res.id,
          link: res.link,
          vali: '123456'
        });
      })
    },
    removedfile: function (file) {
      var name = file.name;
      var id = findIdFromName(arrayHinhLichSu, name);
      console.log('file', file);
      $.ajax({
        type: "delete",
        url: `/api/remove/image/${id}`,
        dataType: 'json',
        data: {
          name: name,
          request: 'delete'
        },
        complete: function (res) {
          console.log('dellete success');
          removeLinkImgOnArr(arrayHinhLichSu, name);
        }
      })
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    }
  }

  // khi click submit 
  $(document).on('click', '#submit-button', function (e) {
    validateInput(function (flag) {
      if (!flag) {
        alert('Bạn chưa nhập đầy đủ các trường');
      } else {
        var arrayMoTa = [];
        $('div.mo-ta').each(function (infex, val) {
          arrayMoTa.push({
            title: $(this).find('.textTieuDeMoTa').val(),
            content: $(this).find('.textNoiDungMoTa').val()
          })
        });
        var arrayLichSu = [];
        $('.lich-su').each(function (index, value) {
          let vali = $(this).attr('vali');
          linkImg = null;
          for (let i = 0; i < arrayHinhLichSu.length; i++) {
            if (arrayHinhLichSu[i].vali == vali) {
              linkImg = arrayHinhLichSu[i].link;
              break;
            }
          }
          arrayLichSu.push({
            time: $(this).find('textarea[name=timeSuKien]').val(),
            desc: $(this).find('textarea[name=descSuKien]').val(),
            imageLink: linkImg
          })
        });
        var arrayHinhAnh = [];
        $('.hinh-anh').each(function (index, value) {
          let vali = $(this).attr('vali');
          linkImg = null;
          for (let i = 0; i < arrayLinkHinhAnh.length; i++) {
            if (arrayLinkHinhAnh[i].vali == vali) {
              linkImg = arrayLinkHinhAnh[i].link;
              break;
            }
          }
          arrayHinhAnh.push({
            title: $(this).find('input[name=titleHinhAnh]').val(),
            desc: $(this).find('textarea[name=descHinhAnh]').val(),
            imageLink: linkImg
          })
        });
        $.ajax({
          url: '/admin/diachido/create-object',
          type: 'POST',
          dataType: 'json',
          data: {
            objectName: $('#textTenDC').val(),
            districtID: $('#selectQuan').val(),
            wardID: $('#selectPhuong').val(),
            address: $('#textDiaChi').val(),
            background: JSON.stringify(arrayHinhNen),
            description: JSON.stringify(arrayMoTa),
            stages: JSON.stringify(arrayLichSu),
            someOfOtherImage: JSON.stringify(arrayHinhAnh),
            nameContact: $('#textTenLH').val(),
            numberPhoneContact: $('#textSDT').val(),
            emailContact: $('#textEmail').val(),
            addressContact: $('#textDiaChiLH').val()
          },
          complete: function (res) {
            if (res) {
              window.location.reload();
            }
          }
        })
      }
    })

    // tạo và thêm tất cả mô tả vào array môtả
  })
  $('#selectQuan').change(function () {
    let districtId = $(this).val();
    $('#selectPhuong').empty();
    $('#selectPhuong').append('<option value="">---Phường---</option>');
    $.ajax({
      url: `/api/list/${districtId}`,
      type: 'get',
      success: function (res) {
        res.map(item => {
          $('#selectPhuong').append('<option value="' + item._id + '">' + item.wardName + '</option>')
        })
      }
    })
  })

  function validateInput(callback) {
    let flag = true;
    $('input, textarea, select').filter('[required]:visible').each(function (index, val) {
      let _this = this;
      if ($(this).val() == "") {
        flag = false;
        makeInputDanger(_this);
      }
    })
    callback(flag);
  }
  $(document).on('focusout', 'input, textarea, select', function () {
    if ($(this).val() == "") {
      makeInputDanger(this);
    } else {
      makeInputDefault(this);
    }
  })
</script>