<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">
    <style>
      div.dropzone {
        width: 100%;
        height: 100%;
      }

      div.mota textarea {
        height: 70px;
      }

      div.card {
        padding: 0px;
      }

      .form-group label {
        font-weight: bold;
      }

      a.btn {
        background: #DA4453;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89216B, #DA4453);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89216B, #DA4453);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      a.btn:hover {
        background: #a8c0ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3f2b96, #a8c0ff);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <!-- start form input -->
            <!-- start thông tin chung -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Thông tin chung</h4>
              </div>
              <div class="card-body p-20">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tên</label>
                      <div class="col-sm-12">
                        <input type="text" id="textTenDC" class="form-control" placeholder="Tên địa chỉ đỏ" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Quận</label>
                      <div class="col-sm-12">
                        <select id="selectQuan" class="form-control custom-select" required>
                          <option value="">---Quận---</option>
                          <% districtList.map((item, index) => { %>
                            <option value="<%- item._id %>">
                              <%- item.districtName %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Phường</label>
                      <div class="col-sm-12">
                        <select id="selectPhuong" class="form-control custom-select" required>
                          <option value="">---Phường---</option>
                          <% wardList.map((item, index) => { %>
                            <option value="<%- item._id %>">
                              <%- item.wardName %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Địa chỉ</label>
                      <div class="col-sm-12">
                        <input id="textDiaChi" type="text" class="form-control" placeholder="Địa chỉ" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group m-t-10 w-100">
                      <label for="" class="col-sm-4 control-label">Hình nền</label>
                      <div class="col-sm-12">
                        <form action="/api/upload/image" class="dropzone" id="myDropzoneHinhNen">
                          <div class="fallback">
                            <input name="file" type="file" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end thông tin chung -->

            <!-- start thông tin chính -->
            <!-- start mô tả -->
            <div class="card border border-primary">
              <div class="card-header align-items-center bg-default">
                <h4 class="text-primary">Mô tả</h4>
              </div>
              <div class="card-body p-20">
                <div class="container text-blue" id="mo-ta">
                  <p>Mô tả nhập mô tả</p>
                  <div class="w-100 mo-ta">
                    <hr style="border-top: dotted 1px;" />
                    <div class="m-t-10 m-l-5 m-t-5 row border-secondary m-1">
                      <div class="pull-left w-95 p-r-20">
                        <div class="form-group">
                          <div class="row">
                            <input type="text" class="textTieuDeMoTa form-control" placeholder="Nhập tiêu đề mô tả" required>
                          </div>
                          <div class="row m-t-10">
                            <textarea class="textNoiDungMoTa form-control" rows="2" placeholder="Nhập vào mô tả" style="min-height:70px" required></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="w-5 pull-right p-t-25 xoa-mota">
                        <button class="btn btn-danger btn-rounded pull-right d-inline-block m-t-30" style="padding:7px 12px">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <a href="#" class="btn btn-rounded col-lg-2 m-auto" id="them-mota">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>

              </div>
            </div>
            <!-- end mô tả -->

            <!-- start lịch sử -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Lịch sử</h4>
              </div>
              <div class="card-body p-20">
                <div class="container" id="lich-su">
                  <p>Mô tả cho lịch sử</p>
                  <div class="w-100 lich-su" vali='123456'>
                    <hr style="border-top: dotted 1px;" />
                    <div class=" row border-secondary m-3">
                      <div class="pull-left w-95">
                        <div class="m-t-10">
                          <div class="row">
                            <div class="col-sm-3 m-t-5">
                              <textarea name="timeSuKien" class=" form-control" rows="2" placeholder="Nhập vào thời gian" style="height:70px" required></textarea>
                            </div>
                            <div class="col-sm-9 m-t-5">
                              <textarea name="descSuKien" class=" form-control" rows="2" placeholder="Nhập vào sự kiện" style="height:70px" required></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="form-group m-t-10">
                          <form action="/api/upload/image" class="dropzone" name="dropzoneHinhLS" id="myDropzoneHinhLS">
                            <div class="fallback">
                              <input name="file" type="file" multiple/>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="w-5 p-t-25 xoa-lichsu">
                        <button class="btn btn-danger btn-rounded pull-right d-inline-block m-t-30" style="padding:7px 12px">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <a href="#lich-su" class="btn btn-rounded col-lg-2 m-auto" id="them-lichsu">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- end lịch sử -->

            <!-- start hình ảnh -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Hinh ảnh</h4>
              </div>
              <div class="card-body p-20">
                <div class="container" id="hinh-anh">
                  <p>Mô tả cho hình ảnh</p>
                  <div class="w-100 hinh-anh" vali='123456'>
                    <hr style="border-top: dotted 1px;" />
                    <div class=" row border-secondary m-3">
                      <div class="pull-left w-95">
                        <div class="m-t-5">
                          <input name="titleHinhAnh" class=" form-control" rows="2" placeholder="Nhập vào tiêu đề hình ảnh" required></input>
                        </div>
                        <div class="m-t-5">
                          <textarea name="descHinhAnh" class=" form-control" rows="2" placeholder="Nhập vào mô tả hình ảnh" style="height:70px" required></textarea>
                        </div>
                        <div class="form-group m-t-10">
                          <form action="/api/upload/image" class="dropzone" name="dropzoneHinhAnh" id="myDropzoneHinhAnh">
                            <div class="fallback">
                              <input name="file" type="file" multiple/>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="w-5 p-t-25 xoa-hinhanh">
                        <button class="btn btn-danger btn-rounded pull-right d-inline-block m-t-30" style="padding:7px 12px">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <a href="#hinh-anh" class="btn btn-rounded col-lg-2 m-auto" id="them-hinhanh">
                    <i class="fa fa-plus text-white"></i>
                  </a>
                </div>
              </div>
            </div>


            <!-- end hình ảnh -->

            <!-- start liên hệ -->
            <div class="card border border-primary">
              <div class="card-header bg-default">
                <h4 class="text-primary">Thông tin liên hệ</h4>
              </div>
              <div class="card-body p-20 form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tên</label>
                      <div class="col-sm-12">
                        <input id="textTenLH" type="text" class="form-control" placeholder="Tên" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Địa chỉ</label>
                      <div class="col-sm-12">
                        <input id="textDiaChiLH" type="text" class="form-control" placeholder="Địa chỉ" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Email</label>
                      <div class="col-sm-12">
                        <input id="textEmail" type="email" class="form-control" placeholder="Email" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">SĐT</label>
                      <div class="col-sm-12">
                        <input id="textSDT" type="text" class="form-control" placeholder="Số điện thoại" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end liên hệ -->

            <!-- end thôgn tin chính -->
            <button class="btn btn-primary" type="submit" id="submit-button">
              Thêm địa chỉ đỏ
            </button>
            <!-- end form input -->
            <!-- End PAge Content -->
            <!-- End Container fluid  -->
            <!-- footer -->
            <%- include ../partials/footer %>
              <!-- End footer -->
          </div>
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->
  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>
    <%- include ./createObjectScript %>
</body>

</html>