<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admindashboard/lib/sweetalert/sweetalert.css">
    <style>
      .stt {
        max-width: 70px;
      }

      .ten {
        max-width: 180px;
      }

      .diachi {
        max-width: 300px;
      }

      .phuong {
        max-width: 100px;
      }
      .top-buffer{
        margin-top: 10px;
      }
      .left-buffer{
        margin-left: 20px;
      }
      .right-buffer{
        margin-right: 30px;
      }
      .btn-fill{
        width: 100%;
        height: 100%;
      }
      .col-centered{
         margin-left: auto;
         margin-right: auto;
         float: none;
      }
      #copyLink{
        display: none;
      }
      .isBannedstyle th{
        color: red;
      }
    </style>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/objects">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="">
              <!-- start form  -->
              <!-- <div class="card">
                <form action="" class="container w-100">
                  <div class="row">
                    <div class="col-lg-1 m-r-0 text-center">
                      <p>Quận</p>
                    </div>
                    <div class="col-lg-4 m-l-0">
                      <div class="form-group">
                        <select name="" id="" class="form-control custom-select">
                          <option value="">Tất cả</option>
                          <option value="">Quận 1</option>
                          <option value="">Quận 2</option>
                          <option value="">Quận 3</option>
                          <option value="">Quận 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-action col-lg-2 m-l-0">
                      <button class="btn btn-primary" type="submit">
                        Xem
                      </button>
                    </div>
                  </div>
                </form>
              </div> -->
              <!-- end form -->
              <!-- start show địa chỉ đỏ -->
              <div class="card">
                <div class="card-title">
                  <h4>Danh sách địa chỉ đỏ</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-data">
                      <thead class="">
                        <tr>
                          <th class="stt">STT</th>
                          <th class="ten">Tên địa chỉ đỏ</th>
                          <th class="ten">Mã QR Code</th>
                          <th class="diachi">Địa chỉ</th>
                          <th class="phuong">Phường</th>
                          <th class="text-left">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% diachidoList.map((item, index) =>{%>
                          <tr id=<%item._id%> <% if(item.isBanned == true){%>
                            class="isBannedstyle"
                          <%} %> >
                            <th class="stt">
                              <%- index+1 %>
                            </th>
                            <th class="ten">
                                <%- item.name %>
                            </th>
                            <th class="qrcode">
                              <a class="img-item" href="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" title="qr code">
                                <img class="image" src="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" />
                              </a>                            </th>
                            <th class="diachi">
                                <%- item.address %>
                            </th>
                            <th class="phuong">
                              <%- item.districtsID ? item.districtsID.districtName : null %> / <%- item.wardsID ? item.wardsID.wardName : null %>
                            </th>
                            <th>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="chi-tiet" title="Xem chi tiết" href="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>">
                                    <i class="fa fa-info"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a href="#" class="chinh-sua" title="Chỉnh sửa" data-toggle="modal" data-target="#editModal">
                                    <i class="fa fa-edit"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a href="#" class="tao-tb" title="Tạo thông báo" data-toggle="modal" data-target="#createModal">
                                    <i class="fa fa-plus"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a href="#" class="chia-se" title="Chia sẻ" data-toggle="modal" data-target="#shareModal-<%-index %>">
                                    <i class="fa fa-share"></i>
                                  </a>
                                </li>
                                <% if(item.isBanned == true) {%>
                                  <li class="list-inline-item">
                                    <a href="#" class="btnActive" title="Kích hoạt lại">
                                      <i class="fa fa-key"></i>
                                    </a>
                                  </li>
                                  <%} else {%>
                                    <li class="list-inline-item">
                                      <a href="#" class="btnBan" title="Khóa đối tượng">
                                        <i class="fa fa-lock"></i>
                                      </a>
                                    </li>
                                    <% }%>
                              </ul>
                            </th>
                          </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end show địa chỉ đỏ -->
              <!-- start modal -->
              <!-- start create noti modal -->
              <div id="createModal" class="modal" role="dialog">
                <div class="modal-dialog border rounded border-primary" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-light ">
                      <h3 class="m-auto text-primary">Tạo thông báo</h3>
                    </div>
                    <div class="modal-body">
                      <p id="modal-test-view-content"></p>
                      <div class="form">
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <label for="">Hình sự kiện</label>
                            <form action="/api/upload/image" class="dropzone" id="myDropzoneNotification">
                              <div class="fallback">
                                <input name="file" type="file" />
                              </div>
                            </form>
                            <div class="form-group m-t-15">
                              <label>Thời gian hiển thị</label>
                              <div class="row">
                                <div class="col-sm-6 form-group">
                                  <input id="textStartDisplay" class="form-control" type="text" placeholder="Bắt đầu">
                                </div>
                                <div class="col-sm-6 form-group">
                                  <input id="textEndDisplay" type="text" class="form-control" placeholder="Kết thúc">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Tên thông báo</label>
                              <input id="textNameNoti" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="">Thời gian</label>
                              <input id="textTimeNoti" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="">Nội dung</label>
                              <textarea id="textContent" class="form-control h-auto" rows="2"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button id="btnNotiSubmit" type="button" class="btn btn-rounded btn-outline-primary">Xác nhận</button>
                      <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end create noti modal -->
              <!-- start share modal -->
              <div id="shareModal-<%- index %>" class="modal" role="dialog">
                <div class="modal-dialog border rounded border-primary" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-light ">
                      <h2 class="m-auto text-primary">Chia sẻ</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-12 top-buffer col-centered" >
                                  <img src="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" width="100%" aria-hidden="true" alt="qrcode" title="qrcode">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row col-centered">
                              <div class="col-md-10 top-buffer px-0" style="background: #516eab;">
                                <a target="_blank" class="btn btn-default px-0  btn-fill" style="color: #fff;" href="https://www.facebook.com/sharer/sharer.php?u=<%- item.qrCodeID ? item.qrCodeID.directTo : null %>%2F&amp;src=sdkpreparse" title="Chia sẻ qua facebook">
                                  <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                </a>
                              </div>
                            </div>
                            <div class="row col-centered">
                              <div class="col-md-10 top-buffer px-0 " style="background:  #eb4026;">
                                <a class="btn btn-default px-0  btn-fill" style="color: #fff;" href="mailto:?subject=Link trang địa chỉ đỏ&amp;body=Xem thử trang nè <%- item.qrCodeID ? item.qrCodeID.directTo : null %> ."title="Chia sẻ qua email">
                                  <i class="fa fa-envelope-square" aria-hidden="true"></i> Mail
                                </a>
                              </div>
                            </div>
                            <div class="row col-centered">
                              <div class="col-md-10 top-buffer px-0 " style="background: #a5a291;">
                                <input type="text" name="copy" id="copyLink" value="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>"/>
                                <a id="copy-btn" class="btn btn-default px-0  btn-fill" style=" color: #fff;" title="Copy đường Link">
                                    <i class="fa fa-link" aria-hidden="true"></i> Copy Link
                                </a>
                              </div>
                            </div>
                            <div class="row col-centered">
                              <div class="col-md-10 top-buffer  px-0 " style="background: #29c5f6;">
                                  <a class="btn btn-default px-0  btn-fill " style=" color: #fff;" href="http://twitter.com/share?text=Trang địa chỉ đỏ&url=<%- item.qrCodeID ? item.qrCodeID.directTo : null %>&hashtags=MHXUIT2018,WEBDEV"title="Chia sẻ qua Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                                  </a>
                              </div>
                            </div>
                            <div class="row col-centered">
                              <div class="col-md-10 top-buffer  px-0" style="background: #68be5b;">
                                <input type="text" name="copy" id="copyLink" value="<%- item.qrCodeID ? item.qrCodeID.directTo : null %>"/>
                                <a class="btn btn-default px-0  btn-fill " style="color: #fff;" href="<%- item.qrCodeID ? item.qrCodeID.imageQRLink : null %>" target="_blank" download>
                                  <i class="fa fa-download" aria-hidden="true"></i> Tải QrCode
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-rounded btn-outline-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end share modal -->
              <!-- end modal -->
            </div>
            <%})%>
            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>
    <!-- scripit init-->
    <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>

    <!-- scripit init-->
    <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
    <!-- <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script> -->
    <!-- <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script> -->
    <!-- <script src="/js/admindashboard/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script> -->
    <!-- <script src="/js/admindashboard/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script> -->
    <!-- <script src="/js/admindashboard/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script> -->
    <!-- <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script> -->
    <!-- <script src="/js/admindashboard/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script> -->
    <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>
    <script>
    var copyBtn   = $("#copy-btn"),
    input     = $("#copyLink");

    function copyToClipboardFF(text) {
      window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
    }

    function copyToClipboard() {
      var success   = true,
          range     = document.createRange(),
          selection;

        // For IE.
        if (window.clipboardData) {
          window.clipboardData.setData("Text", input.val());
        } else {
        // Create a temporary element off screen.
        var tmpElem = $('<div>');
        tmpElem.css({
          position: "absolute",
          left:     "-1000px",
          top:      "-1000px",
        });
        // Add the input value to the temp element.
        tmpElem.text(input.val());
        $("body").append(tmpElem);
        // Select temp element.
        range.selectNodeContents(tmpElem.get(0));
        selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (range);
        // Lets copy.
        try {
          success = document.execCommand ("copy", false, null);
        }
        catch (e) {
          copyToClipboardFF(input.val());
        }
        if (success) {
          alert ("Đã copy xong!");
          // remove temp element.
          tmpElem.remove();
      }
    }
  }

      copyBtn.on('click', copyToClipboard);
      var imgUrlNotiNoti = [];
      Dropzone.options.myDropzoneNotification = {
        maxFiles: 1,
        url: '/api/upload/image',
        paramName: 'image',
        init: function () {
          this.on('sending', function (file, xhr, fromdata) {
            $('#btnNotiSubmit').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            imgUrlNoti.push({
              id: res.id,
              name: res.name,
              link: res.link
            })
            $('#btnNotiSubmit').prop('disabled', false);
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(imgUrlNoti, name);
          $.ajax({
            type: "delete",
            url: `/api/upload/remove/${id}`,
            success: function (res) {
              console.log(success);
              removeLinkImgOnArr(imgUrlNoti, name);
            }
          })
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        }
      }
      $(document).on('click', '#btnNotiSubmit', function (e) {
        $.ajax({
          url: '#',
          type: 'POST',
          dataType: 'json',
          data: {
            nameNoti: $("#textNameNoti").val(),
            timeNoti: $("#textTimeNoti").val(),
            timeStartDis: $("#textStartDisplay").val(),
            timeEndDis: $("#textEndDisplay").val(),
            contentNoti: $("#textContent").val(),
            imgUrl: JSON.stringify(imgUrlNoti)
          },
          success: function (res) {
            if (res) {
              $('input[name=districtName]').val('');
              window.location.reload();
            }
          }
        })
      })
      $(document).on('click', '.btnBan', function (e) {
        swal({
          title: "Bạn có chắc chắn muốn khóa địa chỉ này ?",
          text: "Tất cả thông tin về địa chỉ này sẽ bị ẩn đi",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Chắc chắn !!",
          closeOnConfirm: false
        },
          function () {
            // swal("Đã khóa !!", "Bạn đã khóa địa chỉ thành công", "success");
            $.ajax({
              url: '#',
              type: 'post',
              success: function (res) {
                swal("Đã khóa !!", "Bạn đã khóa địa chỉ thành công", "success");
                // window.location.reload();
              }
            })
          });
      })
      $(document).on('click', '.btnActive', function (e) {
        swal({
          title: "Bạn có muốn mở khóa địa chỉ này ?",
          text: "Tất cả thông tin về địa chỉ này sẽ được hiện lại",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Chắc chắn !!",
          closeOnConfirm: false
        },
          function () {
            // swal("Đã khóa !!", "Bạn đã mở khóa địa chỉ thành công", "success");
            $.ajax({
              url: '#',
              type: 'post',
              success: function (res) {
                swal("Đã khóa !!", "Bạn đã mở khóa địa chỉ thành công", "success");
              }
            })
          });
      })
    </script>
</body>

</html>
