<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tìm kiếm</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/mainpage/bootstrap4/bootstrap.min.css">
  <link href="/plugins/mainpage/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/styles/mainpage/offers_styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/mainpage/offers_responsive.css">
  <% include ../../gtag %>
</head>

<body>

  <div class="super_container">

    <!-- Header -->

    <header class="header">

      <!-- Main Navigation -->

      <nav class="main_nav">
        <div class="container">
          <div class="row">
            <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
              <div class="logo_container">
                <div class="logo">
                  <a href="#">
                    <img src="/images/logo_long.png" style="width: 300px;" alt="">
                  </a>
                </div>
              </div>
              <form id="search_form" class="search_form bez_1">
                <input type="search" class="search_content_input bez_1">
              </form>
            </div>
          </div>
        </div>
      </nav>

    </header>

    <!-- Home -->

    <div class="home">
      <div class="home_slider_container">

        <div class="owl-carousel owl-theme home_slider">

          <!-- Slider Item -->
          <div class="owl-item home_slider_item">
            <div class="home_slider_background" style="background-image:url(/images/backgroundDiachido.info.jpg)"></div>

            <div class="home_slider_content text-center">
              <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
               <h2 style="color: #D84315">CỔNG THÔNG TIN ĐIỆN TỬ</h2>
                <h3 style="color: #D84315">CÔNG TRÌNH SỐ HOÁ THÔNG TIN </h3>
                <h3 style="color: #D84315"> MẸ VIỆT NAM ANH HÙNG</h3>
                <div class="button home_slider_button">
                  <div class="button_bcg"></div>
                  <a href="/aboutus">TÌM HIỂU THÊM
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>

    </div>

    <!-- Offers -->

    <div class="offers">

      <!-- Search -->

      <div class="search">
        <div class="search_inner">

          <!-- Search Contents -->

          <div class="container fill_height no-padding">
            <div class="row fill_height no-margin">
              <div class="col fill_height no-padding">

                <!-- Search Tabs -->

                <div class="search_tabs_container">
                  <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                    <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                        <form action="/search/mevnah" method="POST" id="search_form_3" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                          <div class="search_item">
                            <div>Tìm kiếm</div>
                            <input name="find" type="text" class="destination search_input">
                          </div>
                          <div class="search_item">
                            <div>Quận</div>
                            <select name="districts" id="districts2" class="dropdown_item_select search_input districts">
                              <option value="">Tất cả</option>
                              <% districtList.map((item, index) => { %>
                                <option value="<%- item._id %>">
                                  <%- item.districtName %>
                                </option>
                              <% }) %>
                            </select>
                          </div>
                          <div class="search_item">
                            <div>Phường</div>
                            <select name="wards" id="wards2" class="dropdown_item_select search_input wards">
                              <option value="">Tất cả</option>
                            </select>
                          </div>
                          <button class="button search_button" type="submit">Tìm kiếm
                            <span></span>
                            <span></span>
                            <span></span>
                          </button>
                        </form>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- Offers -->

      <div class="container">
        <div class="row" style="padding-bottom: 40px">
          <div class="col-lg-1 temp_col"></div>

          <div class="col-lg-12">
            <!-- Offers Grid -->

            <div class="offers_grid">
              <% mevnahList ? mevnahList.map((item, index) => { %>
              <!-- Offers Item -->
              <div class="offers_item rating_4">
                  <div class="row">
                    <div class="col-lg-1 temp_col"></div>
                    <div class="col-lg-3 col-1680-4">
                      <div class="offers_image_container">
                        <% item.page.motherImageLink ? item.page.motherImageLink.map((background) => { %>
                          <div class="offers_image_background" style="background-image:url(<%- background.imageLink %>)"></div>
                          <div class="offer_name">
                            <a href="#"><%- item.nickName %></a>
                          </div>
                        <% }) : null %>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="offers_content">
                        <div class="offers_price"><%- item.name %>

                        </div>
                        <!-- <div class="rating_r rating_r_4 offers_rating" data-rating="4">
                          <i></i>
                          <i></i>
                          <i></i>
                          <i></i>
                          <i></i>
                        </div> -->
                        
                        <p class="offers_text">Địa chỉ: <%- item.address %> <%- item.districtsID ?  item.districtsID.districtName : null %> / <%- item.wardsID ?  item.wardsID.wardName : null %></p>
                      
                        <p class="offers_text">Ngày sinh: </p>
                        <p class="offers_text">Ngày mất: </p>
                        <p class="offers_text">Quê quán: </p>
                        <p class="offers_text">Số con là liệt sĩ: </p>
                      
                        <div class="button book_button">
                          <a href="#">Tìm hiểu
                            <span></span>
                            <span></span>
                            <span></span>
                          </a>
                        </div>
                        <div class="offer_reviews">
                          <div class="offer_reviews_content">
                            <div class="offer_reviews_title">Tình trạng</div>
                            <div class="offer_reviews_subtitle">sức khỏe</div>
                          </div>
                          <div class="offer_reviews_rating text-center">Tốt</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Offers Item -->
              <% }) : null %>

            </div>
          </div>

        </div>
        <nav aria-label="Page navigation example" id="navPageNumber">
          <div class="row">
            <div class="col-6">
          
            <div class="row">
              
              <h3>Chọn</h3>
              <div class="form-group pull-left" style="padding-left: 30px;padding-right: 30px ">
              <select class="form-control" id="sel1" >
                <option value="12">12</option>
                <option value="18">18</option>
                <option value="24">24</option>
                <option value="30">30</option>
              </select>
            </div>
            </div>
          </div>
         
          <div class="col-6">
          <ul class="pagination pull-right">


            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" id="li-1">
              <a class="page-link selectNumber" href="">
                1
              </a>
            </li>
            <li class="page-item  active" id="li0">
              <a class="page-link selectNumber" href="">
                2
              </a>
            </li>
            <li class="page-item " id="li1">
              <a class="page-link selectNumber" href="">
                3
              </a>
            </li>
            <li class="page-item" id="spaceaf">
              <a class="page-link selectNumber">...</a>
            </li>
            <li class="page-item" id="numberPage">
              <a class="page-link selectNumber" href="">
                4
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

          </ul>
          </div>
        </div>
        </nav>
        </div>
      </div>
   
    



    <!-- Footer -->

    <footer class="footer">
        <div class="container">
          <div class="row">
  
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="logo_container footer_logo">
                    <div class="logo">
                      <a href="#">
                        <img src="/images/logo_long.png" style="width: 300px"alt=""></a>
                    </div>
                  </div>
            </div>
  
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                     
                      <p class="footer_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vu lputate eros, iaculis consequat
                        nisl. Nunc et suscipit urna. Integer eleme ntum orci eu vehicula pretium.</p>
                    
                    </div>
                  </div>
              </div>
            
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
              <div class="footer_col">
                <div class="footer_title">contact info</div>
                <div class="footer_content footer_contact">
                  <ul class="contact_info_list">
                    <li class="contact_info_item d-flex flex-row">
                      <div>
                        <div class="contact_info_icon">
                          <img src="/images/mainpage/placeholder.svg" alt="">
                        </div>
                      </div>
                      <div class="contact_info_text">4127 Raoul Wallenber 45b-c Gibraltar</div>
                    </li>
                    <li class="contact_info_item d-flex flex-row">
                      <div>
                        <div class="contact_info_icon">
                          <img src="/images/mainpage/phone-call.svg" alt="">
                        </div>
                      </div>
                      <div class="contact_info_text">2556-808-8613</div>
                    </li>
                    <li class="contact_info_item d-flex flex-row">
                      <div>
                        <div class="contact_info_icon">
                          <img src="/images/mainpage/message.svg" alt="">
                        </div>
                      </div>
                      <div class="contact_info_text">
                        <a href="" target="_top">contactme@gmail.com</a>
                      </div>
                    </li>
                    <li class="contact_info_item d-flex flex-row">
                      <div>
                        <div class="contact_info_icon">
                          <img src="/images/mainpage/planet-earth.svg" alt="">
                        </div>
                      </div>
                      <div class="contact_info_text">
                        <a href="">www.laptrinhweb.vn</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </footer>
    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
          <div class="flex-row align-items-center justify-content-start" style="text-align: center">
            <p>Website được thiết kế bởi đội Lập trình Web - MHX2018 - ĐHCNTT</p>
            </div>
            
          </div>
        </div>
  </div>


  



  <script src="/js/mainpage/jquery-3.2.1.min.js"></script>
  <script src="/styles/mainpage/bootstrap4/popper.js"></script>
  <script src="/styles/mainpage/bootstrap4/bootstrap.min.js"></script>
  <script src="/plugins/mainpage/Isotope/isotope.pkgd.min.js"></script>
  <script src="/plugins/mainpage/easing/easing.js"></script>
  <script src="/plugins/mainpage/parallax-js-master/parallax.min.js"></script>
  <script src="/js/mainpage/offers_custom.js"></script>

  <% include ../partials/getWardList %>

</body>

</html>