<footer class="footer" style="padding-top: 70px; padding-bottom: 20px">
  <div class="container">
    <div class="row">

      <div class="col-lg-5">
        <div class="row">

        <!-- Footer Intro -->
        <div class="footer_intro" style="margin-left:20px">

          <!-- Logo -->
          <div class="logo footer_logo">
            <a href="#"><img src="http://www.diachido.info/images/logo_long.png" height=50 ></a>
          </div>
          <div class="footer-text-wrap">
            <div class="newsletter_title" style="font-size: 30px">
             <font face =“Times new roman, Arial”> <b>BAN QUẢN LÍ</b></font>
           </div>
              <div class="footer-address"> Số 1 Phạm Ngọc Thạch, Quận 1, TP HCM</div>
              <div class="footer-address">Tel: (84.8) 38225124 - 38225146</div>
              <div class="footer-address">Mail: laptrinhweb@uit.edu.vn</div>

          </div>
          <div class="footer-text-wrap">
            <div class="newsletter_title" style="font-size: 30px">
             <font face =“Times new roman, Arial”><b>Admin</b></font>
           </div>
              <div class="footer-address">Tel: (84.8) 38225124 - 38225146</div>
              <div class="footer-address">Mail: admin@uit.edu.vn</div>

          </div>
<!-- Social -->
          <div class="footer_social">
            <ul>
              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>

          <!-- Copyright -->
          <div class="footer_cr" style="margin-top: 40px;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy 2018. All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Laptrinhweb UIT</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
</div>
        </div>
      </div>



      <!-- Footer Services -->
      <div class="col-lg-7">
      <div class="row">
      <div class="col-lg-3">

        <div class="footer_col">
          <div class="footer_col_title">Services</div>
          <ul>
            <li><a href="#">Social media</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">Branding</a></li>
          </ul>
        </div>

        <div class="footer_col">
          <div class="footer_col_title">Aditionals</div>
          <ul>
            <li><a href="#">Social media</a></li>
            <li><a href="#">Management</a></li>
            <li><a href="#">Branding</a></li>
          </ul>
        </div>

      </div>

      <!-- Footer Menu -->
      <div class="col-lg-3">

        <div class="footer_col">
          <div class="footer_col_title">Menu</div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </div>

      </div>

      <!-- Footer About -->
      <div class="col-lg-3">

        <div class="footer_col">
          <div class="footer_col_title">About us</div>
          <ul>
            <li><a href="#">The team</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>

      </div>

      <!-- Footer Community -->
      <div class="col-lg-3">

        <div class="footer_col">
          <div class="footer_col_title">Community</div>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="#">Q&A</a></li>
            <li><a href="#">Purposes</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col">
        <!-- Copyright -->
        <div class="footer_cr_2">2018 All rights reserved</div>
      </div>
    </div>
  </div>
</div>
</div>

</footer>
