<div id="add-image" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Thêm hình ảnh mới</h3>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modal-test-view-content"></p>
          <div class="form-group">
            <label for="name">Tiêu đề</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề">
          </div>
          <div class="form-group">
            <label for="contactName">Nội dung mô tả</label>
            <input type="text" class="form-control" id="content" name="content" placeholder="Nội dung mô tả">
          </div>
          <form action="/api/upload/image" class="dropzone" id="myDropzoneImage">
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </form>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-submit" data-dismiss="modal"> Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>