<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Google analytic loading -->

  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
  <link rel="stylesheet" href="/css/admindashboard/lib/sweetalert/sweetalert.css">
  <link rel="stylesheet" href="/css/admindashboard/lib/magnific/magnific-popup.css">
  <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">
    <style>
    .stt {
      max-width: 70px;
    }

    .ten {
      max-width: 180px;
    }

    .diachi {
      max-width: 300px;
    }

    .phuong {
      max-width: 100px;
    }

    .mfp-img {
      min-height: 500px;
    }

    .qrcode img {
      max-width: 60px;
    }

    .top-buffer {
      margin-top: 10px;
    }

    .left-buffer{
      margin-left: 20px;
    }

    .right-buffer {
      margin-right: 30px;
    }

    .btn-fill {
      width: 100%;
      height: 100%;
    }

    .col-centered {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    #copyLink {
      display: none;
    }
    .isLockedstyle th{
      color: red;
    }
    </style>
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
    <!-- End header header -->

    <!-- Left Sidebar  -->
    <%- include ../partials/left-sidebar %>
    <!-- End Left Sidebar  -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Bread crumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-primary">
            <%- directory %>
          </h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/admin/objects">
                <%- parent_directory %>
              </a>
            </li>
            <li class="breadcrumb-item active">
              <%- directory %>
            </li>
          </ol>
        </div>
      </div>
      <!-- End Bread crumb -->

      <!-- Container fluid  -->
      <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body p-b-0">
                  <h4 class="card-title">Danh sách tất cả hình ảnh đi thăm các Ba má</h4>
                  <a href="#add-district" class="btn btn-outline btn-rounded btn-primary pull-right m-b-10" id="them-mota" data-toggle="modal"
                    data-target="#add-image">
                    <i class="fa fa-plus text-white">Thêm hình ảnh</i>
                  </a>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs customtab" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#mevnah" role="tab">
                        <span class="hidden-sm-up">
                          <i class="ti-user"></i>
                        </span>
                        <span class="hidden-xs-down">Ba má phong trào</span>
                      </a>
                    </li>
                  </ul>
                  <!-- Tab panes -->

                    <div class="tab-pane " id="mevnah" role="tabpanel">
                      <div class="p-20">
                        <table class="table-data table table-striped table-bordered">
                          <thead>
                            <tr id="row-0">
                              <th class="stt">STT</th>
                              <th class="ngaydangtai">Ngày đăng tải</th>
                              <th>Tiêu đề hình ảnh</th>
                              <!-- <th class="ten">Tên ba má</th> -->
                              <th class="qrCode">Hình ảnh</th>
                              <th>Hiển thị trang chủ</th>
                              <th>Chức năng chỉnh sửa nội dung tiêu đề</th>
                              <th>Chức năng chỉnh sửa hình ảnh</th>
                              <th>Tên Ba má trong hình ảnh</th>
                              <th class="text-left action">Hành động</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% vistor.map((item, index) => { %>

                              <tr id="<%- item._id %>" <% if(item.showHomepage == true){%>
                                class="isLockedstyle"
                              <%} %> >
                                <th>
                                  <%- index + 1 %>
                                </th>
                                <th>
                                  ...<!--Lấy từ database lên ngày đăng tải-->
                                </th>
                                <th>
                                  <%- item.title %>
                                </th>
                                <!-- <th>
                                  <%- item.refMevnah ? item.refMevnah.name : "Không có" %>
                                </th> -->
                                <th class="qrcode">
                                      <a class="img-item" href="<%- item.imageLink %>" title="qr code">
                                        <img class="image" src="<%- item.imageLink %>" />
                                      </a>
                                </th>
                                <th id="state_text-<%- item._id%>">
                                  <% if(item.showHomepage) { %>
                                    Đang hiển thị
                                  <% } else { %>
                                    Ẩn
                                  <% } %>
                                </th>
                                <th>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sửa nội dung
                                </th>
                                <th>
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sửa hình ảnh
                                  </th>
                                <th>
                                  ...<!--Lấy tên bama1 trog mongo đưa ra-->
                                </th>
                                <th>
                                  <ul class="list-inline text-center">
                                    
                                    <%  if (item.showHomepage == false) { %>
                                      <li class="list-inline-item">
                                        <a href="#" id="change_state_btn-<%-item._id%>" class="btnLock" title="Khóa">
                                          <i id="change_state_icon-<%-item._id%>" class="fa fa-lock"></i>
                                        </a>
                                      </li>
                                    <%  } else { %>
                                      <li class="list-inline-item">
                                        <a href="#" id="change_state_btn-<%-item._id%>" class="btnUnlock" title="Mở khóa">
                                          <i id="change_state_icon-<%-item._id%>" class="fa fa-key"></i>
                                        </a>
                                      </li>
                                    <% } %>
                                    <li class="list-inline-item" onClick="deleteImage('<%- item._id %>')">
                                      <a href="#" class="deleteImage" title="Xoá">
                                        <i class="fa fa-trash"></i>
                                      </a>
                                    </li>
                                  </ul>
                                </th>
                              </tr>

                              
                              <% });%>
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->

      <!-- footer -->
      <%- include ../partials/footer %>
      <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->

  <%- include ./create %>
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/datatables/datatables.min.js"></script>
    <script src="/js/admindashboard/lib/datatables/datatables-init.js"></script>
    <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>

    <script>
      var arrayHinhNen = [];
      Dropzone.options.myDropzoneImage = {
        maxFiles: 1,
        paramName: 'image',
        acceptedFiles: 'image/*',
        init: function () {
          this.on('sending', function (file, xhr, formdata) {
            $('#submit-button').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            console.log(res.name);
            $('#submit-button').prop('disabled', false);
            arrayHinhNen.push({
              name: res.name,
              id: res.id,
              imageLink: res.link
            });
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(arrayHinhNen, name);
          $.ajax({
            type: "delete",
            url: `/api/remove/image/${id}`,
            dataType: 'json',
            data: {
              name: name,
              request: 'delete'
            },
            complete: function (res) {
              console.log('dellete success');
              removeLinkImgOnArr(arrayHinhNen, name);
            }
          })
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        }
      }
      $(document).on('click', '.btn-submit', function () {
        var distName = $('input[name=districtName]').val();
        $.ajax({
          url: '/admin/hinh-anh-tham-me',
          type: 'POST',
          dataType: 'json', 
          data: {
            title: $('#title').val(),
            content: $('#content').val(),
            imgUrl: JSON.stringify(arrayHinhNen)
          },
          success: function (res) {
            if (res) {
              window.location.reload();
            }
          }
        })
      })

    </script>

    
    <script type="text/javascript">
    var clipboard = new ClipboardJS('.copy-btn');

    $(document).on('click', '.deleteImage', function (e) {
        // ******************************************************************************
        // sweetalert forms
        var swal_Confirm_Unlock_formA = {
            title: "Bạn có muốn xoá hình ảnh này?",
            text: "Tất cả thông tin về hình ảnh này sẽ được xoá",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Chắc chắn !!",
            closeOnConfirm: false
          };
        var swal_Unlock_Success_formA ={
          title: "Đã xoá !!",
          text: "Bạn đã xoá hình ảnh thành công",
          type: "success",
        };


        // ******************************************************************************

        let target_id = $(this).closest('tr').attr('id');

        swal(swal_Confirm_Unlock_formA, function(e){
            $.ajax({
              url: `/admin/hinh-anh-tham-me/${target_id}`,
              type: 'delete',
              success: function (res) {
                if (res) {
                  swal(swal_Unlock_Success_formA, function(e){
                    windows.location.reload()
                  });
                }
              }
            });
          });

      });

      $(document).on('click', '.btnUnlock', function (e) {
        // ******************************************************************************
        // sweetalert forms
        var swal_Confirm_Unlock_form = {
            title: "Bạn có muốn ẩn thông tin này trên trang chủ?",
            text: "Tất cả thông tin về hình ảnh này vẫn được lưu trữ",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Chắc chắn !!",
            closeOnConfirm: false
          };
        var swal_Unlock_Success_form ={
          title: "Đã ẩn !!",
          text: "Bạn đã ẩn hình ảnh thành công",
          type: "success",
        };


        // ******************************************************************************

        let target_id = $(this).closest('tr').attr('id');

        swal(swal_Confirm_Unlock_form, function(e){
            $.ajax({
              url: `/admin/hinh-anh-tham-me/${target_id}/show/hide`,
              type: 'put',
              success: swal_Unlock_Success()
            });
          });


          function swal_Unlock_Success(){
            swal(swal_Unlock_Success_form, function(e){
              change_item_to_unlocked();
            });
          };

          function change_item_to_unlocked(){
            document.getElementById(`state_text-${target_id}`).innerHTML = "Đang hoạt động";
            document.getElementById(`change_state_btn-${target_id}`).classList.add('btnLock');
            document.getElementById(`change_state_btn-${target_id}`).classList.remove('btnUnlock');
            document.getElementById(`change_state_icon-${target_id}`).classList.add('fa-lock');
            document.getElementById(`change_state_icon-${target_id}`).classList.remove('fa-key');
            document.getElementById(`${target_id}`).classList.remove('isLockedstyle');
          };

      });


      // ******************************************************************************
      $(document).on('click', '.btnLock', function (e) {
        var swal_Confirm_Lock_form = {
            title: "Bạn có muốn hiển thị lên trang chủ ?",
            text: "Tất cả thông tin về hình ảnh này sẽ hiển thị trên trang chủ",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Chắc chắn !!",
            closeOnConfirm: false
          };
        var swal_Lock_Success_form ={
          title: "Đã hiển thị !!",
          text: "Bạn đã hiển thị thành công",
          type: "success",
        };

        let target_id = $(this).closest('tr').attr('id');
        swal(swal_Confirm_Lock_form, function(e){
            $.ajax({
              url: `/admin/hinh-anh-tham-me/${target_id}/show/open`,
              type: 'put',
              success: swal_Lock_Success()
            });
          });


          function swal_Lock_Success(){
            swal(swal_Lock_Success_form, function(e){
              change_item_to_locked();
            });
          };

          function change_item_to_locked(){
            document.getElementById(`state_text-${target_id}`).innerHTML = "Đã hiển thị";
            document.getElementById(`change_state_btn-${target_id}`).classList.add('btnUnlock');
            document.getElementById(`change_state_btn-${target_id}`).classList.remove('btnLock');
            document.getElementById(`change_state_icon-${target_id}`).classList.add('fa-key');
            document.getElementById(`change_state_icon-${target_id}`).classList.remove('fa-lock');
            document.getElementById(`${target_id}`).classList.add('isLockedstyle');
          };
      });


      // *******************************************************************************
      $('.qrcode').magnificPopup({
        delegate: 'a',
        type: 'image',
        mainClass: 'mfp-with-zoom',
        zoom: {
          enabled: true,
          duration: 400,
          easing: 'ease-in-out',
        }
      });
    </script>

</body>

</html>
