<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link rel="stylesheet" href="/css/admindashboard/lib/magnific/magnific-popup.css">
    <style>
      .gallery figure {
        margin: 20px;
        position: relative;
      }

      .image {
        border-radius: 10px;
        max-width: 200px;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .overlay {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .gallery div:hover .image {
        opacity: 0.3;
      }

      .gallery div:hover .overlay {
        opacity: 1;
      }
    </style>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/image">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <div class="card">
              <div class="gallery row">
                <% imagesList.map(item => { %>
                  <div class="col-lg-3">
                    <a href="<%- item.link%>" title="<%- item.originalName%>" class="img-item">
                      <figure>
                        <img class="image " src="<%- item.link%>" alt="">
                        <div class="overlay">
                          <i class="fa fa-expand fa-2x"></i>
                        </div>
                      </figure>
                    </a>
                  </div>
                  <%})%>
              </div>
              <nav aria-label="Page navigation example" id="navPageNumber">
                <div class="form-group pull-left">
                  <div class="row">
                    <p>Chọn</p>
                    <select class="form-control" id="sel1">
                      <option value="12">12</option>
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                </div>
                <ul class="pagination pull-right">
                  <li class="page-item" id="before">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" id="li-1">
                    <a class="page-link selectNumber" href="">
                      <%- currentPage-1%>
                    </a>
                  </li>
                  <li class="page-item  active" id="li0">
                    <a class="page-link selectNumber" href="">
                      <%- currentPage%>
                    </a>
                  </li>
                  <li class="page-item " id="li1">
                    <a class="page-link selectNumber" href="">
                      <%- currentPage+1%>
                    </a>
                  </li>
                  <li class="page-item" id="spaceaf">
                    <a class="page-link selectNumber">...</a>
                  </li>
                  <li class="page-item" id="numberPage">
                    <a class="page-link selectNumber" href="">
                      <%- numberOfPage%>
                    </a>
                  </li>
                  <li class="page-item" id="after">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>

                </ul>
              </nav>
            </div>
            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/magnific/jquery.magnific-popup.js"></script>
    <script>
      $('.gallery').magnificPopup({
        delegate: 'a', // child items selector, by clicking on it popup will open
        type: 'image',
        mainClass: 'mfp-with-zoom',
        gallery: {
          enabled: true
        },
        zoom: {
          enabled: true, // By default it's false, so don't forget to enable it
          duration: 400, // duration of the effect, in milliseconds
          easing: 'ease-in-out', // CSS transition easing function
        }
      });

    </script>

    <script>


      $.magnificPopup.registerModule('image', {

        options: {
          markup: '<div class="mfp-figure">' +
            '<div class="mfp-close"></div>' +
            '<figure>' +
            '<div class="row">' +
            '<div class="col-lg-8">' +
            '<div class="mfp-img"></div>' +

            // '<figcaption>'+
            // 	'<div class="mfp-bottom-bar">'+
            // 		'<div class="mfp-title"></div>'+
            // 		'<div class="mfp-counter"></div>'+
            // 	'</div>'+
            // '</figcaption>'+
            '</div>' +
            '<div class="col-lg-4">' +
            '<div class="row" style="margin-top: 70px; margin-left: 15px">' +
            '<div class="row" style="width: 100%">' +
            '<p>Title: </p>' +
            '<div class="mfp-title" style="margin-top: 20px" > </div>' +
            '</div>' +
            '<div class="row" style="width: 100%; margin-top: 10px">' +
            '<p>Trong bài viết: </p>' +
            ' <div class="inPost"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<figcaption>' +
            '<div class="mfp-bottom-bar">' +
            '<div class="mfp-counter"></div>' +
            '</div>' +
            '</figcaption>' +
            '</div>' +
            '</figure>' +
            '</div>',
          cursor: 'mfp-zoom-out-cur',
          titleSrc: 'title',
          verticalFit: true,
          tError: '<a href="%url%">The image</a> could not be loaded.'
        }
      });
      $('.img-item').magnificPopup({
        callbacks: {
          open: function () {
            console.log($(this));
          }
        }
      })
    // $('.inPost').append("<p>" + $(this).parent().parent().parent().parent().attr('inPost') +"</p>")
    /*>>image*/

    </script>

    <script>
      $('#sel1').val('<%- number%>');
    </script>

    <script>
      var currentPage = <%- currentPage %>;
      console.log('currentPage', currentPage);
      if ((currentPage - 1) <= 0) {
        $('#li-1').hide();
      }

      if ((currentPage - 1) <= 0) {
        $('#before').hide();
      }
      var numberOfPage = <%- numberOfPage %>;
      console.log('numberOfPage', numberOfPage);

      if ((currentPage + 1) >= numberOfPage) {
        $('#li1').hide();

      }
      if ((currentPage + 1) >= numberOfPage) {
        $('#after').hide();

      }

      if (currentPage + 2 >= numberOfPage) {
        $('#spaceaf').hide();
      }

      if ((currentPage) == numberOfPage) {
        $('#numberPage').hide();
      }
      $('#sel1').change(function () {
        let number = $('#sel1').val();
        let href = `/admin/image/page=${currentPage - 1}&number=${number}`;
        window.location.replace(href);
      })

      var number = $('#sel1').val();
      $('#li-1 a').on('click', function () {
        $(this).attr('href', `/admin/image/page=${currentPage - 2}&number=${number}`);
      })

      $('#before a').on('click', function () {
        $(this).attr('href', `/admin/image/page=${currentPage - 2}&number=${number}`);
      })

      $('#li0 a').on('click', function () {
        $(this).attr('href', `/admin/image/page=${currentPage - 1}&number=${number}`);
      })

      $('#li1 a ').on('click', function () {
        $(this).attr('href', `/admin/image/page=${currentPage}&number=${number}`);
      })

      $('#after a').on('click', function () {
        $(this).attr('href', `/admin/image/page=${currentPage}&number=${number}`);
      })

      $('#numberPage a').on('click', function () {
        $(this).attr('href', `/admin/image/page=${numberOfPage - 1}&number=${number}`);
      })
    </script>
</body>

</html>