<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lịch sử hình thành</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="RanGO Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/landingpage/bootstrap4/bootstrap.min.css">
  <link href="/plugins/landingpage/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/slick-1.8.0/slick.css">
  <link href="/plugins/landingpage/icon-font/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/landingpage/main_styles.css">
  <link rel="stylesheet" type="text/css" href="/css/landingpage/responsive.css">
  <% include ../../gtag %>
</head>



<div id="bodyContent" class="mw-body-content">
				<div id="mw-content-text" lang="vi" dir="ltr" class="mw-content-ltr">
                 <div class="container-fluid" style="font-family: Arial;"	>
                 <h1 class="display-4" style="padding-top: 35px; padding-bottom: 40px">
                   <center>
                 <b>Xẻo Quýt</b>
               </center>
               </h1>
               <div class="container">
               <div class="row">
                 <div class="col-sm-8">
                 <p><b>Xẻo Quýt</b> thuộc địa phận Mỹ Hiệp và Mỹ Long của huyện Cao Lãnh, tỉnh Đồng Tháp. Nằm cách thành phố Cao Lãnh hơn 30&nbsp;km, với diện tích 50 ha, trong đó 20ha rừng tràm, nơi đây là căn cứ cách mạng của tỉnh ủy Đồng Tháp lãnh đạo nhân dân kháng chiến chống Mỹ từ năm 1960 đến 1975.</p>
                 <p>Được công nhận di tích lịch sử quốc gia vào năm 1992, Xẻo Quýt hiện có khoảng 170 loài thực vật với 158 loài hoang dại và 12 loài cây thân gỗ. Hệ động vật có 200 loài hoang dã gồm 7 loài ếch nhái, 22 loài bò sát, 73 loài cá, 91 loài chim và 7 loài thú. Đặc biệt ở đây có 13 loài động vật quý hiếm được ghi vào sách đỏ Việt Nam như trăn mốc, rắn hổ trâu, rùa hộp, chim sả mỏ rộng và loài rái cá thường...</p>
                 <p>Ngày nay, nơi đây đã được quy hoạch bảo tồn và phát triển trở thành một khu di tích lịch sử nổi tiếng hấp dẫn du khách. Đến cuối năm 2012, đã có hơn 50.000 lượt khách đến Xẻo Quýt. Số lượt khách đến tham quan đạt 123% so với kế hoạch năm 2012.</p>

               </div>

               <div class="col-sm-3">
                 <div class="thumb tright">
                   <div class="thumbinner" style="width:400px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Xeo_quit.JPG/200px-Xeo_quit.JPG" width= "300" height="320" class="thumbimage" />
                     </div>
                   </div>
               </div>
                </div>
                <div class="container">
                  <p>Với diện tích khoảng 50ha, trong đó có 20ha rừng tràm, còn lại là hệ thống cây rừng ngập mặn, dây leo… Xẻo Quýt nằm trong một khu rừng thiên nhiên tuyệt đẹp với không gian thoáng mát. Tìm hiểu về khu di tích, bạn có hai cách di chuyển. Nếu thích đ bộ dưới những tán cây rừng, men theo con đường độc đạo trong khu di tích, dài khoảng 1,5&nbsp;km. Nếu không, bạn có thể trải nghiệm miền tây song nước, bằng cách ngồi thuyền ba lá, đưa bạn thả hồn vào các con lạch nhỏ để tham quan toàn bộ di tích.</p>
                  <p>Mất khoảng 45 phút, bạn sẽ được khám phá một môi trường sinh thái đa dạng với các loài động, thảm thực vật phong phú, trong đó có khoảng 13 loài động vật được ghi vào sách đỏ Việt Nam như: rắn hổ trâu; chim sả mỏ rộng; trăn mốc…</p>
                 <p>Đi sâu vào trong khu di tích, bạn sẽ bắt gặp những hình ảnh của một chiến khu xưa với những hầm tránh bom chữ A, hầm chiến đấu chữ Z hay hầm bí mật chữ L… được phục chế trên nền dấu vết xưa. Cùng với đó là các căn cứ bí mật, những ngôi lán, nhà bếp, phòng hội họp, những hố bom… vẫn còn nguyên vẹn trong căn cứ xưa.</p>
                 <p>Không chỉ được đắm chìm vào thiên nhiên hoang sơ, thả hồn theo bản hòa tấu nhẹ nhàng của tiêng chim rừng, tiếng suối reo… bạn nên thử làm người dân miền tây khi trải nghiệm cảm giác chèo xuồng, gỡ lưới trên sông, câu cá trong các căn chòi giữa ao sen hoặc học đan giỏ, kệ… bằng các dây lục bình phơi khô. canh lao dong o mien tay</p>
                 <p>Sau khi tham quan hết khu di tích, bạn sẽ có cơ hội thưởng thức những đặc sản Đồng Tháp như lươn đồng nấu chua, ếch nướng mọi, cá lóc nướng trui, chuột đồng nướng, cá rô đồng kho tộ… với những khúc ca tài tử ngọt ngào, sâu lắng.</p>
                 <p>Khu di tích này nằm cách Sài Gòn khoảng 170&nbsp;km. Bạn có thể tự mình khám phá sau một tuần làm việc, học tập căng thẳng. Bạn cũng có thể tự lên kế hoạch cho chuyến đi 1 hoặc 2 ngày với phương tiện di chuyển bằng xe máy hoặc xe ôtô riêng. Đường đi rất thuận lợi, qua cao tốc Trung Lương (xe ô tô) hoặc theo QL 1A (xe máy). Trên đường về lại Sài Gòn, bạn có thể mua vài món đặc sản miền tây như nem Lai Vung, kẹo dừa Bến Tre, trái cây…. để làm quà.</p>
                 <div style="text-align: right;" >
                       <p><i>Tác giả (chưa rõ)</i></p>
               </div>

             </div>
           </div>

             </div>
                 </html>
