<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/image">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body p-b-0">
                  <h4 class="card-title">Danh sách tất cả các phường của <%- wardList.districtsID ? wardList.districtsID.districtName : null%></h4>
                  <!-- Nav tabs -->
                  <button class="btn btn-outline btn-rounded btn-primary pull-right m-b-10" id="them-mota">
                    <a href="" class="" data-toggle="modal" data-target="#add-new-wards">
                      <i class="fa fa-plus text-white">Thêm phường</i>
                    </a>
                  </button>

                  <!-- Add new Wards for district Begin -->
                  <div id="add-new-wards" class="modal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3>Thêm mới phường</h3>
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p id="modal-test-view-content"></p>
                          <form method="POST" action="/admin/system/addNewWard/<%- districtsID %>">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Tên phường</label>
                              <input type="text" class="form-control" name="wardName" placeholder="Các phường cách nhau bằng dấu ;">
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add new Wards for district End -->

                  <div class="p-20">
                    <table class="table-data table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Phường</th>
                          <th class="text-center">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% wardList.map((item, index) => { %>
                          <tr id="<%- item._id %>">
                            <th>
                              <%- index + 1 %>
                            </th>
                            <th>
                              <%- item.wardName %>
                            </th>
                            <th>
                              <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                  <a title="Xoá phường" class="chinh-sua touch-link" data-toggle="modal" data-target="#remove-wars-<%- item._id %>">
                                    <i class="fa fa-remove"></i>
                                  </a>
                                </li>
                              </ul>                                      
                            </th>
                          </tr>

                          <!-- Remove Wards for district Begin -->
                          <div id="remove-wars-<%- item._id %>" class="modal" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3>Bạn có chắc chắn xoá <%- item.wardName %> của <%- item.districtsID ? item.districtsID.districtName : null %> chưa?</h3>
                                  <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p id="modal-test-view-content"></p>
                                  <form method="POST" action="/admin/system/removeWard/<%- item._id %>">
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Xoá</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Remove Wards for district End -->
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>

</body>

</html>