<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link href="/css/admindashboard/lib/dropzone/dropzone.css" rel="stylesheet">

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/image">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <div class="col-lg-12">
              <div class="card">
                <div class="card-body p-b-0">
                  <h4 class="card-title">Danh sách tất cả các quận/huyện</h4>
                  <!-- Nav tabs -->
                  <a href="#add-district" class="btn btn-outline btn-rounded btn-primary pull-right m-b-10" id="them-mota" data-toggle="modal"
                    data-target="#add-district">
                    <i class="fa fa-plus text-white">Thêm quận/huyện</i>
                  </a>
                  <!-- Add new district form Begin -->
                  <div id="add-district" class="modal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3>Thêm quận/huyện mới</h3>
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p id="modal-test-view-content"></p>
                          <!-- <form method="POST" action="/admin/system/addNewDistrict"> -->
                          <div class="form-group">
                            <label for="formGroupExampleInput">Tên quận/huyện</label>
                            <input type="text" class="form-control" name="districtName" placeholder="Tên Quận/Huyện">
                          </div>
                          <form action="/api/upload/image" class="dropzone" name="dropzoneDistrict" id="myDropzoneDistrict">
                            <div class="fallback">
                              <input name="file" type="file" multiple />
                            </div>
                          </form>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                          <!-- </form> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add new district form end-->

                  <div class="p-20">
                    <table class="table-data table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Quận/huyện</th>
                          <th>Số lượng phường/xã</th>
                          <th class="text-center">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% districtList.map((item, index) => { %>
                          <tr id="<%- item._id %>">
                            <th>
                              <%- index + 1 %>
                            </th>
                            <th>
                              <%- item.districtName %>
                            </th>
                            <th>0</th>
                            <th>
                              <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                  <a title="Thêm mới phường" class="chi-tiet touch-link" data-toggle="modal" data-target="#add-new-wards-<%- item._id %>">
                                    <i class="fa fa-plus"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a title="Danh sách các phường" class="chi-tiet touch-link"  href="/admin/system/listWards/<%- item.districtSlug %>">
                                    <i class="fa fa-list"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a title="Xoá quận" class="chinh-sua touch-link" data-toggle="modal" data-target="#remove-district-<%- item._id %>">
                                    <i class="fa fa-remove"></i>
                                  </a>
                                </li>
                              </ul>
                            </th>
                          </tr>

                          <!-- Add new Wards for district Begin -->
                          <div id="add-new-wards-<%- item._id %>" class="modal" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3>Thêm mới phường</h3>
                                  <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p id="modal-test-view-content"></p>
                                  <form method="POST" action="/admin/system/addNewWard/<%- item._id %>">
                                    <div class="form-group">
                                      <label for="formGroupExampleInput">Tên Phường</label>
                                      <input type="text" class="form-control" name="wardName" placeholder="Các phường cách nhau bằng dấu ;">
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Add new Wards for district End -->

                          <!-- Remove Wards for district Begin -->
                          <div id="remove-district-<%- item._id %>" class="modal" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3>Xoá Quận</h3>
                                  <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p id="modal-test-view-content"></p>
                                  <form method="POST" action="/admin/system/removeDistrict/<%- item._id %>">
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Xoá Quận</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Remove Wards for district End -->

                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/dropzone/dropzone.js"></script>
    <script>
      var imgUrl = [];
      Dropzone.options.myDropzoneDistrict = {
        maxFiles: 1,
        url: '/api/upload/image',
        paramName: 'image',
        init: function () {
          this.on('sending', function (file, xhr, fromdata) {  
            $('.btn-submit').prop('disabled', true);
          })
          this.on('success', function (file, res) {
            imgUrl.push({
              id: res.id,
              name: res.name,
              link: res.link
            })
            $('.btn-submit').prop('disabled', false);
          })
        },
        removedfile: function (file) {
          var name = file.name;
          var id = findIdFromName(imgUrl, name);
          $.ajax({
            type: "delete",
            url: `/api/upload/remove/${id}`,
            success: function (res) {
              console.log(success);
              removeLinkImgOnArr(imgUrl, name);
            }
          })
          var _ref;
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        }
      }
      $(document).on('click', '.btn-submit', function () {
        var distName = $('input[name=districtName]').val();
        $.ajax({
          url: '/admin/system/addNewDistrict',
          type: 'POST',
          dataType: 'json', 
          data: {
            districtName: distName,
            imgUrl: JSON.stringify(imgUrl)
          },
          success: function (res) {
            if (res) {
              $('input[name=districtName]').val('');
              location.reload();
            }
          }
        })
      })

    </script>

</body>

</html>