<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <title>
    <%= title %>
  </title>

  <%- include ../partials/css %>
    <link rel="stylesheet" href="/css/admindashboard/lib/sweetalert/sweetalert.css">


</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include ../partials/header %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include ../partials/left-sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">
                <%- directory %>
              </h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/image">
                    <%- parent_directory %>
                  </a>
                </li>
                <li class="breadcrumb-item active">
                  <%- directory %>
                </li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <div class="col-lg-12">
              <div class="card">
                <div class="card-body p-b-0">
                  <h4 class="card-title">Danh sách tất cả các tài khoản của quận huyện</h4>
                  <!-- Nav tabs -->
                  <button class="btn btn-outline btn-rounded btn-primary pull-right m-b-10" id="them-mota">
                    <a href="#add-district" class="" data-toggle="modal" data-target="#add-district">
                      <i class="fa fa-plus text-white">Thêm tài khoản mới</i>
                    </a>
                  </button>

                  <div class="p-20">
                    <table class="table-data table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>UserName</th>
                          <th>Tên người dùng</th>
                          <th>Quận / huyện</th>
                          <th class="text-center">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% usersList.map((item, index) => { %>
                          <tr id="<%- item._id %>">
                            <th>
                              <%- index + 1 %>
                            </th>
                            <th>
                              <%- item.username %>
                            </th>
                            <th>
                              <%- item.name %>
                            </th>
                            <th>
                              <%- item.districtsID.districtName %>
                            </th>
                            <th>
                              <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                  <a title="Khôi phục mật khẩu" class="btnRecoPass">
                                    <i class="fa fa-unlock"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a title="Xoá người dùng" class="btnDelUser">
                                    <i class="fa fa-remove"></i>
                                  </a>
                                </li>
                              </ul>
                            </th>
                          </tr>

                          <!-- Reset password Begin -->
                          <div id="reset-password-<%- item._id %>" class="modal" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3>Khôi phục mật khẩu cho người dùng
                                    <%- item.name %>
                                  </h3>
                                  <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p id="modal-test-view-content"></p>
                                  <form method="POST" action="/admin/system/resetPassword/<%- item._id %>">
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Khôi phục mật khẩu</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Reset password End -->

                          <!-- Remove user Begin -->

                          <!-- Remove user End -->

                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- End PAge Content -->
          </div>
          <!-- End Container fluid  -->
          <!-- footer -->
          <%- include ../partials/footer %>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
  </div>
  <!-- End Wrapper -->

  <%- include ../partials/scripts %>
    <script src="/js/admindashboard/lib/sweetalert/sweetalert.min.js"></script>
    <script>
      $(document).on('click', ".btnRecoPass", function (e) {
        swal({
          title: "Bạn có muốn yêu cầu lại mật khẩu cho tài khoản này ?",
          text: "Tất cả thông tin về địa chỉ này sẽ được hiện lại",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Chắc chắn !!",
          closeOnConfirm: false
        },
          function () {
            // swal("Đã khóa !!", "Bạn đã mở khóa địa chỉ thành công", "success");
            $.ajax({
              url: '#',
              type: 'post',
              success: function (res) {
                swal("Đã khóa !!", "Bạn đã mở khóa địa chỉ thành công", "success");
              }
            })
          });
      })
      $(document).on('click', ".btnDelUser", function (e) {
        swal({
          title: "Bạn có muốn yêu cầu lại mật khẩu cho tài khoản này ?",
          text: "Tất cả thông tin về địa chỉ này sẽ được hiện lại",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Chắc chắn !!",
          closeOnConfirm: false
        },
          function () {
            // swal("Đã khóa !!", "Bạn đã mở khóa địa chỉ thành công", "success");
            $.ajax({
              url: '#',
              type: 'post',
              success: function (res) {
                swal("Đã khóa !!", "Bạn đã mở khóa địa chỉ thành công", "success");
              }
            })
          });
      })
    </script>

</body>

</html>