<!DOCTYPE html>
<html lang="en">
<head>
  <title>Diachido - Events</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="RanGO Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/landingpage/bootstrap4/bootstrap.min.css">
  <link href="/plugins/landingpage/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="/plugins/landingpage/slick-1.8.0/slick.css">
  <link href="/plugins/landingpage/icon-font/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/landingpage/main_styles.css">
  <link rel="stylesheet" type="text/css" href="/css/landingpage/responsive.css">
  <% include ../../gtag %>
</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row justify-content-end align-items-center trans_200">

		<!-- Logo -->
		<div class="logo mr-auto">
			<a href="#"><span>UIT</span></a>
		</div>

		<!-- Navigation -->
		<nav class="main_nav justify-self-end text-right">
			<%- include ../partials/navigation %>

			<!-- Search -->
			<div class="search">
					<form id="search_form" class="search_form bez_1">
						<input type="search" class="search_input bez_1">
					</form>

				</div>
		</nav>

		<!-- Hamburger -->
		<div class="hamburger_container bez_1">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>

	<!-- Menu -->
  <%- include ../partials/menu %>

	<!-- Home -->
  <div class="home"  style="height: 300px">
    <div class="home_background_container prlx_parent " >
      <div class="home_background prlx" style="background-repeat: no-repeat; background-size:1110px 300px; background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png)"></div>
    </div>
  </div>

  <!-- Body -->

  <div class="container-fluid">

  <div class="row">
      <div class="col-sm-1">
    </div>
    <div class="col-sm-3"
  <a href="/tin-tuc/phu-kien-gia-soc-moi-ngay-the-gioi-di-dong-6-2018-1092840">
        <div class="tempvideo">
            <img width="300" height="200" data-original="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" class="lazy" src="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" style="display: block;">
        </div>
      </div>
      <div class="col-sm-7">
        <h3><label class="hot">Hot</label> Phụ kiện giá sốc mỗi ngày: Loa, tai nghe, pin sạc giảm từ 30% - 49%
        </h3>
        <figure>
            Trong tháng 7/2018, Thế Giới Di Động tiếp tục triển khai chương trình khuyến mãi phụ kiện giá sốc mỗi ngày. Chỉ cần ngồi nhà và đặt mua online,...
        </figure>
        <div class="timepost">
            <span>01-04-2018</span>
        </div>
    </a>
  </div>
  </div>
<hr>
  <div class="row">
      <div class="col-sm-1">
    </div>
    <div class="col-sm-3"
  <a href="/tin-tuc/phu-kien-gia-soc-moi-ngay-the-gioi-di-dong-6-2018-1092840">
        <div class="tempvideo">
            <img width="300" height="200" data-original="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" class="lazy" src="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" style="display: block;">
        </div>
      </div>
      <div class="col-sm-7">
        <h3><label class="hot">Hot</label> Phụ kiện giá sốc mỗi ngày: Loa, tai nghe, pin sạc giảm từ 30% - 49%
        </h3>
        <figure>
            Trong tháng 7/2018, Thế Giới Di Động tiếp tục triển khai chương trình khuyến mãi phụ kiện giá sốc mỗi ngày. Chỉ cần ngồi nhà và đặt mua online,...
        </figure>
        <div class="timepost">
            <span>01-04-2018</span>
        </div>
    </a>
  </div>
  </div>
<hr>

  <div class="row">
      <div class="col-sm-1">
    </div>
    <div class="col-sm-3"
  <a href="/tin-tuc/phu-kien-gia-soc-moi-ngay-the-gioi-di-dong-6-2018-1092840">
        <div class="tempvideo">
            <img width="300" height="200" data-original="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" class="lazy" src="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" style="display: block;">
        </div>
      </div>
      <div class="col-sm-7">
        <h3><label class="hot">Hot</label> Phụ kiện giá sốc mỗi ngày: Loa, tai nghe, pin sạc giảm từ 30% - 49%
        </h3>
        <figure>
            Trong tháng 7/2018, Thế Giới Di Động tiếp tục triển khai chương trình khuyến mãi phụ kiện giá sốc mỗi ngày. Chỉ cần ngồi nhà và đặt mua online,...
        </figure>
        <div class="timepost">
            <span>01-04-2018</span>
        </div>
    </a>
  </div>
  </div>
<hr>

  <div class="row">
      <div class="col-sm-1">
    </div>
    <div class="col-sm-3"
  <a href="/tin-tuc/phu-kien-gia-soc-moi-ngay-the-gioi-di-dong-6-2018-1092840">
        <div class="tempvideo">
            <img width="300" height="200" data-original="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" class="lazy" src="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" style="display: block;">
        </div>
      </div>
      <div class="col-sm-7">
        <h3><label class="hot">Hot</label> Phụ kiện giá sốc mỗi ngày: Loa, tai nghe, pin sạc giảm từ 30% - 49%
        </h3>
        <figure>
            Trong tháng 7/2018, Thế Giới Di Động tiếp tục triển khai chương trình khuyến mãi phụ kiện giá sốc mỗi ngày. Chỉ cần ngồi nhà và đặt mua online,...
        </figure>
        <div class="timepost">
              <span>01-04-2018</span>
        </div>
    </a>
  </div>
  </div>
<hr>

  <div class="row">
      <div class="col-sm-1">
    </div>
    <div class="col-sm-3"
  <a href="/tin-tuc/phu-kien-gia-soc-moi-ngay-the-gioi-di-dong-6-2018-1092840">
        <div class="tempvideo">
            <img width="300" height="200" data-original="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" class="lazy" src="https://cdn.tgdd.vn/Files/2018/06/03/1092840/phu-kien-2018_800x450-300x200.jpg" style="display: block;">
        </div>
      </div>
      <div class="col-sm-7">
        <h3><label class="hot">Hot</label> Phụ kiện giá sốc mỗi ngày: Loa, tai nghe, pin sạc giảm từ 30% - 49%
        </h3>
        <figure>
            Trong tháng 7/2018, Thế Giới Di Động tiếp tục triển khai chương trình khuyến mãi phụ kiện giá sốc mỗi ngày. Chỉ cần ngồi nhà và đặt mua online,...
        </figure>
        <div class="timepost">
              <span>01-04-2018</span>
        </div>
    </a>
  </div>
  </div>

<div class="row">
  <div class="col-sm-9">
    </div>
  <div class="col-sm-3">
    <div class="row">
      <button type="button" class="btn btn-link">1</button>
     <button type="button" class="btn btn-link">2</button>
     <button type="button" class="btn btn-link">3</button>
     <button type="button" class="btn btn-link">4</button>

    </div>

</div>

</div>
</div>

</div>
	<!-- Footer -->

	<%- include ../partials/footer %>

</div>

<script src="/js/landingpage/jquery-3.2.1.min.js"></script>
<script src="/css/landingpage/bootstrap4/popper.js"></script>
<script src="/css/landingpage//bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/landingpage/greensock/TweenMax.min.js"></script>
<script src="/plugins/landingpage/greensock/TimelineMax.min.js"></script>
<script src="/plugins/landingpage/scrollmagic/ScrollMagic.min.js"></script>
<script src="/plugins/landingpage/greensock/animation.gsap.min.js"></script>
<script src="/plugins/landingpage/greensock/ScrollToPlugin.min.js"></script>
<script src="/plugins/landingpage/slick-1.8.0/slick.js"></script>
<script src="/plugins/landingpage/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/landingpage/scrollTo/jquery.scrollTo.min.js"></script>
<script src="/plugins/landingpage/easing/easing.js"></script>
<script src="/js/landingpage/custom.js"></script>

</body>

</html>
