<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ba má phong trào: <%- mevnah.name %></title>
  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Web Fonts -->
  <link
    href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext'
    rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

  <% include ../partials/css %>
  <% include ../../gtag %>
  <style>
    * {
      box-sizing: border-box
    }

    /* Slideshow container */

    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */

    .mySlides {
      display: none;
    }

    /* Next & previous buttons */

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: gray;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */

    .prev:hover,
    .next:hover {
      background-color: gray;
    }

    /* Caption text */

    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */

    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: gray;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: white;
    }

    /* Fading animation */

    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    .carousel {
      background: white;
    }

    .carousel .item {
      min-height: 100%;
      /* Prevent carousel from being distorted if for some reason image doesn't load */
    }

    .carousel .item img {
      margin: 0 auto;
      /* Align slide image horizontally center */
    }

    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
      width: auto;
      margin: auto;
    }

    .bs-example {
      margin: 20px;
    }

    .hero-section {
      background: #C02425;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #F0CB35, #C02425);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #F0CB35, #C02425);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .modal-body {
      padding: 20px;
    }

    #footer-form {
      margin-top: 30px;
    }

    .has-feedback i {
      padding-top: 10px;
    }

    #bg-slide {
      margin: 0px;
    }

    .testimonial label {
      font-size: 1.2em;
    }

    .backstrecth img {
      max-height: 450px;
    }

    .card {
      border-radius: 6px;
      border: solid 1px #0b53a5;
    }

    .card .card-header {
      border-radius: 6px;
      background: #00c6ff;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #0072ff, #00c6ff);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 3px;
    }

    .card .card-body {
      padding: 20px;
    }

    .card-header a {
      color: white;
    }
  </style>
</head>

<body class="no-trans">
  <!-- scrollToTop -->
  <!-- ================ -->
  <div class="scrollToTop">
    <i class="icon-up-open-big"></i>
  </div>

  <!-- header start -->
  <!-- ================ -->
  <header class="header fixed clearfix navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <!-- header-left start -->
          <!-- ================ -->
          <div class="header-left clearfix">

            <!-- logo -->
            <div class="logo smooth-scroll">
              <a href="#">
                <img src="/images/logo_long.png" height="55px">
              </a>
            </div>

            <!-- name-and-slogan -->

          </div>
          <!-- header-left end -->

        </div>
        <div class="col-md-8">

          <!-- header-right start -->
          <!-- ================ -->
          <div class="header-right clearfix">

            <!-- main-navigation start -->
            <!-- ================ -->
            <div class="main-navigation animated">

              <!-- navbar start -->
              <!-- ================ -->
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">



                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                      <!-- <li class="active">
                        <a href="#banner">Trang chủ</a>
                      </li> -->
                      <li class="">
                        <a href="#thongtin">Thông tin</a>
                      </li>
                      <% if(mevnah.page.story !=''|| mevnah.page.victory != ''||mevnah.page.someOfOtherImage !=''||mevnah.page.stages!=''){ %>
                      <li class="">
                        <a href="#chientich">Chiến tích</a>
                      </li>
                      <%}%>
                      <% if( mevnah.martyrs !=''|| mevnah.page.prize !='' ){ %>
                      <li class="">
                        <a href="#lietsi">Giải thưởng</a>
                      </li>
                      <%}%>
                      <% if (mevnah.posts) { %>
                      <li class="">
                        <a href="#post_bv">Bài viết cảm nghĩ</a>
                      </li>
                      <% } %>
                      <li class="">
                        <a href="#footer">Liên hệ</a>
                      </li>

                    </ul>
                  </div>

                </div>
              </nav>
              <!-- navbar end -->

            </div>
            <!-- main-navigation end -->

          </div>
          <!-- header-right end -->

        </div>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- banner start -->
  <!-- ================ -->
  <div id="banner" class="banner">

    <div class="banner-image" style="height: 100%; ">
      <div class="backstretch" style="height: 100%;">
        <div id="bg-slide" class="carousel slide " style="height: 100%;" data-ride="carousel">
          <div class="carousel-inner" style="height: 100%; ">
            <% mevnah.page.background ? mevnah.page.background.map((item, index) => { %>
            <% if(index == 0) { %>
            <div class="item active"
              style="height: 100%; width: auto;background-image: url(<%- item.imageLink %>); background-repeat:no-repeat; background-size: cover; background-position: center center; background-size: cover">
              <% } else { %>
              <div class="item"
                style="height: 100%; width: auto; background-image: url(<%- item.imageLink %>);  background-repeat:no-repeat; background-size: cover; background-position: center center; background-size: cover">
                <% } %>
              </div>
              <% }) : null %>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-2 object-non-visible name_a" data-animation-effect="fadeIn">
              <p class="lead text-center">BA MÁ PHONG TRÀO</p>
              <h1 class="text-center">
                <%- mevnah.name %>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <div style="color:#001AA4" class="section clearfix object-non-visible" data-animation-effect="fadeIn" id="thongtin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="about" class="title text-center">THÔNG TIN</h1>

          <div class="space"></div>
          <div class="row">
            <div class="col-md-5" style="margin-left: 30px; margin-right: 30px; margin-top: 20px; height: 100%;">
              <!-- Slideshow container -->
              <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <% mevnah.page.motherImageLink ? mevnah.page.motherImageLink.map((item, index) => { %>
                <div class="mySlides">
                  <div class="numbertext">
                    <%- index + 1 %> /
                    <%- mevnah.page.motherImageLink.length %>
                  </div>
                  <img src="<%- item.imageLink %>" style="max-height: 400px; width: 460px">
                </div>
                <% }) : null %>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
              <br>

              <!-- The dots/circles -->
              <div style="text-align:center">
                <% mevnah.page.motherImageLink ? mevnah.page.motherImageLink.map((item, index) => { %>
                <span class="dot" onclick="currentSlide(<%- index + 1 %>)"></span>
                <% }) : null %>
              </div>

            </div>
            <div class="col-md-6">
              <div class="space"></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-user-circle-o fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Họ và tên</label>
                      <p>
                        <%- mevnah.name %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-user-circle-o fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Tên thường gọi</label>
                      <p>
                        <%- mevnah.nickName %>
                      </p>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-calendar-check-o fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Sinh ngày</label>
                      <p>
                        <% if(mevnah.page.birthday.date !="" ){   %>
                        <%- mevnah.page.birthday.date %> /
                        <%}%>
                              <% if(mevnah.page.birthday.month !="" ){   %>
                        <%- mevnah.page.birthday.month %> /
                        <%}%>
                                    <% if(mevnah.page.birthday.year !="" ){   %>
                        <%- mevnah.page.birthday.year %>
                        <%}%>
                                          <% if(mevnah.page.birthday.year =="" && mevnah.page.birthday.month =="" && mevnah.page.birthday.date ==""){   %>
                        Chưa rõ
                        <%}%>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-medkit fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Sức khỏe</label>
                      <p>
                        <% if ( mevnah.page.healthStatus == "good" ){ %>
                        Sức khỏe tốt
                        <% }else if( mevnah.page.healthStatus == "weak" ) {%>
                        Sức khỏe yếu
                        <% }else {%>
                        Đã mất
                        <% } %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <% if ( mevnah.page.healthStatus=="death" ){ %>
              <div class="row">
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-calendar fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Ngày mất</label>
                      <p>
                        <% if(mevnah.page.dateOfDeath.date !="" ){   %>
                        <%- mevnah.page.dateOfDeath.date %> /
                        <%}%>
                                <% if(mevnah.page.dateOfDeath.month !="" ){   %>
                        <%- mevnah.page.dateOfDeath.month %> /
                        <%}%>
                                      <% if(mevnah.page.dateOfDeath.year !="" ){   %>
                        <%- mevnah.page.dateOfDeath.year %>
                        <%}%>
                                            <% if(mevnah.page.dateOfDeath.year =="" && mevnah.page.dateOfDeath.month =="" && mevnah.page.dateOfDeath.date ==""){   %>
                        Chưa rõ
                        <%}%>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media testimonial">
                      <div class="media-left">
                        <i class="fa fa-fire fa-2x"></i>
                      </div>
                      <div class="media-body form-group">
                        <label class="media-heading">Nơi yên nghỉ</label>
                        <p>
                          <%- mevnah.page.locationTomb.address %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <div class="row">
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-location-arrow fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Quê quán</label>
                      <p>
                        <%- mevnah.page ? mevnah.page.homeTown : null %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="media testimonial">
                    <div class="media-left">
                      <i class="fa fa-home fa-2x"></i>
                    </div>
                    <div class="media-body form-group">
                      <label class="media-heading">Địa chỉ</label>
                      <p>
                        <%- mevnah.address.address %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <% if(mevnah.page.story !=''|| mevnah.page.victory != ''){ %>
  <div class="section translucent-bg bg-image-2 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
      <div class="row">
        <div class="col-md-12">
          <h1 id="chientich" class="title text-center">TIỂU SỬ</h1>

          <div class="space"></div>

          <div class="row">
            <div class="col-md-6">
              <!-- <h2>
                  <center>TIỂU SỬ</center>
                </h2> -->
              <% mevnah.page.story ? mevnah.page.story.map((item, index) => { %>
              <p style="text-align: justify">
                <%- item.content %>
              </p>
              <% }) : null%>
            </div>
            <div class="col-md-6">
              <!-- <h2>
                  <center>CHIẾN CÔNG</center>
                </h2> -->
              <% mevnah.page.victory ? mevnah.page.victory.map((item, index) => {%>
              <% if (item.time != null) { %>
              <p style="text-align: justify">
                <%- item.time %> :
                <%- item.content %>
              </p>
              <% } else { %>
              <p style="text-align: justify">
                <%- item.content %>
              </p>
              <% } %>
              <% }) : null%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%}%>
      <!-- section end -->

      <% if(mevnah.page.someOfOtherImage !=''||mevnah.page.stages!=''){ %>
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color:#001AA4" id="chientich" class="title text-center">HÌNH ẢNH</h1>

          <div class="space"></div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->

                <ol class="carousel-indicators">
                  <% mevnah.page.someOfOtherImage ? mevnah.page.someOfOtherImage.map((item, index) => { %>
                  <% if(index == 0) { %>
                  <li data-target="#myCarousel" data-slide-to="<%- index %>" class="active"></li>
                  <% } else { %>
                  <li data-target="#myCarousel" data-slide-to="<%- index %>"></li>
                  <% } %>
                  <% }) : null %>
                </ol>
                <!-- Wrapper for carousel items -->

                <div class="carousel-inner">
                  <% mevnah.page.someOfOtherImage ? mevnah.page.someOfOtherImage.map((item, index) => { %>
                  <% if(index == 0) { %>
                  <div class="item active">
                    <% } else { %>
                    <div class="item">
                      <% } %>
                      <img src="<%- item.imageLink %>">
                      <div class="carousel-caption">
                        <p>
                          <%- item.title%>
                        </p>
                      </div>
                    </div>
                    <% }) : null %>
                  </div>
                  <!-- Carousel controls -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- <h2>
                      <center>Các giai đoạn</center>
                    </h2> -->
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <% mevnah.page.stages ? mevnah.page.stages.map((item, index) => { %>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-<%- index %>">
                    <h4 class="panel-title">
                      <% if (index == 0) { %>
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%- index %>"
                        aria-expanded="true" aria-controls="collapse-<%- index %>">
                        <%- item.time %>
                      </a>
                      <% } else { %>
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%- index %>"
                        aria-expanded="false" aria-controls="collapse-<%- index %>">
                        <%- item.time %>
                      </a>
                      <% } %>
                    </h4>
                  </div>
                  <% if (index == 0) { %>
                  <div id="collapse-<%- index %>" class="panel-collapse collapse in" role="tabpanel"
                    aria-labelledby="heading-<%- index %>">
                    <% } else { %>

                    <div id="collapse-<%- index %>" class="panel-collapse collapse" role="tabpanel"
                      aria-labelledby="heading-<%- index %>">
                      <% } %>
                      <div class="panel-body">
                        <p style="text-align: justify">
                          <%- item.desc %>
                        </p>
                        <img src="<%- item.imageLink%>">
                      </div>
                    </div>
                  </div>
                  <% }) : null %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%}%>
          <!-- section end -->





          <!-- section start -->
          <% if(mevnah.martyrs !=''){ %>
  <div class="section hero-section ahls" id="lietsi"
    style="background-image: url('/images/backgroundAHLS.jpg'); width:100%; webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; ">
    <div class="container">
      <h1 class="text-center title" id="portfolio">ANH HÙNG LIỆT SĨ</h1>
      <div class="separator"></div>
      <br>
      <div class="row object-non-visible" data-animation-effect="fadeIn">
        <div class="col-md-12">

          <!-- portfolio items start -->
          <div class="isotope-container row grid-space-20">
            <% mevnah.martyrs ? mevnah.martyrs.map((item, index) => { %>
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container" style="height: 200px;">
                  <% if(item.imageLink != null){ %>
                  <img src="<%- item.imageLink %>" alt="">
                  <% }else{ %>
                  <img src="/images/logo_quocki.png" alt="">
                  <% } %>
                  <a class="overlay" data-toggle="modal" data-target="#project-<%- index %>">
                    <i class="fa fa-search-plus"></i>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-<%- index %>"
                  style="background-color: #c62227; color: #f0c330;">
                  <%- item.name %>
                </a>
              </div>

              <div class="modal fade" id="project-<%- index %>" tabindex="-1" role="dialog"
                aria-labelledby="project-<%- index %>-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-1-label">
                        <%- item.name %>
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-6">
                          <% if(item.imageLink != null){ %>
                          <img src="<%- item.imageLink %>" alt="">
                          <% }else{ %>
                          <img src="/images/logo_quocki.png" alt="">
                          <% } %>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Họ và tên</label>
                            <p>
                              <%- item.name %>
                            </p>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="">Ngày sinh</label>
                                <p>
                                  <% if(item.birthday.date !="" ){   %>
                                  <%- item.birthday.date %> /
                                  <%}%>
                                                    <% if(item.birthday.month !="" ){   %>
                                  <%- item.birthday.month %> /
                                  <%}%>
                                                          <% if(item.birthday.year !="" ){   %>
                                  <%- item.birthday.year %>
                                  <%}%>
                                                                <% if(item.dateOfDeath.year =="" && item.dateOfDeath.month =="" && item.dateOfDeath.date ==""){   %>
                                  Chưa rõ
                                  <%}%>
                                            </p>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="">Ngày mất</label>
                                            <p>
                                              <% if(item.dateOfDeath.date !="" ){   %>
                                  <%- item.dateOfDeath.date %> /
                                  <%}%>
                                                    <% if(item.dateOfDeath.month !="" ){   %>
                                  <%- item.dateOfDeath.month %> /
                                  <%}%>
                                                          <% if(item.dateOfDeath.year !="" ){   %>
                                  <%- item.dateOfDeath.year %>
                                  <%}%>
                                                                <% if(item.dateOfDeath.year =="" && item.dateOfDeath.month =="" && item.dateOfDeath.date ==""){   %>
                                  Chưa rõ
                                  <%}%>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="">Tiểu sử</label>
                                        <p>
                                          <%- item.desc %>
                                </p>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) : null %>
              </div>
              <!-- portfolio items end -->

            </div>
          </div>
        </div>
      </div>

      <%}%>
              <!-- section end -->



              <% if(mevnah.page.prize !=''){ %>
      <div class="section pb-clear giai_thuong" id="lietsi">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
          <h1 style="color:#001AA4" id="clients" class="title text-center">GIẢI THƯỞNG</h1>
          <div class="space"></div>
          <div class="row">
            <% mevnah.page.prize.map((item,index)=>{%>
            <div class="col-md-4" style="padding-bottom: 30px">

              <div class="overlay-container">
                <% if(item.imageLink != null){ %>
                <img src="<%- item.imageLink %>" alt="" style="height: 170px; width: 300px; margin: auto" alt="">
                <% }else{ %>
                <img src="/images/logo_quocki.png" alt="" style="height: 170px; width: 300px; margin: auto" alt="">
                <% } %>
                <a class="overlay abc" data-toggle="modal" data-target="#projecta-<%- index %>"
                  style="width: 300px; margin: auto">
                  <i class="">
                    <%- item.prizeName %>
                  </i>

                </a>
              </div>
              <!-- <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-<%- index %>" style="background-color: #c62227; color: #f0c330; margin:auto; width: 95%">
              <%- item.prizeName %>
            </a> -->

              <!-- <div class="media-left">
										<img src="images/testimonial-1.png" alt="">
									</div> -->


              <div class="modal fade" id="projecta-<%- index %>" tabindex="-1" role="dialog"
                aria-labelledby="projecta-<%- index %>-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-1-label">
                        <%- item.prizeName %>
                      </h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-6">
                          <% if(item.imageLink != null){ %>
                          <img src="<%- item.imageLink %>" alt="">
                          <% }else{ %>
                          <img src="/images/logo_quocki.png" alt="">
                          <% } %>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Tên giải</label>
                            <p>
                              <%- item.prizeName  %>
                            </p>
                          </div>
                          <div class="row">

                            <div class="form-group" style="margin-left:15px">
                              <label for="">Nội dung</label>
                              <p>
                                <%- item.prizeContent %>
                              </p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%}) %>


          </div>
        </div>
      </div>
      <%}%>

                      <!-- section post -->

                      <%if(mevnah.posts){%>
      <div class="section pb-clear" id="post_bv" style="height: auto">
        <div style="color:#001AA4" class="container object-non-visible" data-animation-effect="fadeIn">

          <h1 class="text-center title" style="margin-top:50px; margin-bottom: 50px"><%- mevnah.posts.title %></h1>
          <h4 class="text-center title"><div class="post-text"><%- mevnah.posts.content %></div></h4>
        </div>
      </div>
      <%}%>
                      <!--  -->



                                  <!-- footer start -->
                                  <!-- ================ -->


                                  <footer id="footer">

                                    <!-- .footer start -->
                                    <!-- ================ -->
                                    <div class="footer section" style="background-color: #e8f7f6; color:#001AA4" id="footer">
                                      <div class="container">
                                        <h1 class="title text-center" id="contact">LIÊN HỆ</h1>
                                        <div class="space"></div>
                                        <div class="row">
                                          <div class="col-sm-6">
                                            <div class="row">
                                              <div class="logo footer_logo">

                                                <ul style="height: 100%;">
                                                  <li style="display: inline-block; padding-right:20px ">
                                                    <img src="/images/logo_uit2.png" style="width:120px">
                                                  </li>
                                                  <li style="display: inline-block; padding-right:20px ">
                                                    <img src="/images/logo_doan.png" style="width:100px">
                                                  </li>
                                                  <li style="display: inline-block ; padding-right:20px ">
                                                    <img src="/images/logo_hoisv.png" style="width:100px">
                                                  </li>
                                                </ul>

                                              </div>
                                            </div>

                                            <div class="row" style="margin-left: 10px; padding-top:10px; padding-bottom: 10px">
                                              <div class="footer-text-wrap">
                                                <div class="newsletter_title" style="font-size: 30px">
                                                  <font face=“Times new roman, Arial”>
                                                    <b>
                                                      <%- mevnah.contact ? mevnah.contact.nameContact.toUpperCase() : null %>
      </b> </font>
    </div>
    <div class="footer-address">Địa chỉ:
      <%- mevnah.contact ? mevnah.contact.addressContact : null %>
    </div>
    <div class="footer-address">Điện thoại:
      <%- mevnah.contact ? mevnah.contact.numberPhoneContact : null %>
    </div>
    <div class="footer-address">Mail:
      <%- mevnah.contact ? mevnah.contact.emailContact : null %>
    </div>

  </div>
  </div>

  <div class="row" style="margin-left: 10px; padding-top:10px; padding-bottom: 10px">
    <div class="newsletter_title" style="font-size: 30px">
      <font face=“Times new roman, Arial”>
        <b>Admin</b>
      </font>
    </div>
    <div class="footer-address">Điện thoại: (84.8) 38225124 - 38225146</div>
    <div class="footer-address">Mail: admin@uit.edu.vn</div>
  </div>
  </div>
  <div class="col-sm-6">
    <div class="footer-content">
      <form role="form" id="footer-form" action="/api/form/mevnah/<%- mevnah._id %>" method="POST">
        <h4>GÓP Ý VỀ CÁC NỘI DUNG, THÔNG TIN, BÀI VIẾT VỀ BA MÁ PHONG TRÀO HỌC SINH, SINH VIÊN THÀNH PHỐ</h4>
        <h4>Trong quá trình thu thập dữ liệu, bài viết về các Ba Má phong trào Học sinh, Sinh viên còn nhiều thiếu sót.
          Nêu có bất kỳ góp ý nào về nội dung thông tin phía trên, hãy cho chúng tôi được biết!</h4>
        <div class="form-group has-feedback">
          <label class="sr-only" for="name2">Họ và tên</label>
          <input type="text" class="form-control" id="name2" placeholder="Họ và tên" name="name" required>
          <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <label class="sr-only" for="email2">Địa chỉ email</label>
          <input type="email" class="form-control" id="email2" placeholder="Địa chi email" name="email" required>
          <i class="fa fa-envelope form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <label class="sr-only" for="title">Tiêu đề</label>
          <input type="text" class="form-control" id="title" placeholder="Tiêu đề" name="title" required>
          <i class="fa fa-pencil form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <label class="sr-only" for="message2">Nội dung</label>
          <textarea class="form-control" rows="8" id="message2" placeholder="Nội dung" name="content"
            required></textarea>
          <i class="fa fa-pencil form-control-feedback"></i>
        </div>
        <input type="submit" value="Gửi" class="btn "
          style="background: #ff9966; background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  background: linear-gradient(to right, #ff5e62, #ff9966); ">
      </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="color:#001AA4" class="text-center">Website được thiết kế bởi đội Lập trình Web - MHX2018 - ĐHCNTT</p>
        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->
  </footer>

  <% if( notification != false ) { %>
  <div class="modal" id="noti-modal" role="dialog">
    <div class="modal-dialog modal_thongbao">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">Thông báo hoạt động sắp diễn ra</h5>
        </div>
        <div class="modal-body ">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->

            <ol class="carousel-indicators">
              <% notification.description ? notification.description.map((item, index) => { %>
              <% if(index == 0) { %>
              <li data-target="#myCarousel" data-slide-to="<%- index %>" class="active"></li>
              <% } else { %>
              <li data-target="#myCarousel" data-slide-to="<%- index %>"></li>
              <% } %>
              <% }) : null %>
            </ol>
            <!-- Wrapper for carousel items -->

            <div class="carousel-inner">
              <% notification.description ? notification.description.map((item, index) => { %>
              <% if(index == 0) { %>
              <div class="item active">
                <% } else { %>
                <div class="item">
                  <% } %>

                  <div class="row">
                    <div class="col-lg-5 col-sm-12">
                      <img src="<%- item.background.imageLink%>" alt="Hinh su kien">
                    </div>
                    <div class="col-lg-7 col-sm-12">
                      <div class="form-group">
                        <h4>
                          <%- item.name %>
                        </h4>
                        <p>
                          <%- item.content %>
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                <% }) : null %>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%}%>

                                  <% include ../partials/scripts %>

  <script>
    $('#noti-modal').modal('show');
  </script>


  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    changePostColor();
    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
    $('.carousel').carousel({
      interval: 5000
    })
    function changePostColor() {
      mevnah.posts.content.style.color = "blue";
    }
  </script>
</body>

</html>