<style>
  .cl-y {
    color: #f9c40b;
  }
</style>
<footer id="colophone" class="site-footer">
  <div class="t-center site-footer__primary">
    <div class="container">
      <div class="row" style="padding-top: 50px">
        <div class="col-lg-3" style="border-right: 1px solid #5a5353;">
              <img src="/images/logo_doan.png" alt="Đoàn" style="max-width: 42%; float: left;">
              <img src="/images/logo_hoisv.png" alt="Đoàn" style="max-width: 45%;margin-top: 10px;">
        </div>
        <div class="col-lg-4" style="color: #f9c40b; border-right: 1px solid #5a5353; padding-top: 30px;">
              SẢN PHẨM CỦA HỘI SINH VIÊN TP.HỒ CHÍ MINH <br>
              thực hiện bởi HSV trường ĐH CÔNG NGHỆ THÔNG TIN <br>
        </div>
        <div class="col-lg-5" style="text-align: left; padding-top: 12px;">
          <p style="margin:0"><strong class="cl-y">Địa chỉ: </strong>Số 1, Phạm Ngọc Thạch, Bến Nghé, Quận 1.</p>
          <p style="margin:0"><strong class="cl-y">Số điện thoại: </strong>(028) 38 225 123</p>
          <p style="margin:0"><strong class="cl-y">Email VP HSV TP: </strong>vanphong@hoisinhvien.vn</p>
          <p style="margin:0"><strong class="cl-y">Email ĐH CNTT: </strong>hoisinhvien@uit.edu.vn</p>
        </div>
      </div>
      <hr>
      <p class='t-center' style="padding-bottom: 10px; margin: 0">Website được thiết kế bởi đội Chuyển giao Công nghệ - MHX 2018</p>
    </div>
  </div>
  <!-- .site-footer__primary -->
  <!-- .site-footer__secondary -->
</footer><!-- #colophone -->