<script>
    $('#noketqua h2').hide();
    $('#ketqua h2').hide();
    $('#section_tieubieu').hide();
    var skip = 0;
    $('#search_button').on('click', function () {
      $.ajax({
        url: '/search/mevnah',
        type: 'get',
        data: {
          find: $('#search_input').val(),
          districts: $('#districts1').val(),
          wards: $('#wards1').val(),
          skip: 0,
        },
        complete: function (res) {
          $('.offers_item').remove();
          $('.tim_kiem').show();
          $('#section_tieubieu').hide();
          skip = res.responseJSON.skip;
  
          $.each(res.responseJSON.mevnahList, function (index, item) {
            console.log(item);
            var suckhoe = '';
            if (item.page.healthStatus === "good") {
              suckhoe = 'Tốt'
            } else if (item.page.healthStatus === "weak") {
              suckhoe = 'Yếu'
            } else {
              suckhoe = 'Đã mất'
            }
            var birthday = "";
            if (item.page.birthday.date != "" && item.page.birthday.year != "" && item.page.birthday.month != "") {
              birthday = `<p class="listing__location c-dusty-gray">Ngày sinh: ${item.page.birthday.date}/${item.page.birthday.month}/${item.page.birthday.year}</p>`
            }
  
            var tombstone = ""
            if (item.page.dateOfDeath.date != "" && item.page.dateOfDeath.year != "" && item.page.dateOfDeath.month != "") {
              tombstone = `<p class="listing__location c-dusty-gray">Ngày mất: ${item.page.dateOfDeath.date}/${item.page.dateOfDeath.month}/${item.page.dateOfDeath.year}</p>`
            }
  
            $('.tim_kiem .offers_grid_result').append(
              '<div class="col-md-4 offers_item">' +
              '<div class="listing hover-effect">' +
              '<div class="listing__wrapper">' +
              '<div class="listing__thumbnail">' +
              '<a href="' + item.qrCodeID.directTo + '">' +
              '<img src="' + item.page.motherImageLink[0].imageLink + '" alt="' + item.name + '">' +
              '<span class="label label--primary">' + suckhoe + '</span>' +
              '<span class="favorite c-white">' +
              '<i class="fa fa-heart-o"></i>' +
              '</span>' +
              '</a>' +
              '</div>' +
              '<div class="listing__detail">' +
              '<h3 class="listing__title">' +
              '<a href="' + item.qrCodeID.directTo + '">' + item.name + '</a>' +
              '</h3>' +
              '<p class="listing__location c-dusty-gray">' +
              'Địa chỉ: ' +
              item.address.address +
              '</p>' +
              birthday +
              tombstone +
              '<p class="listing__location c-dusty-gray">' +
              'Quê quán: ' +
              item.page.homeTown +
              '</p>' +
              '<p class="listing__location c-dusty-gray">' +
              'Số con là liệt sĩ: ' +
              item.martyrs.length +
              '</p>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</div>'
            )
          })
  
          if (res.responseJSON.haveOther == false) {
            $('#show_more').hide()
          } else {
            $('#show_more').show()
          }
  
  
          if (res.responseJSON.mevnahList != '') {
            $('#noketqua h2').hide();
            $('#ketqua h2').show();
            $('#list_mevnah').show();
          } else {
            $('#ketqua h2').hide();
            $('#noketqua h2').show();
            $('#list_mevnah').hide();
  
            $('.intro').show();
            $('.milestones').show();
            $('.testimonials').show();
          }
        }
      })
  
    });
  
    $('#show_more').on('click', function () {
      let data = {
        find: $('.search_input').val(),
        districts: $('#districts1').val(),
        wards: $('#wards1').val(),
        skip,
      };
      $.ajax({
        url: '/search/mevnah',
        type: 'get',
        data,
        complete: function (res) {
          skip = res.responseJSON.skip;
  
          $.each(res.responseJSON.mevnahList, function (index, item) {
            var suckhoe = '';
            if (item.page.healthStatus === "good") {
              suckhoe = 'Tốt'
            } else if (item.page.healthStatus === "weak") {
              suckhoe = 'Yếu'
            } else {
              suckhoe = 'Đã mất'
            }
            var birthday = "";
            if (item.page.birthday.date != "" && item.page.birthday.year != "" && item.page.birthday.month != "") {
              birthday = `<p class="listing__location c-dusty-gray">Ngày sinh: ${item.page.birthday.date}/${item.page.birthday.month}/${item.page.birthday.year}</p>`
            }
  
            var tombstone = ""
            if (item.page.dateOfDeath.date != "" && item.page.dateOfDeath.year != "" && item.page.dateOfDeath.month != "") {
              tombstone = `<p class="listing__location c-dusty-gray">Ngày mất: ${item.page.dateOfDeath.date}/${item.page.dateOfDeath.month}/${item.page.dateOfDeath.year}</p>`
            }
  
            $('.tim_kiem .offers_grid_result').append(
              '<div class="col-md-4 offers_item">' +
              '<div class="listing hover-effect">' +
              '<div class="listing__wrapper">' +
              '<div class="listing__thumbnail">' +
              '<a href="' + item.qrCodeID.directTo + '">' +
              '<img src="' + item.page.motherImageLink[0].imageLink + '" alt="' + item.name + '">' +
              '<span class="label label--primary">' + suckhoe + '</span>' +
              '<span class="favorite c-white">' +
              '<i class="fa fa-heart-o"></i>' +
              '</span>' +
              '</a>' +
              '</div>' +
              '<div class="listing__detail">' +
              '<h3 class="listing__title">' +
              '<a href="' + item.qrCodeID.directTo + '">' + item.name + '</a>' +
              '</h3>' +
              '<p class="listing__location c-dusty-gray">' +
              'Địa chỉ: ' +
              item.address.address +
              '</p>' +
              birthday +
              tombstone +
              '<p class="listing__location c-dusty-gray">' +
              'Quê quán: ' +
              item.page.homeTown +
              '</p>' +
              '<p class="listing__location c-dusty-gray">' +
              'Số con là liệt sĩ: ' +
              item.martyrs.length +
              '</p>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</div>'
            )
          })
  
          if (res.responseJSON.haveOther == false) {
            $('#show_more').hide()
          } else {
            $('#show_more').show()
          }
  
  
        }
      })
    });
  
  </script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123669535-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
  
    gtag('config', 'UA-123669535-1');
  </script>
  <!--set time carousel-->
  <script>
    $('.carousel').carousel({
    interval: 5000
    })
  </script>
<script>
// popup - script
$('body').on('click', '#edit-popup-search-button', function () {
  $.ajax({
     url: '/search/mevnah',
     type: 'get',
     data: {
       find: $('#edit-popup-search-name').val(),
       districts: $('#edit-popup-search-district').val(),
       wards: $('#edit-popup-search-ward').val(),
       skip: 0,
     },
     complete: function (res) {
       $('.edit-popup__result-container--items').remove();
       $('.edit-popup-tim-kiem').show();
       skip = res.responseJSON.skip;

       $.each(res.responseJSON.mevnahList, function (index, item) {
         $('.edit-popup__result-container').append(
           '<div class="edit-popup__result-container--items">' +
           '<a href="' + item.qrCodeID.directTo + '">' +
           '<h6 style="font-weight:bold; color:rgb(238, 145, 6); ">' + item.name + '</h6>' +
           '<h6>' + item.posts.title + '</h6>' +
           '</a >' +
           '</div >'
         )
       })
     },
   })
 });
</script>